# 1. Let's merge the finishes to the main dataframe.  I think this will be easy????

In [1]:
import pandas as pd

In [2]:
#load both dataframes

finish_df = pd.read_csv('fight_finishes.csv')
master_df = pd.read_csv('../data/ufc-master.csv')

In [3]:
display(finish_df)
display(master_df)

                  R_fighter       B_fighter  finish finish_details        date
0             Calvin Kattar         Dan Ige     NaN            NaN   7/15/2020
1               Tim Elliott     Ryan Benoit     NaN            NaN   7/15/2020
2             Jimmie Rivera    Cody Stamann     NaN            NaN   7/15/2020
3              Molly McCann    Taila Santos     NaN            NaN   7/15/2020
4      Abdul Razak Alhassan   Mounir Lazzez     NaN            NaN   7/15/2020
...                     ...             ...     ...            ...         ...
11347          Kevin Rosier  Gerard Gordeau  KO/TKO            NaN  11/12/1993
11348         Patrick Smith    Ken Shamrock     SUB      Heel Hook  11/12/1993
11349         Art Jimmerson    Royce Gracie     SUB          Other  11/12/1993
11350          Zane Frazier    Kevin Rosier  KO/TKO            NaN  11/12/1993
11351            Teila Tuli  Gerard Gordeau  KO/TKO           Kick  11/12/1993

[11352 rows x 5 columns]

,R_fighter,B_fighter,R_odds,B_odds,R_ev,B_ev,date,location,country,Winner,...,B_Heavyweight_rank,B_Light Heavyweight_rank,B_Middleweight_rank,B_Welterweight_rank,B_Lightweight_rank,B_Featherweight_rank,B_Bantamweight_rank,B_Flyweight_rank,B_Pound-for-Pound_rank,better_rank
0,Kamaru Usman,Jorge Masvidal,-240,190,41.666667,190.000000,7/11/2020,"Abu Dhabi, Abu Dhabi, United Arab Emirates",United Arab Emirates,Red,...,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,Red
1,Alexander Volkanovski,Max Holloway,-210,170,47.619048,170.000000,7/11/2020,"Abu Dhabi, Abu Dhabi, United Arab Emirates",United Arab Emirates,Red,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,9.0,Red
2,Petr Yan,Jose Aldo,-215,175,46.511628,175.000000,7/11/2020,"Abu Dhabi, Abu Dhabi, United Arab Emirates",United Arab Emirates,Red,...,NaN,NaN,NaN,NaN,NaN,13.0,6.0,NaN,NaN,Red
3,Jessica Andrade,Rose Namajunas,175,-215,175.000000,46.511628,7/11/2020,"Abu Dhabi, Abu Dhabi, United Arab Emirates",United Arab Emirates,Blue,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0,Red
4,Amanda Ribas,Paige VanZant,-770,500,12.987013,500.000000,7/11/2020,"Abu Dhabi, Abu Dhabi, United Arab Emirates",United Arab Emirates,Red,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,neither
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4264,Duane Ludwig,Darren Elkins,-155,135,64.516129,135.000000,3/21/2010,"Broomfield, Colorado, USA",USA,Blue,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,neither
4265,John Howard,Daniel Roberts,-210,175,47.619048,175.000000,3/21/2010,"Broomfield, Colorado, USA",USA,Red,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,neither
4266,Brendan Schaub,Chase Gormley,-260,220,38.461538,220.000000,3/21/2010,"Broomfield, Colorado, USA",USA,Red,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,neither
4267,Mike Pierce,Julio Paulino,-420,335,23.809524,335.000000,3/21/2010,"Broomfield, Colorado, USA",USA,Red,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,neither
4268,Eric Schafer,Jason Brilz,140,-160,140.000000,62.500000,3/21/2010,"Broomfield, Colorado, USA",USA,Blue,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,neither

In [16]:
merge_df = pd.merge(master_df, finish_df, how='left') #Does this really work??? Seems like magic.

In [18]:
display(merge_df)

,R_fighter,B_fighter,R_odds,B_odds,R_ev,B_ev,date,location,country,Winner,...,B_Middleweight_rank,B_Welterweight_rank,B_Lightweight_rank,B_Featherweight_rank,B_Bantamweight_rank,B_Flyweight_rank,B_Pound-for-Pound_rank,better_rank,finish,finish_details
0,Kamaru Usman,Jorge Masvidal,-240,190,41.666667,190.000000,7/11/2020,"Abu Dhabi, Abu Dhabi, United Arab Emirates",United Arab Emirates,Red,...,NaN,3.0,NaN,NaN,NaN,NaN,NaN,Red,U-DEC,NaN
1,Alexander Volkanovski,Max Holloway,-210,170,47.619048,170.000000,7/11/2020,"Abu Dhabi, Abu Dhabi, United Arab Emirates",United Arab Emirates,Red,...,NaN,NaN,NaN,1.0,NaN,NaN,9.0,Red,S-DEC,NaN
2,Petr Yan,Jose Aldo,-215,175,46.511628,175.000000,7/11/2020,"Abu Dhabi, Abu Dhabi, United Arab Emirates",United Arab Emirates,Red,...,NaN,NaN,NaN,13.0,6.0,NaN,NaN,Red,KO/TKO,Punches
3,Jessica Andrade,Rose Namajunas,175,-215,175.000000,46.511628,7/11/2020,"Abu Dhabi, Abu Dhabi, United Arab Emirates",United Arab Emirates,Blue,...,NaN,NaN,NaN,NaN,NaN,NaN,6.0,Red,S-DEC,NaN
4,Amanda Ribas,Paige VanZant,-770,500,12.987013,500.000000,7/11/2020,"Abu Dhabi, Abu Dhabi, United Arab Emirates",United Arab Emirates,Red,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,neither,SUB,Armbar
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4264,Duane Ludwig,Darren Elkins,-155,135,64.516129,135.000000,3/21/2010,"Broomfield, Colorado, USA",USA,Blue,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,neither,KO/TKO,NaN
4265,John Howard,Daniel Roberts,-210,175,47.619048,175.000000,3/21/2010,"Broomfield, Colorado, USA",USA,Red,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,neither,KO/TKO,Punch
4266,Brendan Schaub,Chase Gormley,-260,220,38.461538,220.000000,3/21/2010,"Broomfield, Colorado, USA",USA,Red,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,neither,KO/TKO,Punches
4267,Mike Pierce,Julio Paulino,-420,335,23.809524,335.000000,3/21/2010,"Broomfield, Colorado, USA",USA,Red,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,neither,U-DEC,NaN
4268,Eric Schafer,Jason Brilz,140,-160,140.000000,62.500000,3/21/2010,"Broomfield, Colorado, USA",USA,Blue,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,neither,U-DEC,NaN

In [8]:
merge_df.to_csv('temp.csv', index=False)