In [25]:
import pandas as pd
import numpy as np
from functions import *
import random
import csv
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import GradientBoostingClassifier

In [65]:
#Load models
#REMINDER: We are going to need to use 'eval' to get the models usable
with open('models.csv', newline='') as f:
    reader = csv.reader(f)
    models = list(reader)
    
print(len(models))


###SELECT MODEL TO OPTIMIZE
model_num = 7

5

In [66]:
models

[['model_0',
  'model_1',
  'model_2',
  'model_3',
  'model_4',
  'model_06_13_20',
  'model_06_20_20',
  'model_6_27_20'],
 ["LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,\n                   intercept_scaling=1, l1_ratio=None, max_iter=50000,\n                   multi_class='auto', n_jobs=None, penalty='l2',\n                   random_state=75, solver='lbfgs', tol=5.993308915320019,\n                   verbose=0, warm_start=False)",
  "DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',\n                       max_depth=None, max_features=None, max_leaf_nodes=264,\n                       min_impurity_decrease=0.0, min_impurity_split=None,\n                       min_samples_leaf=1, min_samples_split=2,\n                       min_weight_fraction_leaf=0.0, presort='deprecated',\n                       random_state=75, splitter='best')",
  "RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,\n                       criterion='entropy', max_depth=None, max_features=None,\n                       max_leaf_nodes=5, max_samples=None,\n                       min_impurity_decrease=0.0, min_impurity_split=None,\n                       min_samples_leaf=1, min_samples_split=2,\n                       min_weight_fraction_leaf=0.0, n_estimators=5, n_jobs=-1,\n                       oob_score=False, random_state=75, verbose=0,\n                       warm_start=False)",
  "GradientBoostingClassifier(ccp_alpha=0.0, criterion='friedman_mse', init=None,\n                           learning_rate=0.1, loss='deviance', max_depth=3,\n                           max_features=None, max_leaf_nodes=None,\n                           min_impurity_decrease=0.0, min_impurity_split=None,\n                           min_samples_leaf=1, min_samples_split=2,\n                           min_weight_fraction_leaf=0.0, n_estimators=98,\n                           n_iter_no_change=None, presort='deprecated',\n                           random_state=75, subsample=1.0, tol=0.0001,\n                           validation_fraction=0.1, verbose=0,\n                           warm_start=False)",
  'GaussianNB(priors=None, var_smoothing=1e-12)',
  "LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,\n                   intercept_scaling=1, l1_ratio=None, max_iter=50000,\n                   multi_class='auto', n_jobs=None, penalty='l2',\n                   random_state=75, solver='lbfgs', tol=5.993308915320019,\n                   verbose=0, warm_start=False)",
  'GaussianNB(priors=None, var_smoothing=1e-09)',
  'GaussianNB(priors=None, var_smoothing=1e-09)'],
 ["['sig_str_dif', 'B_current_win_streak', 'B_Height_cms', 'R_win_by_TKO_Doctor_Stoppage', 'sub_dif', 'R_win_by_Submission', 'win_streak_dif', 'R_longest_win_streak', 'R_losses', 'B_longest_win_streak', 'R_total_title_bouts', 'empty_arena', 'R_current_win_streak', 'title_bout', 'R_avg_SIG_STR_pct', 'longest_win_streak_dif', 'age_dif', 'B_win_by_Decision_Majority', 'B_win_by_TKO_Doctor_Stoppage', 'R_win_by_Decision_Majority', 'R_odds', 'R_current_lose_streak', 'R_Reach_cms', 'B_draw', 'total_round_dif', 'R_ev', 'B_ev']",
  "['R_draw', 'B_current_win_streak', 'B_avg_TD_landed', 'R_longest_win_streak', 'avg_td_dif', 'B_win_by_Decision_Unanimous', 'age_dif', 'R_win_by_Decision_Majority', 'longest_win_streak_dif', 'B_fighter', 'B_avg_TD_pct', 'R_avg_SIG_STR_landed', 'B_win_by_Submission', 'R_Stance']",
  "['weight_class', 'B_Weight_lbs', 'B_fighter', 'R_win_by_KO/TKO', 'B_current_win_streak', 'R_Middleweight_rank']",
  "['R_current_lose_streak', 'B_win_by_TKO_Doctor_Stoppage', 'win_dif', 'B_win_by_Decision_Split', 'B_wins', 'R_Stance', 'B_age', 'B_Weight_lbs', 'R_ev', 'B_total_rounds_fought', 'location', 'R_odds', 'R_Reach_cms', 'R_Weight_lbs', 'R_current_win_streak', 'R_age', 'empty_arena', 'R_win_by_Decision_Split', 'R_draw', 'lose_streak_dif', 'B_draw']",
  "['ko_dif', 'R_win_by_Decision_Majority', 'longest_win_streak_dif', 'avg_sub_att_dif', 'R_win_by_Decision_Unanimous', 'R_Weight_lbs', 'sig_str_dif', 'B_Height_cms', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'B_draw', 'avg_td_dif', 'R_win_by_Decision_Split', 'age_dif', 'B_current_win_streak', 'R_odds']",
  "['B_win_by_Decision_Majority', 'B_win_by_TKO_Doctor_Stoppage', 'R_win_by_Decision_Majority', 'R_odds', 'R_current_lose_streak', 'R_Reach_cms', 'B_draw', 'total_round_dif', 'R_ev', 'B_ev']",
  "['R_win_by_Decision_Unanimous', 'B_win_by_Submission', 'R_Weight_lbs', 'sig_str_dif', 'B_Height_cms', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'height_dif', 'B_draw', 'avg_td_dif', 'R_win_by_Decision_Split', 'age_dif', 'B_current_win_streak', 'R_odds']",
  "['R_longest_win_streak', 'longest_win_streak_dif', 'reach_dif', 'avg_sub_att_dif', 'R_win_by_Decision_Unanimous', 'B_win_by_Submission', 'R_Weight_lbs', 'sig_str_dif', 'B_Height_cms', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'height_dif', 'B_draw', 'avg_td_dif', 'R_win_by_Decision_Split', 'age_dif', 'B_current_win_streak', 'R_odds']"],
 ['0', '27', '20', '0', '0', '0', '0', '0'],
 ['1970.8393122088257',
  '1920.43592832238',
  '-85.0',
  '1288.9474426589234',
  '2726.4064572035136',
  '1310.3420255633046',
  '2561.251996927251',
  '2920.280841']]

In [67]:
df = pd.read_csv("../data/ufc-master.csv")

In [68]:
#Let's put all the labels in a dataframe
df['label'] = ''
#If the winner is not Red or Blue we can remove it.
mask = df['Winner'] == 'Red'
df['label'][mask] = 0
mask = df['Winner'] == 'Blue'
df['label'][mask] = 1

#df["Winner"] = df["Winner"].astype('category')
df = df[(df['Winner'] == 'Blue') | (df['Winner'] == 'Red')]


#Make sure lable is numeric
df['label'] = pd.to_numeric(df['label'], errors='coerce')

D:\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
D:\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [69]:
#Let's fix the date
df['date'] = pd.to_datetime(df['date'])

In [70]:
#Create a label df:
label_df = df['label']

#Let's create an odds df too:
odds_df = df[['R_odds', 'B_odds']]

In [71]:
#Split the test set.  We are always(?) going to use the last 200 matches as the test set, so we don't want those around
#as we pick models

df_train = df[200:]
odds_train = odds_df[200:]
label_train = label_df[200:]

df_test = df[:200]
odds_test = odds_df[:200]
label_test = label_df[:200]

print(len(df_test))
print(len(odds_test))
print(len(label_test))

print(len(df_train))
print(len(odds_train))
print(len(label_train))

200
200
200
4056
4056
4056

In [72]:
display(df_train)
display(df_test)

,R_fighter,B_fighter,R_odds,B_odds,R_ev,B_ev,date,location,country,Winner,...,B_Light Heavyweight_rank,B_Middleweight_rank,B_Welterweight_rank,B_Lightweight_rank,B_Featherweight_rank,B_Bantamweight_rank,B_Flyweight_rank,B_Pound-for-Pound_rank,better_rank,label
200,Alex Caceres,Steven Peterson,-115,-105,86.956522,95.238095,2019-07-20,"San Antonio, Texas, USA",USA,Red,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,neither,0
201,Raquel Pennington,Irene Aldana,115,-135,115.000000,74.074074,2019-07-20,"San Antonio, Texas, USA",USA,Red,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Red,0
202,Sam Alvey,Klidson Abreu,145,-165,145.000000,60.606061,2019-07-20,"San Antonio, Texas, USA",USA,Blue,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,neither,1
203,Roxanne Modafferi,Jennifer Maia,110,-130,110.000000,76.923077,2019-07-20,"San Antonio, Texas, USA",USA,Blue,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Red,1
204,Ray Borg,Gabriel Silva,-185,160,54.054054,160.000000,2019-07-20,"San Antonio, Texas, USA",USA,Red,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,neither,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4251,Duane Ludwig,Darren Elkins,-155,135,64.516129,135.000000,2010-03-21,"Broomfield, Colorado, USA",USA,Blue,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,neither,1
4252,John Howard,Daniel Roberts,-210,175,47.619048,175.000000,2010-03-21,"Broomfield, Colorado, USA",USA,Red,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,neither,0
4253,Brendan Schaub,Chase Gormley,-260,220,38.461538,220.000000,2010-03-21,"Broomfield, Colorado, USA",USA,Red,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,neither,0
4254,Mike Pierce,Julio Paulino,-420,335,23.809524,335.000000,2010-03-21,"Broomfield, Colorado, USA",USA,Red,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,neither,0
4255,Eric Schafer,Jason Brilz,140,-160,140.000000,62.500000,2010-03-21,"Broomfield, Colorado, USA",USA,Blue,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,neither,1

,R_fighter,B_fighter,R_odds,B_odds,R_ev,B_ev,date,location,country,Winner,...,B_Light Heavyweight_rank,B_Middleweight_rank,B_Welterweight_rank,B_Lightweight_rank,B_Featherweight_rank,B_Bantamweight_rank,B_Flyweight_rank,B_Pound-for-Pound_rank,better_rank,label
0,Dustin Poirier,Dan Hooker,-225,180,44.444444,180.000000,2020-06-27,"Las Vegas, Nevada, USA",USA,Red,...,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,Red,0
1,Mike Perry,Mickey Gall,-315,235,31.746032,235.000000,2020-06-27,"Las Vegas, Nevada, USA",USA,Red,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,neither,0
2,Brendan Allen,Kyle Daukaus,-305,235,32.786885,235.000000,2020-06-27,"Las Vegas, Nevada, USA",USA,Red,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Red,0
3,Gian Villante,Maurice Greene,180,-230,180.000000,43.478261,2020-06-27,"Las Vegas, Nevada, USA",USA,Blue,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,neither,1
4,Luis Pena,Khama Worthy,-250,195,40.000000,195.000000,2020-06-27,"Las Vegas, Nevada, USA",USA,Blue,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,neither,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,Aleksei Oleinik,Walt Harris,130,-150,130.000000,66.666667,2019-07-20,"San Antonio, Texas, USA",USA,Blue,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Red,1
196,Greg Hardy,Juan Adams,-105,-115,95.238095,86.956522,2019-07-20,"San Antonio, Texas, USA",USA,Red,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,neither,0
197,James Vick,Dan Hooker,105,-125,105.000000,80.000000,2019-07-20,"San Antonio, Texas, USA",USA,Blue,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Red,1
198,Alexander Hernandez,Francisco Trinaldo,-250,210,40.000000,210.000000,2019-07-20,"San Antonio, Texas, USA",USA,Red,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Red,0
199,Andrei Arlovski,Ben Rothwell,155,-175,155.000000,57.142857,2019-07-20,"San Antonio, Texas, USA",USA,Red,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,neither,0

In [73]:
#1. Set features
#2. Set Hyperparameters
#3. Set EV
#4. Remove Features

In [74]:
models[1][model_num]

'GaussianNB(priors=None, var_smoothing=1e-09)'

In [75]:
test_model_name = models[0][model_num]
test_model = eval(models[1][model_num])
test_model_features = eval(models[2][model_num])
test_model_ev = eval(models[3][model_num])

In [56]:
old_test_model = test_model
old_test_model_features = test_model_features
old_test_model_ev = test_model_ev

In [57]:
print(df_test.columns.tolist()) #Keeps us from truncating

['R_fighter', 'B_fighter', 'R_odds', 'B_odds', 'R_ev', 'B_ev', 'date', 'location', 'country', 'Winner', 'title_bout', 'weight_class', 'gender', 'no_of_rounds', 'B_current_lose_streak', 'B_current_win_streak', 'B_draw', 'B_avg_SIG_STR_landed', 'B_avg_SIG_STR_pct', 'B_avg_SUB_ATT', 'B_avg_TD_landed', 'B_avg_TD_pct', 'B_longest_win_streak', 'B_losses', 'B_total_rounds_fought', 'B_total_title_bouts', 'B_win_by_Decision_Majority', 'B_win_by_Decision_Split', 'B_win_by_Decision_Unanimous', 'B_win_by_KO/TKO', 'B_win_by_Submission', 'B_win_by_TKO_Doctor_Stoppage', 'B_wins', 'B_Stance', 'B_Height_cms', 'B_Reach_cms', 'B_Weight_lbs', 'R_current_lose_streak', 'R_current_win_streak', 'R_draw', 'R_avg_SIG_STR_landed', 'R_avg_SIG_STR_pct', 'R_avg_SUB_ATT', 'R_avg_TD_landed', 'R_avg_TD_pct', 'R_longest_win_streak', 'R_losses', 'R_total_rounds_fought', 'R_total_title_bouts', 'R_win_by_Decision_Majority', 'R_win_by_Decision_Split', 'R_win_by_Decision_Unanimous', 'R_win_by_KO/TKO', 'R_win_by_Submission', 'R_win_by_TKO_Doctor_Stoppage', 'R_wins', 'R_Stance', 'R_Height_cms', 'R_Reach_cms', 'R_Weight_lbs', 'R_age', 'B_age', 'lose_streak_dif', 'win_streak_dif', 'longest_win_streak_dif', 'win_dif', 'loss_dif', 'total_round_dif', 'total_title_bout_dif', 'ko_dif', 'sub_dif', 'height_dif', 'reach_dif', 'age_dif', 'sig_str_dif', 'avg_sub_att_dif', 'avg_td_dif', 'empty_arena', 'constant_1', 'B_match_weightclass_rank', 'R_match_weightclass_rank', "R_Women's Flyweight_rank", "R_Women's Featherweight_rank", "R_Women's Strawweight_rank", "R_Women's Bantamweight_rank", 'R_Heavyweight_rank', 'R_Light Heavyweight_rank', 'R_Middleweight_rank', 'R_Welterweight_rank', 'R_Lightweight_rank', 'R_Featherweight_rank', 'R_Bantamweight_rank', 'R_Flyweight_rank', 'R_Pound-for-Pound_rank', "B_Women's Flyweight_rank", "B_Women's Featherweight_rank", "B_Women's Strawweight_rank", "B_Women's Bantamweight_rank", 'B_Heavyweight_rank', 'B_Light Heavyweight_rank', 'B_Middleweight_rank', 'B_Welterweight_rank', 'B_Lightweight_rank', 'B_Featherweight_rank', 'B_Bantamweight_rank', 'B_Flyweight_rank', 'B_Pound-for-Pound_rank', 'better_rank', 'label']

In [58]:
#1. set features
my_pos_features = ['R_fighter', 'B_fighter', 'R_odds', 'B_odds', 'R_ev', 'B_ev',
       'location', 'country', 'title_bout', 'weight_class', 'gender',
       'no_of_rounds', 'B_current_lose_streak', 'B_current_win_streak',
       'B_draw', 'B_avg_SIG_STR_landed', 'B_avg_SIG_STR_pct', 'B_avg_SUB_ATT',
       'B_avg_TD_landed', 'B_avg_TD_pct', 'B_longest_win_streak', 'B_losses',
       'B_total_rounds_fought', 'B_total_title_bouts',
       'B_win_by_Decision_Majority', 'B_win_by_Decision_Split',
       'B_win_by_Decision_Unanimous', 'B_win_by_KO/TKO', 'B_win_by_Submission',
       'B_win_by_TKO_Doctor_Stoppage', 'B_wins', 'B_Stance', 'B_Height_cms',
       'B_Reach_cms', 'B_Weight_lbs', 'R_current_lose_streak',
       'R_current_win_streak', 'R_draw', 'R_avg_SIG_STR_landed',
       'R_avg_SIG_STR_pct', 'R_avg_SUB_ATT', 'R_avg_TD_landed', 'R_avg_TD_pct',
       'R_longest_win_streak', 'R_losses', 'R_total_rounds_fought',
       'R_total_title_bouts', 'R_win_by_Decision_Majority',
       'R_win_by_Decision_Split', 'R_win_by_Decision_Unanimous',
       'R_win_by_KO/TKO', 'R_win_by_Submission',
       'R_win_by_TKO_Doctor_Stoppage', 'R_wins', 'R_Stance', 'R_Height_cms',
       'R_Reach_cms', 'R_Weight_lbs', 'R_age', 'B_age', 'lose_streak_dif',
       'win_streak_dif', 'longest_win_streak_dif', 'win_dif', 'loss_dif',
       'total_round_dif', 'total_title_bout_dif', 'ko_dif', 'sub_dif',
       'height_dif', 'reach_dif', 'age_dif', 'sig_str_dif', 'avg_sub_att_dif',
       'avg_td_dif', 'empty_arena', 'B_match_weightclass_rank', 'R_match_weightclass_rank', 
        "R_Women's Flyweight_rank", "R_Women's Featherweight_rank", "R_Women's Strawweight_rank",
        "R_Women's Bantamweight_rank", 'R_Heavyweight_rank', 'R_Light Heavyweight_rank', 
        'R_Middleweight_rank', 'R_Welterweight_rank', 'R_Lightweight_rank', 'R_Featherweight_rank', 
        'R_Bantamweight_rank', 'R_Flyweight_rank', 'R_Pound-for-Pound_rank', "B_Women's Flyweight_rank", 
        "B_Women's Featherweight_rank", "B_Women's Strawweight_rank", "B_Women's Bantamweight_rank", 
        'B_Heavyweight_rank', 'B_Light Heavyweight_rank', 'B_Middleweight_rank', 'B_Welterweight_rank', 
        'B_Lightweight_rank', 'B_Featherweight_rank', 'B_Bantamweight_rank', 'B_Flyweight_rank', 
        'B_Pound-for-Pound_rank', 'better_rank']

In [59]:
print(test_model_name)
print(test_model)
print(test_model_features)
print(test_model_ev)

model_06_20_20
GaussianNB(priors=None, var_smoothing=1e-09)
['R_win_by_Decision_Unanimous', 'B_win_by_Submission', 'R_Weight_lbs', 'sig_str_dif', 'B_Height_cms', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'height_dif', 'B_draw', 'avg_td_dif', 'R_win_by_Decision_Split', 'age_dif', 'B_current_win_streak', 'R_odds']
0

In [17]:
def save_model():
    score = evaluate_model(test_model, test_model_features, test_model_ev, df_train, label_train, odds_train, df_test, label_test,
                         odds_test, verbose = True)
    models[0][model_num] =  test_model_name 
    models[1][model_num] = test_model
    models[2][model_num] = test_model_features
    models[3][model_num] = test_model_ev
    models[4][model_num] = score    
    
    with open('models.csv', 'w', newline='') as outfile:
        writer = csv.writer(outfile)
        for row in models:
            print("HI")
            writer.writerow(row)

    outfile.close()

In [18]:
def print_model():
    print()
    print(test_model_name)
    print(test_model)
    print(test_model_features)
    print(test_model_ev)
    print()

In [19]:
keep_going = True
while(keep_going):
    #1. Set Features
    #get_best_features(pos_features, m, df, cur_features, labels, odds, scale=False)
    test_model_features = (get_best_features(my_pos_features, test_model, df_train, test_model_features, label_train, odds_train, 
                                             min_ev=test_model_ev))
    print_model()
    save_model()
    #2 Set hyperparameters
    #def tune_hyperparameters(input_model, input_features, input_df, input_labels, odds_input):
    test_model = tune_hyperparameters(test_model, test_model_features, df_train, label_train, odds_train, 
                                      min_ev=test_model_ev)
    print_model()
    save_model()
    #3. Set EV
    #def tune_ev(input_model, input_features, input_df, input_labels, odds_input, verbose=False):
    test_model_ev = tune_ev(test_model, test_model_features, df_train, label_train, odds_train, verbose=False)

    old_test_model_features = test_model_features #This prevents
                                                  #an uneccesary loop
    print_model()
    save_model()
    #4. Remove Features
    #def remove_to_improve(cur_features, m, df, labels, odds, scale=False, min_ev = 0):
    test_model_features = remove_to_improve(test_model_features, test_model, df_train, label_train, odds_train, min_ev = test_model_ev)    
    keep_going = False
    if old_test_model != test_model:
        print("The hyperparameters are different")
        print("OLD:")
        print(old_test_model)
        print("NEW:")
        print(test_model)
        keep_going = True
        old_test_model = test_model
    if old_test_model_features != test_model_features:
        print("The features are different")
        print("OLD:")
        print(old_test_model_features)
        print("NEW:")
        print(test_model_features)
        keep_going = True
        old_test_model_features = test_model_features
    if old_test_model_ev != test_model_ev:
        print("The EV is different")
        print("OLD:")
        print(old_test_model_ev)
        print("NEW:")
        print(test_model_ev)
        keep_going = True
        old_test_model_ev = test_model_ev
    print_model()
    save_model()

Current best score is: 17382.67238600922
Feature: B_Reach_cms Score: 18604.28903559756
Feature: R_win_by_Decision_Majority Score: 19158.58256272941
The best feature was R_win_by_Decision_Majority.  It scored 19158.58256272941
Current best score is: 19158.58256272941
Feature: B_win_by_KO/TKO Score: 20117.399302408026
Feature: ko_dif Score: 20501.85756335953
The best feature was ko_dif.  It scored 20501.85756335953
Current best score is: 20501.85756335953
NO IMPROVEMENT
FINAL BEST SCORE: 20501.85756335953

model_4
GaussianNB(priors=None, var_smoothing=1e-09)
['ko_dif', 'R_win_by_Decision_Majority', 'R_longest_win_streak', 'longest_win_streak_dif', 'reach_dif', 'avg_sub_att_dif', 'R_win_by_Decision_Unanimous', 'B_win_by_Submission', 'R_Weight_lbs', 'sig_str_dif', 'B_Height_cms', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'height_dif', 'B_draw', 'avg_td_dif', 'R_win_by_Decision_Split', 'age_dif', 'B_current_win_streak', 'R_odds']
0

(3224, 20)

(3224,)

(3224, 2)

(200, 20)

(200,)

(200, 2)

     t1_odds  t2_odds   t1_prob   t2_prob  winner
0       -225      180  0.008758  0.991242       0
1       -315      235  0.964661  0.035339       0
2       -305      235  0.988708  0.011292       0
3        180     -230  0.062380  0.937620       1
4       -250      195  0.709765  0.290235       1
..       ...      ...       ...       ...     ...
195      130     -150  0.817051  0.182949       1
196     -105     -115  0.558272  0.441728       0
197      105     -125  0.575953  0.424047       1
198     -250      210  0.908645  0.091355       0
199      155     -175  0.423230  0.576770       0

[200 rows x 5 columns]

          Number of matches: 200
          Number of bets: 192
          Number of winning bets: 124
          Number of losing bets: 68
          Number of underdog bets: 69
          Number of underdog wins: 35
          Number of underdog losses: 34
          Number of Favorite bets: 116
          Number of favorite wins: 84
          Number of favorite losses: 32
          Number of even bets: 7
          Number of even wins: 5
          Number of even losses: 2
          Profit: 2850.9673958404287
          Profit per bet: 14.848788520002232
          Profit per match: 14.254836979202144


HI
HI
HI
HI
HI


Starting New Run for GaussianNB


Previous Best Score: 20501.85756335953

NEW BEST SCORE
var_smoothing: 1e-12 Best Score: 20702.739916300703


var_smoothing: 1e-11 Score: 20702.739916300703
var_smoothing: 1e-10 Score: 20663.524230026193
var_smoothing: 1e-09 Score: 20501.85756335953
var_smoothing: 1e-08 Score: 20315.373701856217
var_smoothing: 1e-07 Score: 16299.860547158612
var_smoothing: 1e-06 Score: 9554.958442838182


Starting New Run for GaussianNB


Previous Best Score: 20702.739916300703
var_smoothing: 1e-12 Score: 20702.739916300703
var_smoothing: 1e-11 Score: 20702.739916300703
var_smoothing: 1e-10 Score: 20663.524230026193
var_smoothing: 1e-09 Score: 20501.85756335953
var_smoothing: 1e-08 Score: 20315.373701856217
var_smoothing: 1e-07 Score: 16299.860547158612
var_smoothing: 1e-06 Score: 9554.958442838182

model_4
GaussianNB(priors=None, var_smoothing=1e-12)
['ko_dif', 'R_win_by_Decision_Majority', 'R_longest_win_streak', 'longest_win_streak_dif', 'reach_dif', 'avg_sub_att_dif', 'R_win_by_Decision_Unanimous', 'B_win_by_Submission', 'R_Weight_lbs', 'sig_str_dif', 'B_Height_cms', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'height_dif', 'B_draw', 'avg_td_dif', 'R_win_by_Decision_Split', 'age_dif', 'B_current_win_streak', 'R_odds']
0

(3224, 20)

(3224,)

(3224, 2)

(200, 20)

(200,)

(200, 2)

     t1_odds  t2_odds   t1_prob   t2_prob  winner
0       -225      180  0.008552  0.991448       0
1       -315      235  0.964754  0.035246       0
2       -305      235  0.988744  0.011256       0
3        180     -230  0.062459  0.937541       1
4       -250      195  0.710190  0.289810       1
..       ...      ...       ...       ...     ...
195      130     -150  0.817398  0.182602       1
196     -105     -115  0.558767  0.441233       0
197      105     -125  0.576442  0.423558       1
198     -250      210  0.908813  0.091187       0
199      155     -175  0.423706  0.576294       0

[200 rows x 5 columns]

          Number of matches: 200
          Number of bets: 192
          Number of winning bets: 124
          Number of losing bets: 68
          Number of underdog bets: 69
          Number of underdog wins: 35
          Number of underdog losses: 34
          Number of Favorite bets: 116
          Number of favorite wins: 84
          Number of favorite losses: 32
          Number of even bets: 7
          Number of even wins: 5
          Number of even losses: 2
          Profit: 2850.9673958404287
          Profit per bet: 14.848788520002232
          Profit per match: 14.254836979202144


HI
HI
HI
HI
HI
0 20702.739916300703
1 19299.91303683521
2 18332.289004041802
3 17210.256493174886
4 17277.968776545702
5 17183.396342130378
6 16727.66733684695
7 16332.088135254744
8 15736.13297471807
9 16556.639543861667
10 18091.630893911508
11 17121.493644383823
12 17214.96070261817
13 15929.710215231567
14 15140.148370542358
15 14791.318245338049
16 14406.207797383608
17 14036.154029917092
18 14258.412808795438
19 13815.468649407621
20 14132.410718460813
21 14472.517635020078
22 14294.353758459567
23 14708.418102517207
24 14327.361679655318
25 14030.961931252592
26 13063.710843128783
27 11562.148733872047
28 11047.751385507547
29 10732.687963924674
30 11193.292647208811
31 10113.119054361077
32 10597.745045781538
33 9290.3213885153
34 9399.564508954823
35 8677.511200029037
36 8507.649706525095
37 8622.2368462048
38 8741.68650241053
39 9322.117593059013
40 9374.392602556307
41 7756.415416750299
42 8597.247642516735
43 8563.457338331105
44 8210.605327904495
45 7445.3672326664
46 5359.062096361262
47 6165.1630810668985
48 6115.416268118241
49 6304.143356070937
50 6315.820723647182
51 6760.820723647182
52 7424.9635807900395
53 7144.482912033509
54 6848.921386955855
55 6920.5751836096515
56 6691.610523652132
57 6404.943856985465
58 6697.682099135472
59 6593.6820991354725
60 6623.277375938757
61 6591.762224423606
62 6469.805702684475
63 6716.472369351142
64 6319.515847612012
65 5893.816922880829
66 5592.3402745291805
67 5313.0978502867565
68 5713.0978502867565
69 5525.058258971303
70 5298.149168062211
71 4988.149168062211
72 4714.269569400004
73 4573.360478490914
74 4063.1382562686913
75 3222.0641821946174
76 2962.0641821946174
77 3202.0641821946174
78 3432.0641821946174
79 3222.0641821946174
80 3606.826086956522
81 3561.826086956522
82 3171.826086956522
83 3237.826086956522
84 2895.8695652173915
85 3108.913043478261
86 3308.913043478261
87 3520.0
88 3600.0
89 3750.0
90 3845.0
91 3958.0
92 4043.0
93 3693.0
94 3803.0
95 3478.0
96 3743.0
97 4143.0
98 4123.0
99 3773.0
100 3448.0
101 3948.0
102 3833.0
103 3533.0
104 3623.0
105 3758.0
106 4058.0
107 4048.0
108 4033.0
109 3533.0
110 3698.0
111 3423.0
112 3058.0
113 3123.0
114 2608.0
115 2638.0
116 2613.0
117 2648.0
118 2628.0
119 2663.0
120 2368.0
121 2266.0
122 2366.0
123 2366.0
124 2218.0
125 1848.0
126 1948.0
127 2248.0
128 2248.0
129 2048.0
130 2418.0
131 2043.0
132 1995.0
133 2160.0
134 2360.0
135 2265.0
136 2170.0
137 2370.0
138 2470.0
139 2190.0
140 2490.0
141 2790.0
142 2890.0
143 3290.0
144 3290.0
145 3245.0
146 3045.0
147 2885.0
148 2815.0
149 2545.0
150 2495.0
151 2255.0
152 2455.0
153 2455.0
154 2455.0
155 2600.0
156 2640.0
157 2673.0
158 2703.0
159 2703.0
160 3003.0
161 3103.0
162 3038.0
163 3338.0
164 3163.0
165 2663.0
166 2663.0
167 2398.0
168 2078.0
169 2083.0
170 2183.0
171 2183.0
172 2048.0
173 1838.0
174 1938.0
175 1138.0
176 1238.0
177 1238.0
178 1338.0
179 1438.0
180 1348.0
181 1348.0
182 1123.0
183 1123.0
184 1423.0
185 1130.0
186 855.0
187 615.0
188 615.0
189 615.0
190 455.0
191 335.0
192 -135.0
193 -135.0
194 -135.0
195 -35.0
196 -35.0
197 -35.0
198 -90.0
199 10.0

model_4
GaussianNB(priors=None, var_smoothing=1e-12)
['ko_dif', 'R_win_by_Decision_Majority', 'R_longest_win_streak', 'longest_win_streak_dif', 'reach_dif', 'avg_sub_att_dif', 'R_win_by_Decision_Unanimous', 'B_win_by_Submission', 'R_Weight_lbs', 'sig_str_dif', 'B_Height_cms', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'height_dif', 'B_draw', 'avg_td_dif', 'R_win_by_Decision_Split', 'age_dif', 'B_current_win_streak', 'R_odds']
0

(3224, 20)

(3224,)

(3224, 2)

(200, 20)

(200,)

(200, 2)

     t1_odds  t2_odds   t1_prob   t2_prob  winner
0       -225      180  0.008552  0.991448       0
1       -315      235  0.964754  0.035246       0
2       -305      235  0.988744  0.011256       0
3        180     -230  0.062459  0.937541       1
4       -250      195  0.710190  0.289810       1
..       ...      ...       ...       ...     ...
195      130     -150  0.817398  0.182602       1
196     -105     -115  0.558767  0.441233       0
197      105     -125  0.576442  0.423558       1
198     -250      210  0.908813  0.091187       0
199      155     -175  0.423706  0.576294       0

[200 rows x 5 columns]

          Number of matches: 200
          Number of bets: 192
          Number of winning bets: 124
          Number of losing bets: 68
          Number of underdog bets: 69
          Number of underdog wins: 35
          Number of underdog losses: 34
          Number of Favorite bets: 116
          Number of favorite wins: 84
          Number of favorite losses: 32
          Number of even bets: 7
          Number of even wins: 5
          Number of even losses: 2
          Profit: 2850.9673958404287
          Profit per bet: 14.848788520002232
          Profit per match: 14.254836979202144


HI
HI
HI
HI
HI
The original score is 20702.739916300703
Score:  19155.700115064355
Score:  16612.30446997524
Score:  19429.484318872128
Score:  19199.141220515907
NEW BEST FEATURE SET
['ko_dif', 'R_win_by_Decision_Majority', 'R_longest_win_streak', 'longest_win_streak_dif', 'avg_sub_att_dif', 'R_win_by_Decision_Unanimous', 'B_win_by_Submission', 'R_Weight_lbs', 'sig_str_dif', 'B_Height_cms', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'height_dif', 'B_draw', 'avg_td_dif', 'R_win_by_Decision_Split', 'age_dif', 'B_current_win_streak', 'R_odds']
21389.941838089635
Score:  18746.870941283112
Score:  20594.145435989398
Score:  19886.959560746185
Score:  19728.066792575082
Score:  17099.5362700519
Score:  20553.974949334042
Score:  8855.700118310535
Score:  10865.634180363613
Score:  18907.15176261973
Score:  16111.857344226439
Score:  15185.171060253702
Score:  15834.102921254002
Score:  13010.910889183893
Score:  19511.877113742805
Score:  11745.388125762223
The original score is 21389.941838089635
Score:  20812.264788268105
Score:  17439.157191920418
NEW BEST FEATURE SET
['ko_dif', 'R_win_by_Decision_Majority', 'longest_win_streak_dif', 'avg_sub_att_dif', 'R_win_by_Decision_Unanimous', 'B_win_by_Submission', 'R_Weight_lbs', 'sig_str_dif', 'B_Height_cms', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'height_dif', 'B_draw', 'avg_td_dif', 'R_win_by_Decision_Split', 'age_dif', 'B_current_win_streak', 'R_odds']
23093.97857259444
Score:  20568.623044552143
Score:  18377.500185117897
Score:  21803.656148989085
Score:  20853.8380761231
Score:  20889.396111815193
Score:  19080.97377843361
Score:  20700.496189250596
Score:  9000.994447468269
Score:  10705.352223558832
Score:  20574.6384327648
Score:  19668.74024669095
Score:  18674.984784152337
Score:  17283.689927267133
Score:  14215.248184915736
Score:  18249.99408182607
Score:  13441.873059127294
The original score is 23093.97857259444
Score:  20955.86079159738
Score:  18981.279272148782
Score:  19918.315222437395
Score:  19946.278053755836
Score:  22086.925176837565
NEW BEST FEATURE SET
['ko_dif', 'R_win_by_Decision_Majority', 'longest_win_streak_dif', 'avg_sub_att_dif', 'R_win_by_Decision_Unanimous', 'R_Weight_lbs', 'sig_str_dif', 'B_Height_cms', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'height_dif', 'B_draw', 'avg_td_dif', 'R_win_by_Decision_Split', 'age_dif', 'B_current_win_streak', 'R_odds']
23204.08268972137
Score:  22316.454114119544
Score:  20613.580854511558
Score:  21926.541135987864
Score:  9840.762910373256
Score:  13548.571460660867
Score:  22388.375474624143
Score:  21086.918661876698
Score:  19049.039760079435
Score:  18263.13623448017
Score:  15978.420677359798
Score:  18904.358663763738
Score:  15737.760645868593
The original score is 23204.08268972137
Score:  20342.965036952293
Score:  18529.931445072558
Score:  19814.51362019266
Score:  19830.488690171576
Score:  21514.88405068624
Score:  20606.51368583089
Score:  19898.794802028016
Score:  21132.678716356386
Score:  11056.545916706771
Score:  11880.105985644765
NEW BEST FEATURE SET
['ko_dif', 'R_win_by_Decision_Majority', 'longest_win_streak_dif', 'avg_sub_att_dif', 'R_win_by_Decision_Unanimous', 'R_Weight_lbs', 'sig_str_dif', 'B_Height_cms', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'B_draw', 'avg_td_dif', 'R_win_by_Decision_Split', 'age_dif', 'B_current_win_streak', 'R_odds']
24185.472385813642
Score:  19661.531295942914
Score:  17944.61908038855
Score:  17363.061444115527
Score:  17459.175297240094
Score:  18290.77127172
Score:  16445.414627155144
The original score is 24185.472385813642
Score:  21945.629437737847
Score:  20187.171764350023
Score:  19499.806299628784
Score:  17468.02627776725
Score:  22147.492936043534
Score:  23272.496118253694
Score:  20176.115327227708
Score:  20431.56226349354
Score:  11869.135956339582
Score:  14589.62542370088
Score:  21809.59418764215
Score:  20431.586922377966
Score:  18571.675339879275
Score:  17124.86320908756
Score:  20158.42663324372
Score:  15890.102623845229
The hyperparameters are different
OLD:
GaussianNB(priors=None, var_smoothing=1e-09)
NEW:
GaussianNB(priors=None, var_smoothing=1e-12)
The features are different
OLD:
['ko_dif', 'R_win_by_Decision_Majority', 'R_longest_win_streak', 'longest_win_streak_dif', 'reach_dif', 'avg_sub_att_dif', 'R_win_by_Decision_Unanimous', 'B_win_by_Submission', 'R_Weight_lbs', 'sig_str_dif', 'B_Height_cms', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'height_dif', 'B_draw', 'avg_td_dif', 'R_win_by_Decision_Split', 'age_dif', 'B_current_win_streak', 'R_odds']
NEW:
['ko_dif', 'R_win_by_Decision_Majority', 'longest_win_streak_dif', 'avg_sub_att_dif', 'R_win_by_Decision_Unanimous', 'R_Weight_lbs', 'sig_str_dif', 'B_Height_cms', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'B_draw', 'avg_td_dif', 'R_win_by_Decision_Split', 'age_dif', 'B_current_win_streak', 'R_odds']

model_4
GaussianNB(priors=None, var_smoothing=1e-12)
['ko_dif', 'R_win_by_Decision_Majority', 'longest_win_streak_dif', 'avg_sub_att_dif', 'R_win_by_Decision_Unanimous', 'R_Weight_lbs', 'sig_str_dif', 'B_Height_cms', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'B_draw', 'avg_td_dif', 'R_win_by_Decision_Split', 'age_dif', 'B_current_win_streak', 'R_odds']
0

(3224, 16)

(3224,)

(3224, 2)

(200, 16)

(200,)

(200, 2)

     t1_odds  t2_odds   t1_prob   t2_prob  winner
0       -225      180  0.009459  0.990541       0
1       -315      235  0.972789  0.027211       0
2       -305      235  0.989996  0.010004       0
3        180     -230  0.085513  0.914487       1
4       -250      195  0.713676  0.286324       1
..       ...      ...       ...       ...     ...
195      130     -150  0.822298  0.177702       1
196     -105     -115  0.570434  0.429566       0
197      105     -125  0.533024  0.466976       1
198     -250      210  0.904101  0.095899       0
199      155     -175  0.384252  0.615748       0

[200 rows x 5 columns]

          Number of matches: 200
          Number of bets: 190
          Number of winning bets: 123
          Number of losing bets: 67
          Number of underdog bets: 70
          Number of underdog wins: 34
          Number of underdog losses: 36
          Number of Favorite bets: 112
          Number of favorite wins: 83
          Number of favorite losses: 29
          Number of even bets: 8
          Number of even wins: 6
          Number of even losses: 2
          Profit: 2726.4064572035136
          Profit per bet: 14.349507669492176
          Profit per match: 13.632032286017568


HI
HI
HI
HI
HI
Current best score is: 24185.472385813642
NO IMPROVEMENT
FINAL BEST SCORE: 24185.472385813642

model_4
GaussianNB(priors=None, var_smoothing=1e-12)
['ko_dif', 'R_win_by_Decision_Majority', 'longest_win_streak_dif', 'avg_sub_att_dif', 'R_win_by_Decision_Unanimous', 'R_Weight_lbs', 'sig_str_dif', 'B_Height_cms', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'B_draw', 'avg_td_dif', 'R_win_by_Decision_Split', 'age_dif', 'B_current_win_streak', 'R_odds']
0

(3224, 16)

(3224,)

(3224, 2)

(200, 16)

(200,)

(200, 2)

     t1_odds  t2_odds   t1_prob   t2_prob  winner
0       -225      180  0.009459  0.990541       0
1       -315      235  0.972789  0.027211       0
2       -305      235  0.989996  0.010004       0
3        180     -230  0.085513  0.914487       1
4       -250      195  0.713676  0.286324       1
..       ...      ...       ...       ...     ...
195      130     -150  0.822298  0.177702       1
196     -105     -115  0.570434  0.429566       0
197      105     -125  0.533024  0.466976       1
198     -250      210  0.904101  0.095899       0
199      155     -175  0.384252  0.615748       0

[200 rows x 5 columns]

          Number of matches: 200
          Number of bets: 190
          Number of winning bets: 123
          Number of losing bets: 67
          Number of underdog bets: 70
          Number of underdog wins: 34
          Number of underdog losses: 36
          Number of Favorite bets: 112
          Number of favorite wins: 83
          Number of favorite losses: 29
          Number of even bets: 8
          Number of even wins: 6
          Number of even losses: 2
          Profit: 2726.4064572035136
          Profit per bet: 14.349507669492176
          Profit per match: 13.632032286017568


HI
HI
HI
HI
HI


Starting New Run for GaussianNB


Previous Best Score: 24185.472385813642
var_smoothing: 1e-12 Score: 24185.472385813642
var_smoothing: 1e-11 Score: 24185.472385813642
var_smoothing: 1e-10 Score: 24085.47238581364
var_smoothing: 1e-09 Score: 23965.47238581364
var_smoothing: 1e-08 Score: 22702.522306884624
var_smoothing: 1e-07 Score: 21645.001240019374
var_smoothing: 1e-06 Score: 14068.108144985365

model_4
GaussianNB(priors=None, var_smoothing=1e-12)
['ko_dif', 'R_win_by_Decision_Majority', 'longest_win_streak_dif', 'avg_sub_att_dif', 'R_win_by_Decision_Unanimous', 'R_Weight_lbs', 'sig_str_dif', 'B_Height_cms', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'B_draw', 'avg_td_dif', 'R_win_by_Decision_Split', 'age_dif', 'B_current_win_streak', 'R_odds']
0

(3224, 16)

(3224,)

(3224, 2)

(200, 16)

(200,)

(200, 2)

     t1_odds  t2_odds   t1_prob   t2_prob  winner
0       -225      180  0.009459  0.990541       0
1       -315      235  0.972789  0.027211       0
2       -305      235  0.989996  0.010004       0
3        180     -230  0.085513  0.914487       1
4       -250      195  0.713676  0.286324       1
..       ...      ...       ...       ...     ...
195      130     -150  0.822298  0.177702       1
196     -105     -115  0.570434  0.429566       0
197      105     -125  0.533024  0.466976       1
198     -250      210  0.904101  0.095899       0
199      155     -175  0.384252  0.615748       0

[200 rows x 5 columns]

          Number of matches: 200
          Number of bets: 190
          Number of winning bets: 123
          Number of losing bets: 67
          Number of underdog bets: 70
          Number of underdog wins: 34
          Number of underdog losses: 36
          Number of Favorite bets: 112
          Number of favorite wins: 83
          Number of favorite losses: 29
          Number of even bets: 8
          Number of even wins: 6
          Number of even losses: 2
          Profit: 2726.4064572035136
          Profit per bet: 14.349507669492176
          Profit per match: 13.632032286017568


HI
HI
HI
HI
HI
0 24185.472385813642
1 22464.328700596634
2 22464.45066553818
3 21576.396794909928
4 21180.839518744717
5 19536.192667105868
6 18862.512370347893
7 18751.249522746068
8 18697.505813316344
9 19890.70414355218
10 20606.345960547613
11 19038.635448483306
12 17984.04452072024
13 17009.76677107156
14 16615.57822686007
15 15818.07685023786
16 15491.476575610439
17 15807.112417265034
18 15608.402099383498
19 15102.213681893078
20 15158.568189161439
21 15714.03340023744
22 15269.825010755863
23 14814.135545866553
24 13773.134655523208
25 13370.441586540597
26 10962.718920011452
27 10321.243079607199
28 9990.86104385139
29 10263.090309074509
30 10322.426624933076
31 10275.679825327694
32 10140.63234029917
33 10529.848933864148
34 10527.617402827622
35 10459.395793310443
36 10079.850540545503
37 9978.981174195455
38 9710.88382069409
39 9670.290264210144
40 8656.534135004804
41 8338.758226965863
42 8385.541146472922
43 8484.689557261598
44 8143.786149075582
45 8054.60990538321
46 8682.967049402607
47 8293.214680754889
48 8257.504660943745
49 9052.34538289598
50 8677.854228888697
51 8316.425657460124
52 9321.187562222029
53 9139.434315468781
54 9176.774200808668
55 7882.7570017914695
56 8180.22091326252
57 8074.440862111625
58 7648.834801505566
59 7625.483153153917
60 7107.927892322793
61 7312.805702684475
62 6887.805702684475
63 7227.805702684475
64 6794.472369351142
65 7227.344873191389
66 7277.344873191389
67 8044.011539858055
68 7963.020927209834
69 7334.98133589438
70 6549.072244985289
71 6626.240077153121
72 6716.317000230044
73 6616.317000230044
74 6049.094778007821
75 5970.020703933747
76 5685.020703933747
77 5810.020703933747
78 6065.020703933747
79 5642.826086956522
80 5862.826086956522
81 5898.826086956522
82 6273.826086956522
83 5971.869565217392
84 5584.913043478261
85 5339.913043478261
86 4977.913043478261
87 4889.0
88 4984.0
89 5559.0
90 5599.0
91 5899.0
92 5565.0
93 5945.0
94 5530.0
95 5233.0
96 5618.0
97 6018.0
98 5358.0
99 5351.0
100 4636.0
101 5036.0
102 5336.0
103 5031.0
104 5146.0
105 5291.0
106 5001.0
107 4771.0
108 4971.0
109 4636.0
110 4701.0
111 4366.0
112 4181.0
113 3906.0
114 4106.0
115 4358.0
116 4138.0
117 4003.0
118 2973.0
119 2688.0
120 3068.0
121 2523.0
122 2328.0
123 2428.0
124 2153.0
125 2098.0
126 2198.0
127 2168.0
128 2083.0
129 2183.0
130 2198.0
131 2398.0
132 2578.0
133 2543.0
134 2543.0
135 2378.0
136 2378.0
137 2678.0
138 2678.0
139 2498.0
140 2598.0
141 2538.0
142 2738.0
143 2738.0
144 2938.0
145 2893.0
146 2733.0
147 2833.0
148 2933.0
149 3233.0
150 3013.0
151 3013.0
152 2943.0
153 3143.0
154 3243.0
155 3188.0
156 3021.0
157 3061.0
158 2761.0
159 2761.0
160 2861.0
161 2656.0
162 2581.0
163 2581.0
164 2433.0
165 2303.0
166 2303.0
167 1963.0
168 2068.0
169 1858.0
170 1958.0
171 2058.0
172 2258.0
173 2033.0
174 2133.0
175 1883.0
176 1748.0
177 1848.0
178 1948.0
179 1948.0
180 1428.0
181 1528.0
182 1323.0
183 1058.0
184 1058.0
185 730.0
186 830.0
187 830.0
188 830.0
189 830.0
190 930.0
191 1030.0
192 1030.0
193 1130.0
194 915.0
195 915.0
196 465.0
197 465.0
198 565.0
199 665.0

model_4
GaussianNB(priors=None, var_smoothing=1e-12)
['ko_dif', 'R_win_by_Decision_Majority', 'longest_win_streak_dif', 'avg_sub_att_dif', 'R_win_by_Decision_Unanimous', 'R_Weight_lbs', 'sig_str_dif', 'B_Height_cms', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'B_draw', 'avg_td_dif', 'R_win_by_Decision_Split', 'age_dif', 'B_current_win_streak', 'R_odds']
0

(3224, 16)

(3224,)

(3224, 2)

(200, 16)

(200,)

(200, 2)

     t1_odds  t2_odds   t1_prob   t2_prob  winner
0       -225      180  0.009459  0.990541       0
1       -315      235  0.972789  0.027211       0
2       -305      235  0.989996  0.010004       0
3        180     -230  0.085513  0.914487       1
4       -250      195  0.713676  0.286324       1
..       ...      ...       ...       ...     ...
195      130     -150  0.822298  0.177702       1
196     -105     -115  0.570434  0.429566       0
197      105     -125  0.533024  0.466976       1
198     -250      210  0.904101  0.095899       0
199      155     -175  0.384252  0.615748       0

[200 rows x 5 columns]

          Number of matches: 200
          Number of bets: 190
          Number of winning bets: 123
          Number of losing bets: 67
          Number of underdog bets: 70
          Number of underdog wins: 34
          Number of underdog losses: 36
          Number of Favorite bets: 112
          Number of favorite wins: 83
          Number of favorite losses: 29
          Number of even bets: 8
          Number of even wins: 6
          Number of even losses: 2
          Profit: 2726.4064572035136
          Profit per bet: 14.349507669492176
          Profit per match: 13.632032286017568


HI
HI
HI
HI
HI
The original score is 24185.472385813642
Score:  21945.629437737847
Score:  20187.171764350023
Score:  19499.806299628784
Score:  17468.02627776725
Score:  22147.492936043534
Score:  23272.496118253694
Score:  20176.115327227708
Score:  20431.56226349354
Score:  11869.135956339582
Score:  14589.62542370088
Score:  21809.59418764215
Score:  20431.586922377966
Score:  18571.675339879275
Score:  17124.86320908756
Score:  20158.42663324372
Score:  15890.102623845229

model_4
GaussianNB(priors=None, var_smoothing=1e-12)
['ko_dif', 'R_win_by_Decision_Majority', 'longest_win_streak_dif', 'avg_sub_att_dif', 'R_win_by_Decision_Unanimous', 'R_Weight_lbs', 'sig_str_dif', 'B_Height_cms', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'B_draw', 'avg_td_dif', 'R_win_by_Decision_Split', 'age_dif', 'B_current_win_streak', 'R_odds']
0

(3224, 16)

(3224,)

(3224, 2)

(200, 16)

(200,)

(200, 2)

     t1_odds  t2_odds   t1_prob   t2_prob  winner
0       -225      180  0.009459  0.990541       0
1       -315      235  0.972789  0.027211       0
2       -305      235  0.989996  0.010004       0
3        180     -230  0.085513  0.914487       1
4       -250      195  0.713676  0.286324       1
..       ...      ...       ...       ...     ...
195      130     -150  0.822298  0.177702       1
196     -105     -115  0.570434  0.429566       0
197      105     -125  0.533024  0.466976       1
198     -250      210  0.904101  0.095899       0
199      155     -175  0.384252  0.615748       0

[200 rows x 5 columns]

          Number of matches: 200
          Number of bets: 190
          Number of winning bets: 123
          Number of losing bets: 67
          Number of underdog bets: 70
          Number of underdog wins: 34
          Number of underdog losses: 36
          Number of Favorite bets: 112
          Number of favorite wins: 83
          Number of favorite losses: 29
          Number of even bets: 8
          Number of even wins: 6
          Number of even losses: 2
          Profit: 2726.4064572035136
          Profit per bet: 14.349507669492176
          Profit per match: 13.632032286017568


HI
HI
HI
HI
HI

In [60]:
#Get new score:
#def evaluate_model(input_model, input_features, input_ev, train_df, train_labels, train_odds, test_df, test_labels, test_odds, verbose=True):
score = evaluate_model(test_model, test_model_features, test_model_ev, df_train, label_train, odds_train, df_test, label_test,
                         odds_test, verbose = True)

(3224, 14)

(3224,)

(3224, 2)

(200, 14)

(200,)

(200, 2)

     t1_odds  t2_odds   t1_prob   t2_prob  winner
0       -225      180  0.719835  0.280165       0
1       -315      235  0.902719  0.097281       0
2       -305      235  0.989299  0.010701       0
3        180     -230  0.083414  0.916586       1
4       -250      195  0.675461  0.324539       1
..       ...      ...       ...       ...     ...
195      130     -150  0.437889  0.562111       1
196     -105     -115  0.595720  0.404280       0
197      105     -125  0.511191  0.488809       1
198     -250      210  0.821491  0.178509       0
199      155     -175  0.422259  0.577741       0

[200 rows x 5 columns]

          Number of matches: 200
          Number of bets: 189
          Number of winning bets: 122
          Number of losing bets: 67
          Number of underdog bets: 69
          Number of underdog wins: 33
          Number of underdog losses: 36
          Number of Favorite bets: 113
          Number of favorite wins: 84
          Number of favorite losses: 29
          Number of even bets: 7
          Number of even wins: 5
          Number of even losses: 2
          Profit: 2561.251996927251
          Profit per bet: 13.551597867339954
          Profit per match: 12.806259984636256

print(test_model_name) 
print(models[0][model_num])
print()
print(test_model)
print(eval(models[1][model_num]))
print()
print(test_model_features) 
print(eval(models[2][model_num]))
print()
print(test_model_ev)
print(eval(models[3][model_num]))

In [61]:
models[0][model_num] =  test_model_name 
models[1][model_num] = test_model
models[2][model_num] = test_model_features
models[3][model_num] = test_model_ev
models[4][model_num] = score

In [62]:
with open('models.csv', 'w', newline='') as outfile:
    writer = csv.writer(outfile)
    for row in models:
        print("HI")
        writer.writerow(row)
    
outfile.close()

HI
HI
HI
HI
HI

In [63]:
with open('models.csv', newline='') as f:
    reader = csv.reader(f)
    data = list(reader)
    
print(len(data))

5

In [64]:
data

[['model_0',
  'model_1',
  'model_2',
  'model_3',
  'model_4',
  'model_06_13_20',
  'model_06_20_20',
  'model_6_27_20'],
 ["LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,\n                   intercept_scaling=1, l1_ratio=None, max_iter=50000,\n                   multi_class='auto', n_jobs=None, penalty='l2',\n                   random_state=75, solver='lbfgs', tol=5.993308915320019,\n                   verbose=0, warm_start=False)",
  "DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',\n                       max_depth=None, max_features=None, max_leaf_nodes=264,\n                       min_impurity_decrease=0.0, min_impurity_split=None,\n                       min_samples_leaf=1, min_samples_split=2,\n                       min_weight_fraction_leaf=0.0, presort='deprecated',\n                       random_state=75, splitter='best')",
  "RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,\n                       criterion='entropy', max_depth=None, max_features=None,\n                       max_leaf_nodes=5, max_samples=None,\n                       min_impurity_decrease=0.0, min_impurity_split=None,\n                       min_samples_leaf=1, min_samples_split=2,\n                       min_weight_fraction_leaf=0.0, n_estimators=5, n_jobs=-1,\n                       oob_score=False, random_state=75, verbose=0,\n                       warm_start=False)",
  "GradientBoostingClassifier(ccp_alpha=0.0, criterion='friedman_mse', init=None,\n                           learning_rate=0.1, loss='deviance', max_depth=3,\n                           max_features=None, max_leaf_nodes=None,\n                           min_impurity_decrease=0.0, min_impurity_split=None,\n                           min_samples_leaf=1, min_samples_split=2,\n                           min_weight_fraction_leaf=0.0, n_estimators=98,\n                           n_iter_no_change=None, presort='deprecated',\n                           random_state=75, subsample=1.0, tol=0.0001,\n                           validation_fraction=0.1, verbose=0,\n                           warm_start=False)",
  'GaussianNB(priors=None, var_smoothing=1e-12)',
  "LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,\n                   intercept_scaling=1, l1_ratio=None, max_iter=50000,\n                   multi_class='auto', n_jobs=None, penalty='l2',\n                   random_state=75, solver='lbfgs', tol=5.993308915320019,\n                   verbose=0, warm_start=False)",
  'GaussianNB(priors=None, var_smoothing=1e-09)',
  'GaussianNB(priors=None, var_smoothing=1e-09)'],
 ["['sig_str_dif', 'B_current_win_streak', 'B_Height_cms', 'R_win_by_TKO_Doctor_Stoppage', 'sub_dif', 'R_win_by_Submission', 'win_streak_dif', 'R_longest_win_streak', 'R_losses', 'B_longest_win_streak', 'R_total_title_bouts', 'empty_arena', 'R_current_win_streak', 'title_bout', 'R_avg_SIG_STR_pct', 'longest_win_streak_dif', 'age_dif', 'B_win_by_Decision_Majority', 'B_win_by_TKO_Doctor_Stoppage', 'R_win_by_Decision_Majority', 'R_odds', 'R_current_lose_streak', 'R_Reach_cms', 'B_draw', 'total_round_dif', 'R_ev', 'B_ev']",
  "['R_draw', 'B_current_win_streak', 'B_avg_TD_landed', 'R_longest_win_streak', 'avg_td_dif', 'B_win_by_Decision_Unanimous', 'age_dif', 'R_win_by_Decision_Majority', 'longest_win_streak_dif', 'B_fighter', 'B_avg_TD_pct', 'R_avg_SIG_STR_landed', 'B_win_by_Submission', 'R_Stance']",
  "['weight_class', 'B_Weight_lbs', 'B_fighter', 'R_win_by_KO/TKO', 'B_current_win_streak', 'R_Middleweight_rank']",
  "['R_current_lose_streak', 'B_win_by_TKO_Doctor_Stoppage', 'win_dif', 'B_win_by_Decision_Split', 'B_wins', 'R_Stance', 'B_age', 'B_Weight_lbs', 'R_ev', 'B_total_rounds_fought', 'location', 'R_odds', 'R_Reach_cms', 'R_Weight_lbs', 'R_current_win_streak', 'R_age', 'empty_arena', 'R_win_by_Decision_Split', 'R_draw', 'lose_streak_dif', 'B_draw']",
  "['ko_dif', 'R_win_by_Decision_Majority', 'longest_win_streak_dif', 'avg_sub_att_dif', 'R_win_by_Decision_Unanimous', 'R_Weight_lbs', 'sig_str_dif', 'B_Height_cms', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'B_draw', 'avg_td_dif', 'R_win_by_Decision_Split', 'age_dif', 'B_current_win_streak', 'R_odds']",
  "['B_win_by_Decision_Majority', 'B_win_by_TKO_Doctor_Stoppage', 'R_win_by_Decision_Majority', 'R_odds', 'R_current_lose_streak', 'R_Reach_cms', 'B_draw', 'total_round_dif', 'R_ev', 'B_ev']",
  "['R_win_by_Decision_Unanimous', 'B_win_by_Submission', 'R_Weight_lbs', 'sig_str_dif', 'B_Height_cms', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'height_dif', 'B_draw', 'avg_td_dif', 'R_win_by_Decision_Split', 'age_dif', 'B_current_win_streak', 'R_odds']",
  "['R_longest_win_streak', 'longest_win_streak_dif', 'reach_dif', 'avg_sub_att_dif', 'R_win_by_Decision_Unanimous', 'B_win_by_Submission', 'R_Weight_lbs', 'sig_str_dif', 'B_Height_cms', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'height_dif', 'B_draw', 'avg_td_dif', 'R_win_by_Decision_Split', 'age_dif', 'B_current_win_streak', 'R_odds']"],
 ['0', '27', '20', '0', '0', '0', '0', '0'],
 ['1970.8393122088257',
  '1920.43592832238',
  '-85.0',
  '1288.9474426589234',
  '2726.4064572035136',
  '1310.3420255633046',
  '2561.251996927251',
  '2920.280841']]