In [1]:
import pandas as pd
import numpy as np
from functions import *
import random
import csv
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import GradientBoostingClassifier

In [171]:
#Load models
#REMINDER: We are going to need to use 'eval' to get the models usable
with open('models.csv', newline='') as f:
    reader = csv.reader(f)
    models = list(reader)
    
print(len(models))


###SELECT MODEL TO OPTIMIZE
model_num = 11

5

In [172]:
models

[['model_0',
  'model_1',
  'model_2',
  'model_3',
  'model_4',
  'model_06_13_20',
  'model_06_20_20',
  'model_6_27_20',
  'model_7_18_20',
  'model_7_25_20',
  'model_9_2_20',
  'model_9_10_20'],
 ['LogisticRegression(max_iter=50000, random_state=75, tol=5.993308915320019)',
  'DecisionTreeClassifier(max_depth=96, max_leaf_nodes=570, random_state=75)',
  "RandomForestClassifier(criterion='entropy', max_depth=10, n_estimators=197,\n                       n_jobs=-1, random_state=75)",
  'GradientBoostingClassifier(n_estimators=122, random_state=75)',
  'GaussianNB(var_smoothing=1e-10)',
  'LogisticRegression(max_iter=50000, random_state=75, tol=5.993308915320019)',
  'GaussianNB()',
  'GaussianNB()',
  'GradientBoostingClassifier(n_estimators=122, random_state=75)',
  'GaussianNB()',
  'GaussianNB(var_smoothing=1e-12)',
  'GaussianNB(var_smoothing=1e-12)'],
 ['[\'B_Flyweight_rank\', \'R_Light Heavyweight_rank\', \'R_Middleweight_rank\', \'R_wins\', \'R_avg_SIG_STR_pct\', "R_Women\'s Flyweight_rank", \'R_avg_TD_landed\', \'B_longest_win_streak\', \'R_losses\', \'B_Lightweight_rank\', \'avg_sub_att_dif\', \'R_win_by_Decision_Split\', \'R_Flyweight_rank\', \'B_Welterweight_rank\', \'R_Heavyweight_rank\', \'R_current_win_streak\', \'B_Light Heavyweight_rank\', \'win_streak_dif\', \'R_win_by_TKO_Doctor_Stoppage\', \'B_current_win_streak\', \'age_dif\', \'B_win_by_Decision_Majority\', \'R_win_by_Decision_Majority\', \'R_odds\', \'R_current_lose_streak\', \'R_Reach_cms\', \'B_draw\', \'total_round_dif\', \'R_ev\', \'B_ev\']',
  '[\'B_current_lose_streak\', \'B_win_by_KO/TKO\', \'B_Middleweight_rank\', \'B_total_title_bouts\', "R_Women\'s Flyweight_rank", \'R_age\', \'R_avg_SIG_STR_pct\', \'B_Stance\', \'R_Heavyweight_rank\', \'R_Flyweight_rank\', \'R_losses\', \'B_avg_SIG_STR_pct\', \'R_draw\', \'B_draw\', "B_Women\'s Flyweight_rank", "R_Women\'s Bantamweight_rank", \'gender\', \'R_avg_SUB_ATT\', \'age_dif\']',
  "['B_wins', 'R_ev', 'sig_str_dif']",
  '["B_Women\'s Featherweight_rank", \'lose_streak_dif\', \'B_total_title_bouts\', \'B_Welterweight_rank\', \'B_Middleweight_rank\', \'B_win_by_TKO_Doctor_Stoppage\', \'R_avg_SIG_STR_landed\', \'B_odds\', \'sig_str_dif\']',
  "['sub_dif', 'height_dif', 'B_Bantamweight_rank', 'better_rank', 'total_round_dif', 'B_Weight_lbs', 'B_avg_TD_landed', 'B_Light Heavyweight_rank', 'B_Lightweight_rank', 'R_avg_TD_landed', 'R_Middleweight_rank', 'R_Height_cms', 'R_avg_SIG_STR_pct', 'B_age', 'lose_streak_dif', 'R_win_by_Decision_Majority', 'longest_win_streak_dif', 'avg_sub_att_dif', 'sig_str_dif', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'B_draw', 'R_win_by_Decision_Split', 'age_dif', 'R_odds']",
  "['B_win_by_Decision_Majority', 'B_win_by_TKO_Doctor_Stoppage', 'R_win_by_Decision_Majority', 'R_odds', 'R_current_lose_streak', 'R_Reach_cms', 'B_draw', 'total_round_dif', 'R_ev', 'B_ev']",
  "['R_win_by_Decision_Unanimous', 'B_win_by_Submission', 'R_Weight_lbs', 'sig_str_dif', 'B_Height_cms', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'height_dif', 'B_draw', 'avg_td_dif', 'R_win_by_Decision_Split', 'age_dif', 'B_current_win_streak', 'R_odds']",
  "['R_longest_win_streak', 'longest_win_streak_dif', 'reach_dif', 'avg_sub_att_dif', 'R_win_by_Decision_Unanimous', 'B_win_by_Submission', 'R_Weight_lbs', 'sig_str_dif', 'B_Height_cms', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'height_dif', 'B_draw', 'avg_td_dif', 'R_win_by_Decision_Split', 'age_dif', 'B_current_win_streak', 'R_odds']",
  "['B_current_win_streak', 'R_win_by_Submission', 'B_win_by_Decision_Unanimous', 'R_win_by_Decision_Unanimous', 'R_current_lose_streak', 'B_win_by_TKO_Doctor_Stoppage', 'win_dif', 'B_win_by_Decision_Split', 'B_wins', 'R_Stance', 'B_age', 'B_Weight_lbs', 'R_ev', 'B_total_rounds_fought', 'location', 'R_odds', 'R_Reach_cms', 'R_Weight_lbs', 'R_current_win_streak', 'R_age', 'empty_arena', 'R_win_by_Decision_Split', 'R_draw', 'lose_streak_dif', 'B_draw']",
  "['R_Reach_cms', 'total_round_dif', 'R_Height_cms', 'R_avg_SIG_STR_pct', 'B_age', 'R_longest_win_streak', 'lose_streak_dif', 'ko_dif', 'R_win_by_Decision_Majority', 'longest_win_streak_dif', 'avg_sub_att_dif', 'R_Weight_lbs', 'sig_str_dif', 'B_Height_cms', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'B_draw', 'avg_td_dif', 'R_win_by_Decision_Split', 'age_dif', 'B_current_win_streak', 'R_odds']",
  "['win_streak_dif', 'B_Light Heavyweight_rank', 'B_Lightweight_rank', 'R_avg_TD_landed', 'R_Middleweight_rank', 'total_round_dif', 'R_Height_cms', 'R_avg_SIG_STR_pct', 'B_age', 'R_longest_win_streak', 'lose_streak_dif', 'R_win_by_Decision_Majority', 'longest_win_streak_dif', 'avg_sub_att_dif', 'R_Weight_lbs', 'sig_str_dif', 'B_Height_cms', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'B_draw', 'avg_td_dif', 'R_win_by_Decision_Split', 'age_dif', 'R_odds']",
  "['B_Weight_lbs', 'B_Flyweight_rank', 'B_avg_TD_landed', 'B_Light Heavyweight_rank', 'B_Lightweight_rank', 'R_avg_TD_landed', 'R_Middleweight_rank', 'R_Height_cms', 'R_avg_SIG_STR_pct', 'B_age', 'R_longest_win_streak', 'lose_streak_dif', 'R_win_by_Decision_Majority', 'longest_win_streak_dif', 'avg_sub_att_dif', 'sig_str_dif', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'B_draw', 'R_win_by_Decision_Split', 'age_dif', 'R_odds']"],
 ['0', '63', '0', '2', '1', '0', '0', '0', '0', '1', '3', '2'],
 ['1223.343762',
  '-41.89066035',
  '115.53895236848143',
  '-416.7341291266072',
  '1763.5938543658237',
  '354.03825785864444',
  '1673.5195593791573',
  '1770.757340374812',
  '820.9082678848622',
  '2786.837154468632',
  '2762.5328812083167',
  '3003.979116']]

In [173]:
df = pd.read_csv("../data/ufc-master.csv")

In [174]:
#Let's put all the labels in a dataframe
df['label'] = ''
#If the winner is not Red or Blue we can remove it.
mask = df['Winner'] == 'Red'
df['label'][mask] = 0
mask = df['Winner'] == 'Blue'
df['label'][mask] = 1

#df["Winner"] = df["Winner"].astype('category')
df = df[(df['Winner'] == 'Blue') | (df['Winner'] == 'Red')]


#Make sure lable is numeric
df['label'] = pd.to_numeric(df['label'], errors='coerce')

D:\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
D:\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [175]:
#Let's fix the date
df['date'] = pd.to_datetime(df['date'])

In [176]:
#Create a label df:
label_df = df['label']

#Let's create an odds df too:
odds_df = df[['R_odds', 'B_odds']]

In [177]:
#Split the test set.  We are always(?) going to use the last 200 matches as the test set, so we don't want those around
#as we pick models

df_train = df[200:]
odds_train = odds_df[200:]
label_train = label_df[200:]

df_test = df[:200]
odds_test = odds_df[:200]
label_test = label_df[:200]

print(len(df_test))
print(len(odds_test))
print(len(label_test))

print(len(df_train))
print(len(odds_train))
print(len(label_train))

200
200
200
4174
4174
4174

In [178]:
display(df_train)
display(df_test)

,R_fighter,B_fighter,R_odds,B_odds,R_ev,B_ev,date,location,country,Winner,...,B_td_attempted_bout,R_td_pct_bout,B_td_pct_bout,R_sub_attempts_bout,B_sub_attempts_bout,R_pass_bout,B_pass_bout,R_rev_bout,B_rev_bout,label
200,Carla Esparza,Michelle Waterson,-155,135,64.516129,135.000000,2020-05-09,"Jacksonville, Florida, USA",USA,Red,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
201,Uriah Hall,Jacare Souza,115,-135,115.000000,74.074074,2020-05-09,"Jacksonville, Florida, USA",USA,Red,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
202,Tony Ferguson,Justin Gaethje,-180,158,55.555556,158.000000,2020-05-09,"Jacksonville, Florida, USA",USA,Blue,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
203,Henry Cejudo,Dominick Cruz,-225,185,44.444444,185.000000,2020-05-09,"Jacksonville, Florida, USA",USA,Red,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
204,Francis Ngannou,Jairzinho Rozenstruik,-265,225,37.735849,225.000000,2020-05-09,"Jacksonville, Florida, USA",USA,Red,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4369,Duane Ludwig,Darren Elkins,-155,135,64.516129,135.000000,2010-03-21,"Broomfield, Colorado, USA",USA,Blue,...,2.0,0.00,0.5,0.0,0.0,0.0,0.0,0.0,0.0,1
4370,John Howard,Daniel Roberts,-210,175,47.619048,175.000000,2010-03-21,"Broomfield, Colorado, USA",USA,Red,...,1.0,1.00,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0
4371,Brendan Schaub,Chase Gormley,-260,220,38.461538,220.000000,2010-03-21,"Broomfield, Colorado, USA",USA,Red,...,2.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
4372,Mike Pierce,Julio Paulino,-420,335,23.809524,335.000000,2010-03-21,"Broomfield, Colorado, USA",USA,Red,...,0.0,0.60,0.0,0.0,0.0,6.0,0.0,0.0,0.0,0
4373,Eric Schafer,Jason Brilz,140,-160,140.000000,62.500000,2010-03-21,"Broomfield, Colorado, USA",USA,Blue,...,6.0,0.66,0.5,1.0,1.0,1.0,6.0,1.0,1.0,1

,R_fighter,B_fighter,R_odds,B_odds,R_ev,B_ev,date,location,country,Winner,...,B_td_attempted_bout,R_td_pct_bout,B_td_pct_bout,R_sub_attempts_bout,B_sub_attempts_bout,R_pass_bout,B_pass_bout,R_rev_bout,B_rev_bout,label
0,Michelle Waterson,Angela Hill,105,-125,105.000000,80.000000,2020-09-12,"Las Vegas, Nevada, USA",USA,Red,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,Ottman Azaitar,Khama Worthy,110,-137,110.000000,72.992701,2020-09-12,"Las Vegas, Nevada, USA",USA,Red,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2,Roxanne Modafferi,Andrea Lee,240,-335,240.000000,29.850746,2020-09-12,"Las Vegas, Nevada, USA",USA,Red,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3,Ed Herman,Mike Rodriguez,195,-250,195.000000,40.000000,2020-09-12,"Las Vegas, Nevada, USA",USA,Red,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4,Billy Quarantillo,Kyle Nelson,-250,195,40.000000,195.000000,2020-09-12,"Las Vegas, Nevada, USA",USA,Red,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,Vicente Luque,Niko Price,-290,245,34.482759,245.000000,2020-05-09,"Jacksonville, Florida, USA",USA,Red,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
196,Bryce Mitchell,Charles Rosa,-155,135,64.516129,135.000000,2020-05-09,"Jacksonville, Florida, USA",USA,Red,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
197,Ryan Spann,Sam Alvey,-420,335,23.809524,335.000000,2020-05-09,"Jacksonville, Florida, USA",USA,Red,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
198,Anthony Pettis,Donald Cerrone,-135,115,74.074074,115.000000,2020-05-09,"Jacksonville, Florida, USA",USA,Red,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
199,Aleksei Oleinik,Fabricio Werdum,270,-330,270.000000,30.303030,2020-05-09,"Jacksonville, Florida, USA",USA,Red,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [179]:
#Set a value for the nulls in the ranks

weightclass_list = ['B_match_weightclass_rank', 'R_match_weightclass_rank', "R_Women's Flyweight_rank", "R_Women's Featherweight_rank", "R_Women's Strawweight_rank", "R_Women's Bantamweight_rank", 'R_Heavyweight_rank', 'R_Light Heavyweight_rank', 'R_Middleweight_rank', 'R_Welterweight_rank', 'R_Lightweight_rank', 'R_Featherweight_rank', 'R_Bantamweight_rank', 'R_Flyweight_rank', 'R_Pound-for-Pound_rank', "B_Women's Flyweight_rank", "B_Women's Featherweight_rank", "B_Women's Strawweight_rank", "B_Women's Bantamweight_rank", 'B_Heavyweight_rank', 'B_Light Heavyweight_rank', 'B_Middleweight_rank', 'B_Welterweight_rank', 'B_Lightweight_rank', 'B_Featherweight_rank', 'B_Bantamweight_rank', 'B_Flyweight_rank', 'B_Pound-for-Pound_rank']
df_train[weightclass_list] = df_train[weightclass_list].fillna(17)
df_test[weightclass_list] = df_test[weightclass_list].fillna(17)

D:\Anaconda3\lib\site-packages\pandas\core\frame.py:2963: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [180]:
df_test
#df_test.to_csv('test.csv')

,R_fighter,B_fighter,R_odds,B_odds,R_ev,B_ev,date,location,country,Winner,...,B_td_attempted_bout,R_td_pct_bout,B_td_pct_bout,R_sub_attempts_bout,B_sub_attempts_bout,R_pass_bout,B_pass_bout,R_rev_bout,B_rev_bout,label
0,Michelle Waterson,Angela Hill,105,-125,105.000000,80.000000,2020-09-12,"Las Vegas, Nevada, USA",USA,Red,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,Ottman Azaitar,Khama Worthy,110,-137,110.000000,72.992701,2020-09-12,"Las Vegas, Nevada, USA",USA,Red,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2,Roxanne Modafferi,Andrea Lee,240,-335,240.000000,29.850746,2020-09-12,"Las Vegas, Nevada, USA",USA,Red,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3,Ed Herman,Mike Rodriguez,195,-250,195.000000,40.000000,2020-09-12,"Las Vegas, Nevada, USA",USA,Red,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4,Billy Quarantillo,Kyle Nelson,-250,195,40.000000,195.000000,2020-09-12,"Las Vegas, Nevada, USA",USA,Red,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,Vicente Luque,Niko Price,-290,245,34.482759,245.000000,2020-05-09,"Jacksonville, Florida, USA",USA,Red,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
196,Bryce Mitchell,Charles Rosa,-155,135,64.516129,135.000000,2020-05-09,"Jacksonville, Florida, USA",USA,Red,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
197,Ryan Spann,Sam Alvey,-420,335,23.809524,335.000000,2020-05-09,"Jacksonville, Florida, USA",USA,Red,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
198,Anthony Pettis,Donald Cerrone,-135,115,74.074074,115.000000,2020-05-09,"Jacksonville, Florida, USA",USA,Red,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
199,Aleksei Oleinik,Fabricio Werdum,270,-330,270.000000,30.303030,2020-05-09,"Jacksonville, Florida, USA",USA,Red,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [181]:
#1. Set features
#2. Set Hyperparameters
#3. Set EV
#4. Remove Features

In [182]:
models[1][model_num]

'GaussianNB(var_smoothing=1e-12)'

In [183]:
test_model_name = models[0][model_num]
test_model = eval(models[1][model_num])
test_model_features = eval(models[2][model_num])
test_model_ev = eval(models[3][model_num])

In [184]:
old_test_model = test_model
old_test_model_features = test_model_features
old_test_model_ev = test_model_ev

In [185]:
print(df_test.columns.tolist()) #Keeps us from truncating

['R_fighter', 'B_fighter', 'R_odds', 'B_odds', 'R_ev', 'B_ev', 'date', 'location', 'country', 'Winner', 'title_bout', 'weight_class', 'gender', 'no_of_rounds', 'B_current_lose_streak', 'B_current_win_streak', 'B_draw', 'B_avg_SIG_STR_landed', 'B_avg_SIG_STR_pct', 'B_avg_SUB_ATT', 'B_avg_TD_landed', 'B_avg_TD_pct', 'B_longest_win_streak', 'B_losses', 'B_total_rounds_fought', 'B_total_title_bouts', 'B_win_by_Decision_Majority', 'B_win_by_Decision_Split', 'B_win_by_Decision_Unanimous', 'B_win_by_KO/TKO', 'B_win_by_Submission', 'B_win_by_TKO_Doctor_Stoppage', 'B_wins', 'B_Stance', 'B_Height_cms', 'B_Reach_cms', 'B_Weight_lbs', 'R_current_lose_streak', 'R_current_win_streak', 'R_draw', 'R_avg_SIG_STR_landed', 'R_avg_SIG_STR_pct', 'R_avg_SUB_ATT', 'R_avg_TD_landed', 'R_avg_TD_pct', 'R_longest_win_streak', 'R_losses', 'R_total_rounds_fought', 'R_total_title_bouts', 'R_win_by_Decision_Majority', 'R_win_by_Decision_Split', 'R_win_by_Decision_Unanimous', 'R_win_by_KO/TKO', 'R_win_by_Submission', 'R_win_by_TKO_Doctor_Stoppage', 'R_wins', 'R_Stance', 'R_Height_cms', 'R_Reach_cms', 'R_Weight_lbs', 'R_age', 'B_age', 'lose_streak_dif', 'win_streak_dif', 'longest_win_streak_dif', 'win_dif', 'loss_dif', 'total_round_dif', 'total_title_bout_dif', 'ko_dif', 'sub_dif', 'height_dif', 'reach_dif', 'age_dif', 'sig_str_dif', 'avg_sub_att_dif', 'avg_td_dif', 'empty_arena', 'constant_1', 'B_match_weightclass_rank', 'R_match_weightclass_rank', "R_Women's Flyweight_rank", "R_Women's Featherweight_rank", "R_Women's Strawweight_rank", "R_Women's Bantamweight_rank", 'R_Heavyweight_rank', 'R_Light Heavyweight_rank', 'R_Middleweight_rank', 'R_Welterweight_rank', 'R_Lightweight_rank', 'R_Featherweight_rank', 'R_Bantamweight_rank', 'R_Flyweight_rank', 'R_Pound-for-Pound_rank', "B_Women's Flyweight_rank", "B_Women's Featherweight_rank", "B_Women's Strawweight_rank", "B_Women's Bantamweight_rank", 'B_Heavyweight_rank', 'B_Light Heavyweight_rank', 'B_Middleweight_rank', 'B_Welterweight_rank', 'B_Lightweight_rank', 'B_Featherweight_rank', 'B_Bantamweight_rank', 'B_Flyweight_rank', 'B_Pound-for-Pound_rank', 'better_rank', 'finish', 'finish_details', 'finish_round', 'finish_round_time', 'total_fight_time_secs', 'R_kd_bout', 'B_kd_bout', 'R_sig_str_landed_bout', 'B_sig_str_landed_bout', 'R_sig_str_attempted_bout', 'B_sig_str_attempted_bout', 'R_sig_str_pct_bout', 'B_sig_str_pct_bout', 'R_tot_str_landed_bout', 'B_tot_str_landed_bout', 'R_tot_str_attempted_bout', 'B_tot_str_attempted_bout', 'R_td_landed_bout', 'B_td_landed_bout', 'R_td_attempted_bout', 'B_td_attempted_bout', 'R_td_pct_bout', 'B_td_pct_bout', 'R_sub_attempts_bout', 'B_sub_attempts_bout', 'R_pass_bout', 'B_pass_bout', 'R_rev_bout', 'B_rev_bout', 'label']

In [186]:
#1. set features
my_pos_features = ['R_fighter', 'B_fighter', 'R_odds', 'B_odds', 'R_ev', 'B_ev',
       'location', 'country', 'title_bout', 'weight_class', 'gender',
       'no_of_rounds', 'B_current_lose_streak', 'B_current_win_streak',
       'B_draw', 'B_avg_SIG_STR_landed', 'B_avg_SIG_STR_pct', 'B_avg_SUB_ATT',
       'B_avg_TD_landed', 'B_avg_TD_pct', 'B_longest_win_streak', 'B_losses',
       'B_total_rounds_fought', 'B_total_title_bouts',
       'B_win_by_Decision_Majority', 'B_win_by_Decision_Split',
       'B_win_by_Decision_Unanimous', 'B_win_by_KO/TKO', 'B_win_by_Submission',
       'B_win_by_TKO_Doctor_Stoppage', 'B_wins', 'B_Stance', 'B_Height_cms',
       'B_Reach_cms', 'B_Weight_lbs', 'R_current_lose_streak',
       'R_current_win_streak', 'R_draw', 'R_avg_SIG_STR_landed',
       'R_avg_SIG_STR_pct', 'R_avg_SUB_ATT', 'R_avg_TD_landed', 'R_avg_TD_pct',
       'R_longest_win_streak', 'R_losses', 'R_total_rounds_fought',
       'R_total_title_bouts', 'R_win_by_Decision_Majority',
       'R_win_by_Decision_Split', 'R_win_by_Decision_Unanimous',
       'R_win_by_KO/TKO', 'R_win_by_Submission',
       'R_win_by_TKO_Doctor_Stoppage', 'R_wins', 'R_Stance', 'R_Height_cms',
       'R_Reach_cms', 'R_Weight_lbs', 'R_age', 'B_age', 'lose_streak_dif',
       'win_streak_dif', 'longest_win_streak_dif', 'win_dif', 'loss_dif',
       'total_round_dif', 'total_title_bout_dif', 'ko_dif', 'sub_dif',
       'height_dif', 'reach_dif', 'age_dif', 'sig_str_dif', 'avg_sub_att_dif',
       'avg_td_dif', 'empty_arena', 'B_match_weightclass_rank', 'R_match_weightclass_rank', 
        "R_Women's Flyweight_rank", "R_Women's Featherweight_rank", "R_Women's Strawweight_rank",
        "R_Women's Bantamweight_rank", 'R_Heavyweight_rank', 'R_Light Heavyweight_rank', 
        'R_Middleweight_rank', 'R_Welterweight_rank', 'R_Lightweight_rank', 'R_Featherweight_rank', 
        'R_Bantamweight_rank', 'R_Flyweight_rank', 'R_Pound-for-Pound_rank', "B_Women's Flyweight_rank", 
        "B_Women's Featherweight_rank", "B_Women's Strawweight_rank", "B_Women's Bantamweight_rank", 
        'B_Heavyweight_rank', 'B_Light Heavyweight_rank', 'B_Middleweight_rank', 'B_Welterweight_rank', 
        'B_Lightweight_rank', 'B_Featherweight_rank', 'B_Bantamweight_rank', 'B_Flyweight_rank', 
        'B_Pound-for-Pound_rank', 'better_rank']

In [187]:
print(test_model_name)
print(test_model)
print(test_model_features)
print(test_model_ev)

model_9_10_20
GaussianNB(var_smoothing=1e-12)
['B_Weight_lbs', 'B_Flyweight_rank', 'B_avg_TD_landed', 'B_Light Heavyweight_rank', 'B_Lightweight_rank', 'R_avg_TD_landed', 'R_Middleweight_rank', 'R_Height_cms', 'R_avg_SIG_STR_pct', 'B_age', 'R_longest_win_streak', 'lose_streak_dif', 'R_win_by_Decision_Majority', 'longest_win_streak_dif', 'avg_sub_att_dif', 'sig_str_dif', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'B_draw', 'R_win_by_Decision_Split', 'age_dif', 'R_odds']
2

In [188]:
def save_model():
    score = evaluate_model(test_model, test_model_features, test_model_ev, df_train, label_train, odds_train, df_test, label_test,
                         odds_test, verbose = True)
    models[0][model_num] =  test_model_name 
    models[1][model_num] = test_model
    models[2][model_num] = test_model_features
    models[3][model_num] = test_model_ev
    models[4][model_num] = score    
    
    with open('models.csv', 'w', newline='') as outfile:
        writer = csv.writer(outfile)
        for row in models:
            print("HI")
            writer.writerow(row)

    outfile.close()

In [189]:
def print_model():
    print()
    print(test_model_name)
    print(test_model)
    print(test_model_features)
    print(test_model_ev)
    print()

In [21]:
keep_going = True
while(keep_going):
    #1. Set Features
    #get_best_features(pos_features, m, df, cur_features, labels, odds, scale=False)
    test_model_features = (get_best_features(my_pos_features, test_model, df_train, test_model_features, label_train, odds_train, 
                                             min_ev=test_model_ev))
    print_model()
    save_model()
    #2 Set hyperparameters
    #def tune_hyperparameters(input_model, input_features, input_df, input_labels, odds_input):
    test_model = tune_hyperparameters(test_model, test_model_features, df_train, label_train, odds_train, 
                                      min_ev=test_model_ev)
    print_model()
    save_model()
    #3. Set EV
    #def tune_ev(input_model, input_features, input_df, input_labels, odds_input, verbose=False):
    test_model_ev = tune_ev(test_model, test_model_features, df_train, label_train, odds_train, verbose=False)

    old_test_model_features = test_model_features #This prevents
                                                  #an uneccesary loop
    print_model()
    save_model()
    #4. Remove Features
    #def remove_to_improve(cur_features, m, df, labels, odds, scale=False, min_ev = 0):
    test_model_features = remove_to_improve(test_model_features, test_model, df_train, label_train, odds_train, min_ev = test_model_ev)    
    keep_going = False
    if old_test_model != test_model:
        print("The hyperparameters are different")
        print("OLD:")
        print(old_test_model)
        print("NEW:")
        print(test_model)
        keep_going = True
        old_test_model = test_model
    if old_test_model_features != test_model_features:
        print("The features are different")
        print("OLD:")
        print(old_test_model_features)
        print("NEW:")
        print(test_model_features)
        keep_going = True
        old_test_model_features = test_model_features
    if old_test_model_ev != test_model_ev:
        print("The EV is different")
        print("OLD:")
        print(old_test_model_ev)
        print("NEW:")
        print(test_model_ev)
        keep_going = True
        old_test_model_ev = test_model_ev
    print_model()
    save_model()

Current best score is: 19240.634958570055
Feature: no_of_rounds Score: 19900.290199102346
Feature: B_avg_SIG_STR_pct Score: 20919.85906554637
Feature: total_round_dif Score: 21224.180057095175
The best feature was total_round_dif.  It scored 21224.180057095175
Current best score is: 21224.180057095175
Feature: B_avg_SIG_STR_pct Score: 21347.364785140722
Feature: B_Reach_cms Score: 21673.344983844607
Feature: win_dif Score: 21895.298377400795
Feature: better_rank Score: 22721.837771828777
The best feature was better_rank.  It scored 22721.837771828777
Current best score is: 22721.837771828777
Feature: B_avg_SIG_STR_pct Score: 23090.412412049554
Feature: B_win_by_Decision_Split Score: 24441.89615236329
Feature: B_Bantamweight_rank Score: 24528.190353773807
The best feature was B_Bantamweight_rank.  It scored 24528.190353773807
Current best score is: 24528.190353773807
Feature: B_current_win_streak Score: 24640.611075072557
Feature: height_dif Score: 25429.633563717987
The best feature was height_dif.  It scored 25429.633563717987
Current best score is: 25429.633563717987
NO IMPROVEMENT
FINAL BEST SCORE: 25429.633563717987

model_4
GaussianNB(var_smoothing=1e-12)
['height_dif', 'B_Bantamweight_rank', 'better_rank', 'total_round_dif', 'B_Weight_lbs', 'B_Flyweight_rank', 'B_avg_TD_landed', 'B_Light Heavyweight_rank', 'B_Lightweight_rank', 'R_avg_TD_landed', 'R_Middleweight_rank', 'R_Height_cms', 'R_avg_SIG_STR_pct', 'B_age', 'R_longest_win_streak', 'lose_streak_dif', 'R_win_by_Decision_Majority', 'longest_win_streak_dif', 'avg_sub_att_dif', 'sig_str_dif', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'B_draw', 'R_win_by_Decision_Split', 'age_dif', 'R_odds']
2

(3230, 28)

(3230,)

(3230, 2)

(200, 28)

(200,)

(200, 2)

     t1_odds  t2_odds   t1_prob   t2_prob  winner
0        105     -125  0.781173  0.218827       0
1        110     -137  0.547027  0.452973       0
2        240     -335  0.537418  0.462582       0
3        195     -250  0.579638  0.420362       0
4       -250      195  0.924670  0.075330       0
..       ...      ...       ...       ...     ...
195     -290      245  0.806805  0.193195       0
196     -155      135  0.020663  0.979337       0
197     -420      335  0.982017  0.017983       0
198     -135      115  0.000001  0.999999       0
199      270     -330  0.939853  0.060147       0

[200 rows x 5 columns]

          Number of matches: 200
          Number of bets: 188
          Number of winning bets: 116
          Number of losing bets: 72
          Number of underdog bets: 77
          Number of underdog wins: 34
          Number of underdog losses: 43
          Number of Favorite bets: 101
          Number of favorite wins: 76
          Number of favorite losses: 25
          Number of even bets: 10
          Number of even wins: 6
          Number of even losses: 4
          Profit: 2109.9545536990995
          Profit per bet: 11.22316251967606
          Profit per match: 10.549772768495497


HI
HI
HI
HI
HI


Starting New Run for GaussianNB


Previous Best Score: 25429.633563717987
var_smoothing: 1e-12 Score: 25429.633563717987
var_smoothing: 1e-11 Score: 25429.633563717987

NEW BEST SCORE
var_smoothing: 1e-10 Best Score: 25604.633563717987


var_smoothing: 1e-09 Score: 25541.590085457115
var_smoothing: 1e-08 Score: 24411.921040947025
var_smoothing: 1e-07 Score: 22968.415130785987
var_smoothing: 1e-06 Score: 11515.865412347648


Starting New Run for GaussianNB


Previous Best Score: 25604.633563717987
var_smoothing: 1e-12 Score: 25429.633563717987
var_smoothing: 1e-11 Score: 25429.633563717987
var_smoothing: 1e-10 Score: 25604.633563717987
var_smoothing: 1e-09 Score: 25541.590085457115
var_smoothing: 1e-08 Score: 24411.921040947025
var_smoothing: 1e-07 Score: 22968.415130785987
var_smoothing: 1e-06 Score: 11515.865412347648

model_4
GaussianNB(var_smoothing=1e-10)
['height_dif', 'B_Bantamweight_rank', 'better_rank', 'total_round_dif', 'B_Weight_lbs', 'B_Flyweight_rank', 'B_avg_TD_landed', 'B_Light Heavyweight_rank', 'B_Lightweight_rank', 'R_avg_TD_landed', 'R_Middleweight_rank', 'R_Height_cms', 'R_avg_SIG_STR_pct', 'B_age', 'R_longest_win_streak', 'lose_streak_dif', 'R_win_by_Decision_Majority', 'longest_win_streak_dif', 'avg_sub_att_dif', 'sig_str_dif', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'B_draw', 'R_win_by_Decision_Split', 'age_dif', 'R_odds']
2

(3230, 28)

(3230,)

(3230, 2)

(200, 28)

(200,)

(200, 2)

     t1_odds  t2_odds   t1_prob   t2_prob  winner
0        105     -125  0.781115  0.218885       0
1        110     -137  0.546948  0.453052       0
2        240     -335  0.537384  0.462616       0
3        195     -250  0.579561  0.420439       0
4       -250      195  0.924644  0.075356       0
..       ...      ...       ...       ...     ...
195     -290      245  0.806752  0.193248       0
196     -155      135  0.020705  0.979295       0
197     -420      335  0.982012  0.017988       0
198     -135      115  0.000001  0.999999       0
199      270     -330  0.939833  0.060167       0

[200 rows x 5 columns]

          Number of matches: 200
          Number of bets: 188
          Number of winning bets: 116
          Number of losing bets: 72
          Number of underdog bets: 77
          Number of underdog wins: 34
          Number of underdog losses: 43
          Number of Favorite bets: 101
          Number of favorite wins: 76
          Number of favorite losses: 25
          Number of even bets: 10
          Number of even wins: 6
          Number of even losses: 4
          Profit: 2109.9545536990995
          Profit per bet: 11.22316251967606
          Profit per match: 10.549772768495497


HI
HI
HI
HI
HI
0 25376.86624880783
1 25157.267352368
2 25604.633563717987
3 23888.135040482208
4 22762.774218668856
5 23792.223907301242
6 23015.01808533617
7 22667.045427724865
8 21382.74982358234
9 20670.412373909312
10 21424.255501085227
11 21145.71364450245
12 20873.64224046097
13 20693.104639930512
14 20792.921683298053
15 20418.485636906807
16 20602.9259224174
17 19961.172973879984
18 19194.680165366568
19 19643.6730701738
20 18820.320847128565
21 18171.783778534606
22 17264.42555631615
23 17289.539589489355
24 17494.414728865297
25 17334.8326065603
26 16917.884752776863
27 16220.677471033734
28 16116.917675467881
29 16311.311554613789
30 15589.632557128512
31 16074.618111717187
32 15911.374616748126
33 15597.474046174102
34 15252.02114445057
35 15398.979372848236
36 13728.970057720977
37 14421.816900331356
38 14296.339653223458
39 14406.01880285993
40 14051.590136749897
41 14255.264679358785
42 14363.226864232736
43 14969.34221865996
44 14210.49823106412
45 13914.037129792967
46 13606.077148327837
47 13062.246591706586
48 13521.086374004377
49 13457.083151944506
50 13650.186070531294
51 13371.847657572389
52 13220.19713704029
53 13479.491909685097
54 13294.683482084678
55 12861.120620463347
56 12624.80618046842
57 12660.937805058602
58 12317.93360337793
59 12735.366758458142
60 13001.17095426234
61 12290.784883577533
62 12418.935438669616
63 12405.011207240972
64 12668.77665170768
65 12544.242207657106
66 13077.575540990438
67 12584.800499939538
68 12044.566291646857
69 12143.440159338836
70 12267.531068429744
71 12577.531068429744
72 12140.71625361493
73 12727.85064096671
74 12372.01847313454
75 11893.870324986394
76 12016.947248063316
77 11778.822248063316
78 11378.58415282522
79 10813.346057587125
80 10773.346057587125
81 10514.436966678037
82 10714.436966678037
83 11294.198871439938
84 11572.999925458385
85 10933.043403719255
86 11211.086881980124
87 11176.304273284473
88 11236.304273284473
89 10686.304273284473
90 10531.304273284473
91 10629.48609146629
92 10244.48609146629
93 10718.48609146629
94 10081.48609146629
95 9886.48609146629
96 9776.009900990099
97 9871.009900990099
98 9952.009900990099
99 9947.009900990099
100 9198.0
101 9068.0
102 9143.0
103 9543.0
104 9643.0
105 9733.0
106 9553.0
107 9653.0
108 9853.0
109 10103.0
110 9813.0
111 9773.0
112 9873.0
113 9493.0
114 9493.0
115 9901.0
116 10176.0
117 10306.0
118 9771.0
119 9471.0
120 8736.0
121 8881.0
122 8453.0
123 8388.0
124 8298.0
125 7668.0
126 8068.0
127 8001.0
128 7871.0
129 7916.0
130 8246.0
131 8201.0
132 8201.0
133 8166.0
134 7841.0
135 7796.0
136 7501.0
137 7501.0
138 7701.0
139 7321.0
140 7341.0
141 7201.0
142 6981.0
143 6821.0
144 6746.0
145 6466.0
146 6161.0
147 6361.0
148 6661.0
149 6446.0
150 6396.0
151 5996.0
152 6296.0
153 6129.0
154 5696.0
155 5641.0
156 5741.0
157 5551.0
158 5493.0
159 5533.0
160 5933.0
161 6333.0
162 6163.0
163 6263.0
164 6363.0
165 6333.0
166 6333.0
167 6633.0
168 6733.0
169 6933.0
170 7045.0
171 7245.0
172 6940.0
173 6865.0
174 6655.0
175 6405.0
176 6705.0
177 6490.0
178 6165.0
179 5525.0
180 5445.0
181 5445.0
182 5445.0
183 5545.0
184 5510.0
185 4870.0
186 4670.0
187 4670.0
188 4670.0
189 4770.0
190 4870.0
191 4870.0
192 4630.0
193 4730.0
194 4730.0
195 4535.0
196 4535.0
197 4375.0
198 4375.0
199 4250.0

model_4
GaussianNB(var_smoothing=1e-10)
['height_dif', 'B_Bantamweight_rank', 'better_rank', 'total_round_dif', 'B_Weight_lbs', 'B_Flyweight_rank', 'B_avg_TD_landed', 'B_Light Heavyweight_rank', 'B_Lightweight_rank', 'R_avg_TD_landed', 'R_Middleweight_rank', 'R_Height_cms', 'R_avg_SIG_STR_pct', 'B_age', 'R_longest_win_streak', 'lose_streak_dif', 'R_win_by_Decision_Majority', 'longest_win_streak_dif', 'avg_sub_att_dif', 'sig_str_dif', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'B_draw', 'R_win_by_Decision_Split', 'age_dif', 'R_odds']
2

(3230, 28)

(3230,)

(3230, 2)

(200, 28)

(200,)

(200, 2)

     t1_odds  t2_odds   t1_prob   t2_prob  winner
0        105     -125  0.781115  0.218885       0
1        110     -137  0.546948  0.453052       0
2        240     -335  0.537384  0.462616       0
3        195     -250  0.579561  0.420439       0
4       -250      195  0.924644  0.075356       0
..       ...      ...       ...       ...     ...
195     -290      245  0.806752  0.193248       0
196     -155      135  0.020705  0.979295       0
197     -420      335  0.982012  0.017988       0
198     -135      115  0.000001  0.999999       0
199      270     -330  0.939833  0.060167       0

[200 rows x 5 columns]

          Number of matches: 200
          Number of bets: 188
          Number of winning bets: 116
          Number of losing bets: 72
          Number of underdog bets: 77
          Number of underdog wins: 34
          Number of underdog losses: 43
          Number of Favorite bets: 101
          Number of favorite wins: 76
          Number of favorite losses: 25
          Number of even bets: 10
          Number of even wins: 6
          Number of even losses: 4
          Profit: 2109.9545536990995
          Profit per bet: 11.22316251967606
          Profit per match: 10.549772768495497


HI
HI
HI
HI
HI
The original score is 25604.633563717987
Score:  24528.190353773807
Score:  23737.532338321893
Score:  19384.00401007662
Score:  22321.74949195152
Score:  24368.586016865847
NEW BEST FEATURE SET
['height_dif', 'B_Bantamweight_rank', 'better_rank', 'total_round_dif', 'B_Weight_lbs', 'B_avg_TD_landed', 'B_Light Heavyweight_rank', 'B_Lightweight_rank', 'R_avg_TD_landed', 'R_Middleweight_rank', 'R_Height_cms', 'R_avg_SIG_STR_pct', 'B_age', 'R_longest_win_streak', 'lose_streak_dif', 'R_win_by_Decision_Majority', 'longest_win_streak_dif', 'avg_sub_att_dif', 'sig_str_dif', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'B_draw', 'R_win_by_Decision_Split', 'age_dif', 'R_odds']
27883.369524035625
Score:  24351.012516870334
Score:  23426.048858619266
Score:  14748.791516656693
Score:  21647.597511746906
Score:  20938.319335147644
Score:  24060.87116982251
Score:  23414.570967982567
Score:  22417.264589378792
Score:  25911.817571386477
Score:  25246.255077761307
Score:  18290.750474328313
Score:  23829.137190716006
Score:  22851.477956024835
Score:  24200.133858302437
Score:  24446.009191565816
Score:  17024.921705787223
Score:  23397.78108104212
Score:  20876.001493559514
Score:  16556.34038048902
Score:  19648.064052563743
The original score is 27883.369524035625
Score:  27847.59168684758
Score:  24959.71678736402
Score:  24502.418776968414
Score:  27187.147233611282
Score:  27834.420192195357
Score:  24257.91607181714
Score:  24827.547938113472
Score:  20311.11929478166
Score:  25047.322885765043
Score:  24549.557921152205
Score:  27724.24950805679
Score:  25756.476427241134
Score:  26767.43414470639
NEW BEST FEATURE SET
['height_dif', 'B_Bantamweight_rank', 'better_rank', 'total_round_dif', 'B_Weight_lbs', 'B_avg_TD_landed', 'B_Light Heavyweight_rank', 'B_Lightweight_rank', 'R_avg_TD_landed', 'R_Middleweight_rank', 'R_Height_cms', 'R_avg_SIG_STR_pct', 'B_age', 'lose_streak_dif', 'R_win_by_Decision_Majority', 'longest_win_streak_dif', 'avg_sub_att_dif', 'sig_str_dif', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'B_draw', 'R_win_by_Decision_Split', 'age_dif', 'R_odds']
29269.34767370972
Score:  27655.9999698421
Score:  24102.43597291131
Score:  29025.025324521688
Score:  25276.515845016183
Score:  26702.795621660825
Score:  27326.062701382045
Score:  21538.384721037248
Score:  27815.42193849339
Score:  26178.905820105778
Score:  22981.360353993907
Score:  22877.40310116842
The original score is 29269.34767370972
Score:  28715.00498016258
Score:  24485.57668803646
Score:  26179.26212497396
Score:  27565.33618248244
Score:  28102.02021999335
Score:  24788.12468742117
Score:  24168.52889951526
Score:  21127.78218540593
Score:  22116.9341166204
Score:  26224.91310899608
Score:  28142.868153221552
Score:  26887.005078750557
Score:  27908.164268137007
Score:  28410.22758735456
Score:  25363.446713152014
Score:  26589.353164014152
Score:  25746.513528595708
Score:  27234.664356037872
Score:  27980.472460793524
Score:  23340.859766367263
Score:  28730.470502063832
Score:  27214.88186333907
Score:  22503.947145712278
Score:  25086.73591099022
The hyperparameters are different
OLD:
GaussianNB(var_smoothing=1e-12)
NEW:
GaussianNB(var_smoothing=1e-10)
The features are different
OLD:
['height_dif', 'B_Bantamweight_rank', 'better_rank', 'total_round_dif', 'B_Weight_lbs', 'B_Flyweight_rank', 'B_avg_TD_landed', 'B_Light Heavyweight_rank', 'B_Lightweight_rank', 'R_avg_TD_landed', 'R_Middleweight_rank', 'R_Height_cms', 'R_avg_SIG_STR_pct', 'B_age', 'R_longest_win_streak', 'lose_streak_dif', 'R_win_by_Decision_Majority', 'longest_win_streak_dif', 'avg_sub_att_dif', 'sig_str_dif', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'B_draw', 'R_win_by_Decision_Split', 'age_dif', 'R_odds']
NEW:
['height_dif', 'B_Bantamweight_rank', 'better_rank', 'total_round_dif', 'B_Weight_lbs', 'B_avg_TD_landed', 'B_Light Heavyweight_rank', 'B_Lightweight_rank', 'R_avg_TD_landed', 'R_Middleweight_rank', 'R_Height_cms', 'R_avg_SIG_STR_pct', 'B_age', 'lose_streak_dif', 'R_win_by_Decision_Majority', 'longest_win_streak_dif', 'avg_sub_att_dif', 'sig_str_dif', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'B_draw', 'R_win_by_Decision_Split', 'age_dif', 'R_odds']

model_4
GaussianNB(var_smoothing=1e-10)
['height_dif', 'B_Bantamweight_rank', 'better_rank', 'total_round_dif', 'B_Weight_lbs', 'B_avg_TD_landed', 'B_Light Heavyweight_rank', 'B_Lightweight_rank', 'R_avg_TD_landed', 'R_Middleweight_rank', 'R_Height_cms', 'R_avg_SIG_STR_pct', 'B_age', 'lose_streak_dif', 'R_win_by_Decision_Majority', 'longest_win_streak_dif', 'avg_sub_att_dif', 'sig_str_dif', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'B_draw', 'R_win_by_Decision_Split', 'age_dif', 'R_odds']
2

(3230, 26)

(3230,)

(3230, 2)

(200, 26)

(200,)

(200, 2)

     t1_odds  t2_odds   t1_prob   t2_prob  winner
0        105     -125  0.796537  0.203463       0
1        110     -137  0.582807  0.417193       0
2        240     -335  0.573410  0.426590       0
3        195     -250  0.612719  0.387281       0
4       -250      195  0.934792  0.065208       0
..       ...      ...       ...       ...     ...
195     -290      245  0.793992  0.206008       0
196     -155      135  0.023692  0.976308       0
197     -420      335  0.984291  0.015709       0
198     -135      115  0.000001  0.999999       0
199      270     -330  0.948051  0.051949       0

[200 rows x 5 columns]

          Number of matches: 200
          Number of bets: 191
          Number of winning bets: 116
          Number of losing bets: 75
          Number of underdog bets: 76
          Number of underdog wins: 32
          Number of underdog losses: 44
          Number of Favorite bets: 106
          Number of favorite wins: 79
          Number of favorite losses: 27
          Number of even bets: 9
          Number of even wins: 5
          Number of even losses: 4
          Profit: 1539.7843305562997
          Profit per bet: 8.061698065739789
          Profit per match: 7.6989216527814985


HI
HI
HI
HI
HI
Current best score is: 29269.34767370972
Feature: sub_dif Score: 29890.039810804727
The best feature was sub_dif.  It scored 29890.039810804727
Current best score is: 29890.039810804727
NO IMPROVEMENT
FINAL BEST SCORE: 29890.039810804727

model_4
GaussianNB(var_smoothing=1e-10)
['sub_dif', 'height_dif', 'B_Bantamweight_rank', 'better_rank', 'total_round_dif', 'B_Weight_lbs', 'B_avg_TD_landed', 'B_Light Heavyweight_rank', 'B_Lightweight_rank', 'R_avg_TD_landed', 'R_Middleweight_rank', 'R_Height_cms', 'R_avg_SIG_STR_pct', 'B_age', 'lose_streak_dif', 'R_win_by_Decision_Majority', 'longest_win_streak_dif', 'avg_sub_att_dif', 'sig_str_dif', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'B_draw', 'R_win_by_Decision_Split', 'age_dif', 'R_odds']
2

(3230, 27)

(3230,)

(3230, 2)

(200, 27)

(200,)

(200, 2)

     t1_odds  t2_odds   t1_prob   t2_prob  winner
0        105     -125  0.813798  0.186202       0
1        110     -137  0.576430  0.423570       0
2        240     -335  0.566313  0.433687       0
3        195     -250  0.638496  0.361504       0
4       -250      195  0.933766  0.066234       0
..       ...      ...       ...       ...     ...
195     -290      245  0.791243  0.208757       0
196     -155      135  0.023094  0.976906       0
197     -420      335  0.983836  0.016164       0
198     -135      115  0.000001  0.999999       0
199      270     -330  0.951497  0.048503       0

[200 rows x 5 columns]

          Number of matches: 200
          Number of bets: 188
          Number of winning bets: 114
          Number of losing bets: 74
          Number of underdog bets: 77
          Number of underdog wins: 33
          Number of underdog losses: 44
          Number of Favorite bets: 102
          Number of favorite wins: 76
          Number of favorite losses: 26
          Number of even bets: 9
          Number of even wins: 5
          Number of even losses: 4
          Profit: 1728.9257201473301
          Profit per bet: 9.19641340503899
          Profit per match: 8.64462860073665


HI
HI
HI
HI
HI


Starting New Run for GaussianNB


Previous Best Score: 29890.039810804727
var_smoothing: 1e-12 Score: 29890.039810804727
var_smoothing: 1e-11 Score: 29890.039810804727
var_smoothing: 1e-10 Score: 29890.039810804727
var_smoothing: 1e-09 Score: 29485.965736730654
var_smoothing: 1e-08 Score: 28449.625940975922
var_smoothing: 1e-07 Score: 28347.208472488786
var_smoothing: 1e-06 Score: 17591.41354732403

model_4
GaussianNB(var_smoothing=1e-10)
['sub_dif', 'height_dif', 'B_Bantamweight_rank', 'better_rank', 'total_round_dif', 'B_Weight_lbs', 'B_avg_TD_landed', 'B_Light Heavyweight_rank', 'B_Lightweight_rank', 'R_avg_TD_landed', 'R_Middleweight_rank', 'R_Height_cms', 'R_avg_SIG_STR_pct', 'B_age', 'lose_streak_dif', 'R_win_by_Decision_Majority', 'longest_win_streak_dif', 'avg_sub_att_dif', 'sig_str_dif', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'B_draw', 'R_win_by_Decision_Split', 'age_dif', 'R_odds']
2

(3230, 27)

(3230,)

(3230, 2)

(200, 27)

(200,)

(200, 2)

     t1_odds  t2_odds   t1_prob   t2_prob  winner
0        105     -125  0.813798  0.186202       0
1        110     -137  0.576430  0.423570       0
2        240     -335  0.566313  0.433687       0
3        195     -250  0.638496  0.361504       0
4       -250      195  0.933766  0.066234       0
..       ...      ...       ...       ...     ...
195     -290      245  0.791243  0.208757       0
196     -155      135  0.023094  0.976906       0
197     -420      335  0.983836  0.016164       0
198     -135      115  0.000001  0.999999       0
199      270     -330  0.951497  0.048503       0

[200 rows x 5 columns]

          Number of matches: 200
          Number of bets: 188
          Number of winning bets: 114
          Number of losing bets: 74
          Number of underdog bets: 77
          Number of underdog wins: 33
          Number of underdog losses: 44
          Number of Favorite bets: 102
          Number of favorite wins: 76
          Number of favorite losses: 26
          Number of even bets: 9
          Number of even wins: 5
          Number of even losses: 4
          Profit: 1728.9257201473301
          Profit per bet: 9.19641340503899
          Profit per match: 8.64462860073665


HI
HI
HI
HI
HI
0 29378.09513292335
1 29945.6880572999
2 29890.039810804727
3 28566.345532476033
4 27794.578023100825
5 26375.303947426783
6 26526.1920298806
7 26088.564980550036
8 25850.777393144206
9 24806.8453162145
10 24119.384839538932
11 24096.254111666007
12 24568.73227161557
13 23263.030095496048
14 22981.179869213236
15 22439.900114137847
16 22136.55276890255
17 21689.03845700006
18 21261.63558812875
19 20582.751206188295
20 19684.590151467935
21 20101.70383783906
22 20886.688247604667
23 20353.526822345666
24 19763.385910811994
25 19563.267790386788
26 19666.420688953807
27 18818.842140641187
28 19070.397033626272
29 18308.649316825184
30 19059.28863148826
31 18436.736257755427
32 17665.751471727235
33 17363.46784139635
34 16273.682711888181
35 16280.750294202178
36 15912.700554544674
37 15999.61938756672
38 16246.867615483035
39 16202.138468693087
40 16225.628351297217
41 15339.63874378933
42 15245.836900471357
43 14531.824093586209
44 14027.973780879682
45 14447.235554507875
46 14353.41148099444
47 14654.573747386552
48 14192.325867346679
49 14621.856237481814
50 13584.430515056092
51 13499.424189945403
52 13786.80037497319
53 13735.982729837331
54 13249.225460989335
55 13252.739964503839
56 12521.974181265577
57 12301.993212801637
58 13015.207498515923
59 12775.635306002554
60 12420.076754109668
61 12617.846317879234
62 12292.988573940142
63 13130.579363146877
64 12627.881546812576
65 13258.745078377367
66 12757.115743472172
67 12993.159221733042
68 13039.193704491663
69 12444.403450046235
70 11452.15848127455
71 11656.920386036454
72 11586.179645295713
73 11714.10557122164
74 12153.88431100038
75 11945.88431100038
76 12147.038157154226
77 11733.004066245136
78 11622.527875768945
79 11507.527875768945
80 11747.527875768945
81 11817.527875768945
82 11566.380689621757
83 12166.380689621757
84 12197.134312810163
85 12182.134312810163
86 12447.134312810163
87 12097.395182375381
88 12357.395182375381
89 12297.395182375381
90 12542.395182375381
91 12424.48609146629
92 12269.48609146629
93 12554.48609146629
94 12649.48609146629
95 12469.48609146629
96 12034.009900990099
97 11825.009900990099
98 12030.009900990099
99 12195.009900990099
100 11616.0
101 11426.0
102 11206.0
103 11066.0
104 11036.0
105 11091.0
106 11281.0
107 11556.0
108 11161.0
109 10931.0
110 10661.0
111 10856.0
112 11156.0
113 11146.0
114 11406.0
115 11296.0
116 11471.0
117 11216.0
118 11066.0
119 10771.0
120 9831.0
121 9881.0
122 9793.0
123 9658.0
124 9603.0
125 9173.0
126 8883.0
127 8983.0
128 8718.0
129 8788.0
130 9058.0
131 9158.0
132 8978.0
133 9211.0
134 9136.0
135 9066.0
136 8891.0
137 9091.0
138 9036.0
139 9236.0
140 9191.0
141 8991.0
142 9091.0
143 8926.0
144 9026.0
145 8696.0
146 8696.0
147 8641.0
148 8676.0
149 8526.0
150 8576.0
151 8676.0
152 8676.0
153 8609.0
154 8539.0
155 8199.0
156 7909.0
157 7909.0
158 7596.0
159 7448.0
160 7848.0
161 7948.0
162 8048.0
163 7908.0
164 7713.0
165 7783.0
166 7883.0
167 7883.0
168 7658.0
169 7958.0
170 8458.0
171 8118.0
172 7998.0
173 7823.0
174 7923.0
175 7773.0
176 7553.0
177 7553.0
178 7333.0
179 7085.0
180 7105.0
181 6785.0
182 6785.0
183 6885.0
184 6985.0
185 6135.0
186 5475.0
187 5060.0
188 4960.0
189 4960.0
190 5060.0
191 5060.0
192 5060.0
193 5160.0
194 5050.0
195 4955.0
196 4955.0
197 4955.0
198 4795.0
199 4795.0

model_4
GaussianNB(var_smoothing=1e-10)
['sub_dif', 'height_dif', 'B_Bantamweight_rank', 'better_rank', 'total_round_dif', 'B_Weight_lbs', 'B_avg_TD_landed', 'B_Light Heavyweight_rank', 'B_Lightweight_rank', 'R_avg_TD_landed', 'R_Middleweight_rank', 'R_Height_cms', 'R_avg_SIG_STR_pct', 'B_age', 'lose_streak_dif', 'R_win_by_Decision_Majority', 'longest_win_streak_dif', 'avg_sub_att_dif', 'sig_str_dif', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'B_draw', 'R_win_by_Decision_Split', 'age_dif', 'R_odds']
1

(3230, 27)

(3230,)

(3230, 2)

(200, 27)

(200,)

(200, 2)

     t1_odds  t2_odds   t1_prob   t2_prob  winner
0        105     -125  0.813798  0.186202       0
1        110     -137  0.576430  0.423570       0
2        240     -335  0.566313  0.433687       0
3        195     -250  0.638496  0.361504       0
4       -250      195  0.933766  0.066234       0
..       ...      ...       ...       ...     ...
195     -290      245  0.791243  0.208757       0
196     -155      135  0.023094  0.976906       0
197     -420      335  0.983836  0.016164       0
198     -135      115  0.000001  0.999999       0
199      270     -330  0.951497  0.048503       0

[200 rows x 5 columns]

          Number of matches: 200
          Number of bets: 193
          Number of winning bets: 118
          Number of losing bets: 75
          Number of underdog bets: 77
          Number of underdog wins: 33
          Number of underdog losses: 44
          Number of Favorite bets: 107
          Number of favorite wins: 80
          Number of favorite losses: 27
          Number of even bets: 9
          Number of even wins: 5
          Number of even losses: 4
          Profit: 1763.5938543658237
          Profit per bet: 9.137791991532765
          Profit per match: 8.817969271829119


HI
HI
HI
HI
HI
The original score is 29945.6880572999
Score:  28972.755038401818
Score:  27966.19043121901
Score:  27227.614395434357
Score:  26269.9197533842
Score:  27674.97007974489
Score:  28856.62022748504
Score:  24633.691683531288
Score:  25083.10389045793
Score:  20515.253630950894
Score:  24420.48542792309
Score:  24209.730653848288
Score:  29881.680212624095
Score:  26463.168692721498
Score:  26871.15407428197
Score:  27837.419345181363
Score:  24146.86498631801
Score:  28063.37791335916
Score:  27005.475663910893
Score:  27622.511962206863
Score:  28291.862428046745
Score:  21818.681878504583
Score:  27606.650102495485
Score:  25792.06285658521
Score:  23588.432850814293
Score:  23808.27955298991
The EV is different
OLD:
2
NEW:
1

model_4
GaussianNB(var_smoothing=1e-10)
['sub_dif', 'height_dif', 'B_Bantamweight_rank', 'better_rank', 'total_round_dif', 'B_Weight_lbs', 'B_avg_TD_landed', 'B_Light Heavyweight_rank', 'B_Lightweight_rank', 'R_avg_TD_landed', 'R_Middleweight_rank', 'R_Height_cms', 'R_avg_SIG_STR_pct', 'B_age', 'lose_streak_dif', 'R_win_by_Decision_Majority', 'longest_win_streak_dif', 'avg_sub_att_dif', 'sig_str_dif', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'B_draw', 'R_win_by_Decision_Split', 'age_dif', 'R_odds']
1

(3230, 27)

(3230,)

(3230, 2)

(200, 27)

(200,)

(200, 2)

     t1_odds  t2_odds   t1_prob   t2_prob  winner
0        105     -125  0.813798  0.186202       0
1        110     -137  0.576430  0.423570       0
2        240     -335  0.566313  0.433687       0
3        195     -250  0.638496  0.361504       0
4       -250      195  0.933766  0.066234       0
..       ...      ...       ...       ...     ...
195     -290      245  0.791243  0.208757       0
196     -155      135  0.023094  0.976906       0
197     -420      335  0.983836  0.016164       0
198     -135      115  0.000001  0.999999       0
199      270     -330  0.951497  0.048503       0

[200 rows x 5 columns]

          Number of matches: 200
          Number of bets: 193
          Number of winning bets: 118
          Number of losing bets: 75
          Number of underdog bets: 77
          Number of underdog wins: 33
          Number of underdog losses: 44
          Number of Favorite bets: 107
          Number of favorite wins: 80
          Number of favorite losses: 27
          Number of even bets: 9
          Number of even wins: 5
          Number of even losses: 4
          Profit: 1763.5938543658237
          Profit per bet: 9.137791991532765
          Profit per match: 8.817969271829119


HI
HI
HI
HI
HI
Current best score is: 29945.6880572999
NO IMPROVEMENT
FINAL BEST SCORE: 29945.6880572999

model_4
GaussianNB(var_smoothing=1e-10)
['sub_dif', 'height_dif', 'B_Bantamweight_rank', 'better_rank', 'total_round_dif', 'B_Weight_lbs', 'B_avg_TD_landed', 'B_Light Heavyweight_rank', 'B_Lightweight_rank', 'R_avg_TD_landed', 'R_Middleweight_rank', 'R_Height_cms', 'R_avg_SIG_STR_pct', 'B_age', 'lose_streak_dif', 'R_win_by_Decision_Majority', 'longest_win_streak_dif', 'avg_sub_att_dif', 'sig_str_dif', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'B_draw', 'R_win_by_Decision_Split', 'age_dif', 'R_odds']
1

(3230, 27)

(3230,)

(3230, 2)

(200, 27)

(200,)

(200, 2)

     t1_odds  t2_odds   t1_prob   t2_prob  winner
0        105     -125  0.813798  0.186202       0
1        110     -137  0.576430  0.423570       0
2        240     -335  0.566313  0.433687       0
3        195     -250  0.638496  0.361504       0
4       -250      195  0.933766  0.066234       0
..       ...      ...       ...       ...     ...
195     -290      245  0.791243  0.208757       0
196     -155      135  0.023094  0.976906       0
197     -420      335  0.983836  0.016164       0
198     -135      115  0.000001  0.999999       0
199      270     -330  0.951497  0.048503       0

[200 rows x 5 columns]

          Number of matches: 200
          Number of bets: 193
          Number of winning bets: 118
          Number of losing bets: 75
          Number of underdog bets: 77
          Number of underdog wins: 33
          Number of underdog losses: 44
          Number of Favorite bets: 107
          Number of favorite wins: 80
          Number of favorite losses: 27
          Number of even bets: 9
          Number of even wins: 5
          Number of even losses: 4
          Profit: 1763.5938543658237
          Profit per bet: 9.137791991532765
          Profit per match: 8.817969271829119


HI
HI
HI
HI
HI


Starting New Run for GaussianNB


Previous Best Score: 29945.6880572999
var_smoothing: 1e-12 Score: 29945.6880572999
var_smoothing: 1e-11 Score: 29945.6880572999
var_smoothing: 1e-10 Score: 29945.6880572999
var_smoothing: 1e-09 Score: 29936.294117905956
var_smoothing: 1e-08 Score: 28790.69938189158
var_smoothing: 1e-07 Score: 29313.056675774616
var_smoothing: 1e-06 Score: 17884.36441631087

model_4
GaussianNB(var_smoothing=1e-10)
['sub_dif', 'height_dif', 'B_Bantamweight_rank', 'better_rank', 'total_round_dif', 'B_Weight_lbs', 'B_avg_TD_landed', 'B_Light Heavyweight_rank', 'B_Lightweight_rank', 'R_avg_TD_landed', 'R_Middleweight_rank', 'R_Height_cms', 'R_avg_SIG_STR_pct', 'B_age', 'lose_streak_dif', 'R_win_by_Decision_Majority', 'longest_win_streak_dif', 'avg_sub_att_dif', 'sig_str_dif', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'B_draw', 'R_win_by_Decision_Split', 'age_dif', 'R_odds']
1

(3230, 27)

(3230,)

(3230, 2)

(200, 27)

(200,)

(200, 2)

     t1_odds  t2_odds   t1_prob   t2_prob  winner
0        105     -125  0.813798  0.186202       0
1        110     -137  0.576430  0.423570       0
2        240     -335  0.566313  0.433687       0
3        195     -250  0.638496  0.361504       0
4       -250      195  0.933766  0.066234       0
..       ...      ...       ...       ...     ...
195     -290      245  0.791243  0.208757       0
196     -155      135  0.023094  0.976906       0
197     -420      335  0.983836  0.016164       0
198     -135      115  0.000001  0.999999       0
199      270     -330  0.951497  0.048503       0

[200 rows x 5 columns]

          Number of matches: 200
          Number of bets: 193
          Number of winning bets: 118
          Number of losing bets: 75
          Number of underdog bets: 77
          Number of underdog wins: 33
          Number of underdog losses: 44
          Number of Favorite bets: 107
          Number of favorite wins: 80
          Number of favorite losses: 27
          Number of even bets: 9
          Number of even wins: 5
          Number of even losses: 4
          Profit: 1763.5938543658237
          Profit per bet: 9.137791991532765
          Profit per match: 8.817969271829119


HI
HI
HI
HI
HI
0 29378.09513292335
1 29945.6880572999
2 29890.039810804727
3 28566.345532476033
4 27794.578023100825
5 26375.303947426783
6 26526.1920298806
7 26088.564980550036
8 25850.777393144206
9 24806.8453162145
10 24119.384839538932
11 24096.254111666007
12 24568.73227161557
13 23263.030095496048
14 22981.179869213236
15 22439.900114137847
16 22136.55276890255
17 21689.03845700006
18 21261.63558812875
19 20582.751206188295
20 19684.590151467935
21 20101.70383783906
22 20886.688247604667
23 20353.526822345666
24 19763.385910811994
25 19563.267790386788
26 19666.420688953807
27 18818.842140641187
28 19070.397033626272
29 18308.649316825184
30 19059.28863148826
31 18436.736257755427
32 17665.751471727235
33 17363.46784139635
34 16273.682711888181
35 16280.750294202178
36 15912.700554544674
37 15999.61938756672
38 16246.867615483035
39 16202.138468693087
40 16225.628351297217
41 15339.63874378933
42 15245.836900471357
43 14531.824093586209
44 14027.973780879682
45 14447.235554507875
46 14353.41148099444
47 14654.573747386552
48 14192.325867346679
49 14621.856237481814
50 13584.430515056092
51 13499.424189945403
52 13786.80037497319
53 13735.982729837331
54 13249.225460989335
55 13252.739964503839
56 12521.974181265577
57 12301.993212801637
58 13015.207498515923
59 12775.635306002554
60 12420.076754109668
61 12617.846317879234
62 12292.988573940142
63 13130.579363146877
64 12627.881546812576
65 13258.745078377367
66 12757.115743472172
67 12993.159221733042
68 13039.193704491663
69 12444.403450046235
70 11452.15848127455
71 11656.920386036454
72 11586.179645295713
73 11714.10557122164
74 12153.88431100038
75 11945.88431100038
76 12147.038157154226
77 11733.004066245136
78 11622.527875768945
79 11507.527875768945
80 11747.527875768945
81 11817.527875768945
82 11566.380689621757
83 12166.380689621757
84 12197.134312810163
85 12182.134312810163
86 12447.134312810163
87 12097.395182375381
88 12357.395182375381
89 12297.395182375381
90 12542.395182375381
91 12424.48609146629
92 12269.48609146629
93 12554.48609146629
94 12649.48609146629
95 12469.48609146629
96 12034.009900990099
97 11825.009900990099
98 12030.009900990099
99 12195.009900990099
100 11616.0
101 11426.0
102 11206.0
103 11066.0
104 11036.0
105 11091.0
106 11281.0
107 11556.0
108 11161.0
109 10931.0
110 10661.0
111 10856.0
112 11156.0
113 11146.0
114 11406.0
115 11296.0
116 11471.0
117 11216.0
118 11066.0
119 10771.0
120 9831.0
121 9881.0
122 9793.0
123 9658.0
124 9603.0
125 9173.0
126 8883.0
127 8983.0
128 8718.0
129 8788.0
130 9058.0
131 9158.0
132 8978.0
133 9211.0
134 9136.0
135 9066.0
136 8891.0
137 9091.0
138 9036.0
139 9236.0
140 9191.0
141 8991.0
142 9091.0
143 8926.0
144 9026.0
145 8696.0
146 8696.0
147 8641.0
148 8676.0
149 8526.0
150 8576.0
151 8676.0
152 8676.0
153 8609.0
154 8539.0
155 8199.0
156 7909.0
157 7909.0
158 7596.0
159 7448.0
160 7848.0
161 7948.0
162 8048.0
163 7908.0
164 7713.0
165 7783.0
166 7883.0
167 7883.0
168 7658.0
169 7958.0
170 8458.0
171 8118.0
172 7998.0
173 7823.0
174 7923.0
175 7773.0
176 7553.0
177 7553.0
178 7333.0
179 7085.0
180 7105.0
181 6785.0
182 6785.0
183 6885.0
184 6985.0
185 6135.0
186 5475.0
187 5060.0
188 4960.0
189 4960.0
190 5060.0
191 5060.0
192 5060.0
193 5160.0
194 5050.0
195 4955.0
196 4955.0
197 4955.0
198 4795.0
199 4795.0

model_4
GaussianNB(var_smoothing=1e-10)
['sub_dif', 'height_dif', 'B_Bantamweight_rank', 'better_rank', 'total_round_dif', 'B_Weight_lbs', 'B_avg_TD_landed', 'B_Light Heavyweight_rank', 'B_Lightweight_rank', 'R_avg_TD_landed', 'R_Middleweight_rank', 'R_Height_cms', 'R_avg_SIG_STR_pct', 'B_age', 'lose_streak_dif', 'R_win_by_Decision_Majority', 'longest_win_streak_dif', 'avg_sub_att_dif', 'sig_str_dif', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'B_draw', 'R_win_by_Decision_Split', 'age_dif', 'R_odds']
1

(3230, 27)

(3230,)

(3230, 2)

(200, 27)

(200,)

(200, 2)

     t1_odds  t2_odds   t1_prob   t2_prob  winner
0        105     -125  0.813798  0.186202       0
1        110     -137  0.576430  0.423570       0
2        240     -335  0.566313  0.433687       0
3        195     -250  0.638496  0.361504       0
4       -250      195  0.933766  0.066234       0
..       ...      ...       ...       ...     ...
195     -290      245  0.791243  0.208757       0
196     -155      135  0.023094  0.976906       0
197     -420      335  0.983836  0.016164       0
198     -135      115  0.000001  0.999999       0
199      270     -330  0.951497  0.048503       0

[200 rows x 5 columns]

          Number of matches: 200
          Number of bets: 193
          Number of winning bets: 118
          Number of losing bets: 75
          Number of underdog bets: 77
          Number of underdog wins: 33
          Number of underdog losses: 44
          Number of Favorite bets: 107
          Number of favorite wins: 80
          Number of favorite losses: 27
          Number of even bets: 9
          Number of even wins: 5
          Number of even losses: 4
          Profit: 1763.5938543658237
          Profit per bet: 9.137791991532765
          Profit per match: 8.817969271829119


HI
HI
HI
HI
HI
The original score is 29945.6880572999
Score:  28972.755038401818
Score:  27966.19043121901
Score:  27227.614395434357
Score:  26269.9197533842
Score:  27674.97007974489
Score:  28856.62022748504
Score:  24633.691683531288
Score:  25083.10389045793
Score:  20515.253630950894
Score:  24420.48542792309
Score:  24209.730653848288
Score:  29881.680212624095
Score:  26463.168692721498
Score:  26871.15407428197
Score:  27837.419345181363
Score:  24146.86498631801
Score:  28063.37791335916
Score:  27005.475663910893
Score:  27622.511962206863
Score:  28291.862428046745
Score:  21818.681878504583
Score:  27606.650102495485
Score:  25792.06285658521
Score:  23588.432850814293
Score:  23808.27955298991

model_4
GaussianNB(var_smoothing=1e-10)
['sub_dif', 'height_dif', 'B_Bantamweight_rank', 'better_rank', 'total_round_dif', 'B_Weight_lbs', 'B_avg_TD_landed', 'B_Light Heavyweight_rank', 'B_Lightweight_rank', 'R_avg_TD_landed', 'R_Middleweight_rank', 'R_Height_cms', 'R_avg_SIG_STR_pct', 'B_age', 'lose_streak_dif', 'R_win_by_Decision_Majority', 'longest_win_streak_dif', 'avg_sub_att_dif', 'sig_str_dif', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'B_draw', 'R_win_by_Decision_Split', 'age_dif', 'R_odds']
1

(3230, 27)

(3230,)

(3230, 2)

(200, 27)

(200,)

(200, 2)

     t1_odds  t2_odds   t1_prob   t2_prob  winner
0        105     -125  0.813798  0.186202       0
1        110     -137  0.576430  0.423570       0
2        240     -335  0.566313  0.433687       0
3        195     -250  0.638496  0.361504       0
4       -250      195  0.933766  0.066234       0
..       ...      ...       ...       ...     ...
195     -290      245  0.791243  0.208757       0
196     -155      135  0.023094  0.976906       0
197     -420      335  0.983836  0.016164       0
198     -135      115  0.000001  0.999999       0
199      270     -330  0.951497  0.048503       0

[200 rows x 5 columns]

          Number of matches: 200
          Number of bets: 193
          Number of winning bets: 118
          Number of losing bets: 75
          Number of underdog bets: 77
          Number of underdog wins: 33
          Number of underdog losses: 44
          Number of Favorite bets: 107
          Number of favorite wins: 80
          Number of favorite losses: 27
          Number of even bets: 9
          Number of even wins: 5
          Number of even losses: 4
          Profit: 1763.5938543658237
          Profit per bet: 9.137791991532765
          Profit per match: 8.817969271829119


HI
HI
HI
HI
HI

In [190]:
#Get new score:
#def evaluate_model(input_model, input_features, input_ev, train_df, train_labels, train_odds, test_df, test_labels, test_odds, verbose=True):
score = evaluate_model(test_model, test_model_features, test_model_ev, df_train, label_train, odds_train, df_test, label_test,
                         odds_test, verbose = True)

(3230, 22)

(3230,)

(3230, 2)

(200, 22)

(200,)

(200, 2)

     t1_odds  t2_odds   t1_prob   t2_prob  winner
0        105     -125  0.714085  0.285915       0
1        110     -137  0.565627  0.434373       0
2        240     -335  0.485242  0.514758       0
3        195     -250  0.715245  0.284755       0
4       -250      195  0.924890  0.075110       0
..       ...      ...       ...       ...     ...
195     -290      245  0.773807  0.226193       0
196     -155      135  0.018945  0.981055       0
197     -420      335  0.979331  0.020669       0
198     -135      115  0.000001  0.999999       0
199      270     -330  0.922662  0.077338       0

[200 rows x 5 columns]

          Number of matches: 200
          Number of bets: 184
          Number of winning bets: 117
          Number of losing bets: 67
          Number of underdog bets: 78
          Number of underdog wins: 37
          Number of underdog losses: 41
          Number of Favorite bets: 96
          Number of favorite wins: 74
          Number of favorite losses: 22
          Number of even bets: 10
          Number of even wins: 6
          Number of even losses: 4
          Profit: 3013.4465160491604
          Profit per bet: 16.37742671765848
          Profit per match: 15.067232580245802

print(test_model_name) 
print(models[0][model_num])
print()
print(test_model)
print(eval(models[1][model_num]))
print()
print(test_model_features) 
print(eval(models[2][model_num]))
print()
print(test_model_ev)
print(eval(models[3][model_num]))

In [191]:
models[0][model_num] =  test_model_name 
models[1][model_num] = test_model
models[2][model_num] = test_model_features
models[3][model_num] = test_model_ev
models[4][model_num] = score

In [192]:
with open('models.csv', 'w', newline='') as outfile:
    writer = csv.writer(outfile)
    for row in models:
        print("HI")
        writer.writerow(row)
    
outfile.close()

HI
HI
HI
HI
HI

In [193]:
with open('models.csv', newline='') as f:
    reader = csv.reader(f)
    data = list(reader)
    
print(len(data))

5

In [194]:
data

[['model_0',
  'model_1',
  'model_2',
  'model_3',
  'model_4',
  'model_06_13_20',
  'model_06_20_20',
  'model_6_27_20',
  'model_7_18_20',
  'model_7_25_20',
  'model_9_2_20',
  'model_9_10_20'],
 ['LogisticRegression(max_iter=50000, random_state=75, tol=5.993308915320019)',
  'DecisionTreeClassifier(max_depth=96, max_leaf_nodes=570, random_state=75)',
  "RandomForestClassifier(criterion='entropy', max_depth=10, n_estimators=197,\n                       n_jobs=-1, random_state=75)",
  'GradientBoostingClassifier(n_estimators=122, random_state=75)',
  'GaussianNB(var_smoothing=1e-10)',
  'LogisticRegression(max_iter=50000, random_state=75, tol=5.993308915320019)',
  'GaussianNB()',
  'GaussianNB()',
  'GradientBoostingClassifier(n_estimators=122, random_state=75)',
  'GaussianNB()',
  'GaussianNB(var_smoothing=1e-12)',
  'GaussianNB(var_smoothing=1e-12)'],
 ['[\'B_Flyweight_rank\', \'R_Light Heavyweight_rank\', \'R_Middleweight_rank\', \'R_wins\', \'R_avg_SIG_STR_pct\', "R_Women\'s Flyweight_rank", \'R_avg_TD_landed\', \'B_longest_win_streak\', \'R_losses\', \'B_Lightweight_rank\', \'avg_sub_att_dif\', \'R_win_by_Decision_Split\', \'R_Flyweight_rank\', \'B_Welterweight_rank\', \'R_Heavyweight_rank\', \'R_current_win_streak\', \'B_Light Heavyweight_rank\', \'win_streak_dif\', \'R_win_by_TKO_Doctor_Stoppage\', \'B_current_win_streak\', \'age_dif\', \'B_win_by_Decision_Majority\', \'R_win_by_Decision_Majority\', \'R_odds\', \'R_current_lose_streak\', \'R_Reach_cms\', \'B_draw\', \'total_round_dif\', \'R_ev\', \'B_ev\']',
  '[\'B_current_lose_streak\', \'B_win_by_KO/TKO\', \'B_Middleweight_rank\', \'B_total_title_bouts\', "R_Women\'s Flyweight_rank", \'R_age\', \'R_avg_SIG_STR_pct\', \'B_Stance\', \'R_Heavyweight_rank\', \'R_Flyweight_rank\', \'R_losses\', \'B_avg_SIG_STR_pct\', \'R_draw\', \'B_draw\', "B_Women\'s Flyweight_rank", "R_Women\'s Bantamweight_rank", \'gender\', \'R_avg_SUB_ATT\', \'age_dif\']',
  "['B_wins', 'R_ev', 'sig_str_dif']",
  '["B_Women\'s Featherweight_rank", \'lose_streak_dif\', \'B_total_title_bouts\', \'B_Welterweight_rank\', \'B_Middleweight_rank\', \'B_win_by_TKO_Doctor_Stoppage\', \'R_avg_SIG_STR_landed\', \'B_odds\', \'sig_str_dif\']',
  "['sub_dif', 'height_dif', 'B_Bantamweight_rank', 'better_rank', 'total_round_dif', 'B_Weight_lbs', 'B_avg_TD_landed', 'B_Light Heavyweight_rank', 'B_Lightweight_rank', 'R_avg_TD_landed', 'R_Middleweight_rank', 'R_Height_cms', 'R_avg_SIG_STR_pct', 'B_age', 'lose_streak_dif', 'R_win_by_Decision_Majority', 'longest_win_streak_dif', 'avg_sub_att_dif', 'sig_str_dif', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'B_draw', 'R_win_by_Decision_Split', 'age_dif', 'R_odds']",
  "['B_win_by_Decision_Majority', 'B_win_by_TKO_Doctor_Stoppage', 'R_win_by_Decision_Majority', 'R_odds', 'R_current_lose_streak', 'R_Reach_cms', 'B_draw', 'total_round_dif', 'R_ev', 'B_ev']",
  "['R_win_by_Decision_Unanimous', 'B_win_by_Submission', 'R_Weight_lbs', 'sig_str_dif', 'B_Height_cms', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'height_dif', 'B_draw', 'avg_td_dif', 'R_win_by_Decision_Split', 'age_dif', 'B_current_win_streak', 'R_odds']",
  "['R_longest_win_streak', 'longest_win_streak_dif', 'reach_dif', 'avg_sub_att_dif', 'R_win_by_Decision_Unanimous', 'B_win_by_Submission', 'R_Weight_lbs', 'sig_str_dif', 'B_Height_cms', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'height_dif', 'B_draw', 'avg_td_dif', 'R_win_by_Decision_Split', 'age_dif', 'B_current_win_streak', 'R_odds']",
  "['B_current_win_streak', 'R_win_by_Submission', 'B_win_by_Decision_Unanimous', 'R_win_by_Decision_Unanimous', 'R_current_lose_streak', 'B_win_by_TKO_Doctor_Stoppage', 'win_dif', 'B_win_by_Decision_Split', 'B_wins', 'R_Stance', 'B_age', 'B_Weight_lbs', 'R_ev', 'B_total_rounds_fought', 'location', 'R_odds', 'R_Reach_cms', 'R_Weight_lbs', 'R_current_win_streak', 'R_age', 'empty_arena', 'R_win_by_Decision_Split', 'R_draw', 'lose_streak_dif', 'B_draw']",
  "['R_Reach_cms', 'total_round_dif', 'R_Height_cms', 'R_avg_SIG_STR_pct', 'B_age', 'R_longest_win_streak', 'lose_streak_dif', 'ko_dif', 'R_win_by_Decision_Majority', 'longest_win_streak_dif', 'avg_sub_att_dif', 'R_Weight_lbs', 'sig_str_dif', 'B_Height_cms', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'B_draw', 'avg_td_dif', 'R_win_by_Decision_Split', 'age_dif', 'B_current_win_streak', 'R_odds']",
  "['win_streak_dif', 'B_Light Heavyweight_rank', 'B_Lightweight_rank', 'R_avg_TD_landed', 'R_Middleweight_rank', 'total_round_dif', 'R_Height_cms', 'R_avg_SIG_STR_pct', 'B_age', 'R_longest_win_streak', 'lose_streak_dif', 'R_win_by_Decision_Majority', 'longest_win_streak_dif', 'avg_sub_att_dif', 'R_Weight_lbs', 'sig_str_dif', 'B_Height_cms', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'B_draw', 'avg_td_dif', 'R_win_by_Decision_Split', 'age_dif', 'R_odds']",
  "['B_Weight_lbs', 'B_Flyweight_rank', 'B_avg_TD_landed', 'B_Light Heavyweight_rank', 'B_Lightweight_rank', 'R_avg_TD_landed', 'R_Middleweight_rank', 'R_Height_cms', 'R_avg_SIG_STR_pct', 'B_age', 'R_longest_win_streak', 'lose_streak_dif', 'R_win_by_Decision_Majority', 'longest_win_streak_dif', 'avg_sub_att_dif', 'sig_str_dif', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'B_draw', 'R_win_by_Decision_Split', 'age_dif', 'R_odds']"],
 ['0', '63', '0', '2', '1', '0', '0', '0', '0', '1', '3', '2'],
 ['1223.343762',
  '-41.89066035',
  '115.53895236848143',
  '-416.7341291266072',
  '1763.5938543658237',
  '354.03825785864444',
  '1673.5195593791573',
  '1770.757340374812',
  '820.9082678848622',
  '2786.837154468632',
  '2762.5328812083167',
  '3013.4465160491604']]