In [1]:
import pandas as pd
import numpy as np
from functions import *
import random
import csv
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import GradientBoostingClassifier

In [123]:
#Load models
#REMINDER: We are going to need to use 'eval' to get the models usable
with open('models.csv', newline='') as f:
    reader = csv.reader(f)
    models = list(reader)
    
print(len(models))


###SELECT MODEL TO OPTIMIZE
model_num = 9

5

In [124]:
models

[['model_0',
  'model_1',
  'model_2',
  'model_3',
  'model_4',
  'model_06_13_20',
  'model_06_20_20',
  'model_6_27_20',
  'model_7_18_20',
  'model_7_25_20'],
 ['LogisticRegression(max_iter=50000, random_state=75, tol=5.993308915320019)',
  'DecisionTreeClassifier(max_depth=96, max_leaf_nodes=571, random_state=75)',
  "RandomForestClassifier(criterion='entropy', max_depth=10, n_estimators=150,\n                       random_state=75)",
  'GradientBoostingClassifier(n_estimators=122, random_state=75)',
  'GaussianNB(var_smoothing=1e-12)',
  'LogisticRegression(max_iter=50000, random_state=75, tol=5.993308915320019)',
  'GaussianNB()',
  'GaussianNB()',
  'GradientBoostingClassifier(n_estimators=122, random_state=75)',
  'GaussianNB()'],
 ["['B_Welterweight_rank', 'R_Heavyweight_rank', 'R_current_win_streak', 'B_Light Heavyweight_rank', 'win_streak_dif', 'R_win_by_TKO_Doctor_Stoppage', 'B_current_win_streak', 'age_dif', 'B_win_by_Decision_Majority', 'B_win_by_TKO_Doctor_Stoppage', 'R_win_by_Decision_Majority', 'R_odds', 'R_current_lose_streak', 'R_Reach_cms', 'B_draw', 'total_round_dif', 'R_ev', 'B_ev']",
  '[\'R_draw\', \'B_draw\', "B_Women\'s Flyweight_rank", "R_Women\'s Bantamweight_rank", \'gender\', \'R_avg_SUB_ATT\', \'age_dif\']',
  '[\'avg_sub_att_dif\', \'R_Weight_lbs\', \'B_Lightweight_rank\', \'R_win_by_TKO_Doctor_Stoppage\', \'B_avg_SIG_STR_landed\', \'no_of_rounds\', \'loss_dif\', "R_Women\'s Featherweight_rank", \'B_odds\', \'B_avg_SUB_ATT\', \'R_total_rounds_fought\', \'age_dif\', \'R_win_by_Decision_Split\', \'R_avg_TD_pct\', \'empty_arena\']',
  '["B_Women\'s Bantamweight_rank", "R_Women\'s Featherweight_rank", \'R_Light Heavyweight_rank\', \'age_dif\', \'B_current_win_streak\', \'R_win_by_Submission\', \'B_win_by_Decision_Unanimous\', \'R_win_by_Decision_Unanimous\', \'R_current_lose_streak\', \'B_win_by_TKO_Doctor_Stoppage\', \'win_dif\', \'B_win_by_Decision_Split\', \'B_wins\', \'R_Stance\', \'B_age\', \'B_Weight_lbs\', \'R_ev\', \'B_total_rounds_fought\', \'location\', \'R_odds\', \'R_Reach_cms\', \'R_Weight_lbs\', \'R_current_win_streak\', \'R_age\', \'empty_arena\', \'R_win_by_Decision_Split\', \'R_draw\', \'lose_streak_dif\', \'B_draw\']',
  "['R_avg_TD_landed', 'R_Middleweight_rank', 'R_Reach_cms', 'total_round_dif', 'R_Height_cms', 'R_avg_SIG_STR_pct', 'B_age', 'R_longest_win_streak', 'lose_streak_dif', 'ko_dif', 'R_win_by_Decision_Majority', 'longest_win_streak_dif', 'avg_sub_att_dif', 'R_Weight_lbs', 'sig_str_dif', 'B_Height_cms', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'B_draw', 'avg_td_dif', 'R_win_by_Decision_Split', 'age_dif', 'B_current_win_streak', 'R_odds']",
  "['B_win_by_Decision_Majority', 'B_win_by_TKO_Doctor_Stoppage', 'R_win_by_Decision_Majority', 'R_odds', 'R_current_lose_streak', 'R_Reach_cms', 'B_draw', 'total_round_dif', 'R_ev', 'B_ev']",
  "['R_win_by_Decision_Unanimous', 'B_win_by_Submission', 'R_Weight_lbs', 'sig_str_dif', 'B_Height_cms', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'height_dif', 'B_draw', 'avg_td_dif', 'R_win_by_Decision_Split', 'age_dif', 'B_current_win_streak', 'R_odds']",
  "['R_longest_win_streak', 'longest_win_streak_dif', 'reach_dif', 'avg_sub_att_dif', 'R_win_by_Decision_Unanimous', 'B_win_by_Submission', 'R_Weight_lbs', 'sig_str_dif', 'B_Height_cms', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'height_dif', 'B_draw', 'avg_td_dif', 'R_win_by_Decision_Split', 'age_dif', 'B_current_win_streak', 'R_odds']",
  "['B_current_win_streak', 'R_win_by_Submission', 'B_win_by_Decision_Unanimous', 'R_win_by_Decision_Unanimous', 'R_current_lose_streak', 'B_win_by_TKO_Doctor_Stoppage', 'win_dif', 'B_win_by_Decision_Split', 'B_wins', 'R_Stance', 'B_age', 'B_Weight_lbs', 'R_ev', 'B_total_rounds_fought', 'location', 'R_odds', 'R_Reach_cms', 'R_Weight_lbs', 'R_current_win_streak', 'R_age', 'empty_arena', 'R_win_by_Decision_Split', 'R_draw', 'lose_streak_dif', 'B_draw']",
  "['R_Reach_cms', 'total_round_dif', 'R_Height_cms', 'R_avg_SIG_STR_pct', 'B_age', 'R_longest_win_streak', 'lose_streak_dif', 'ko_dif', 'R_win_by_Decision_Majority', 'longest_win_streak_dif', 'avg_sub_att_dif', 'R_Weight_lbs', 'sig_str_dif', 'B_Height_cms', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'B_draw', 'avg_td_dif', 'R_win_by_Decision_Split', 'age_dif', 'B_current_win_streak', 'R_odds']"],
 ['0', '0', '0', '0', '2', '0', '0', '0', '0', '1'],
 ['309.8471615570594',
  '19.73578268854496',
  '696.0790730982187',
  '37.43852695065729',
  '2725.509961934327',
  '1430.3717548191437',
  '1697.3297832582061',
  '2409.6936881337597',
  '1583.5562982860636',
  '2811.306482']]

In [125]:
df = pd.read_csv("../data/ufc-master.csv")

In [126]:
#Let's put all the labels in a dataframe
df['label'] = ''
#If the winner is not Red or Blue we can remove it.
mask = df['Winner'] == 'Red'
df['label'][mask] = 0
mask = df['Winner'] == 'Blue'
df['label'][mask] = 1

#df["Winner"] = df["Winner"].astype('category')
df = df[(df['Winner'] == 'Blue') | (df['Winner'] == 'Red')]


#Make sure lable is numeric
df['label'] = pd.to_numeric(df['label'], errors='coerce')

D:\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
D:\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [127]:
#Let's fix the date
df['date'] = pd.to_datetime(df['date'])

In [128]:
#Create a label df:
label_df = df['label']

#Let's create an odds df too:
odds_df = df[['R_odds', 'B_odds']]

In [129]:
#Split the test set.  We are always(?) going to use the last 200 matches as the test set, so we don't want those around
#as we pick models

df_train = df[200:]
odds_train = odds_df[200:]
label_train = label_df[200:]

df_test = df[:200]
odds_test = odds_df[:200]
label_test = label_df[:200]

print(len(df_test))
print(len(odds_test))
print(len(label_test))

print(len(df_train))
print(len(odds_train))
print(len(label_train))

200
200
200
4145
4145
4145

In [130]:
display(df_train)
display(df_test)

,R_fighter,B_fighter,R_odds,B_odds,R_ev,B_ev,date,location,country,Winner,...,B_td_attempted_bout,R_td_pct_bout,B_td_pct_bout,R_sub_attempts_bout,B_sub_attempts_bout,R_pass_bout,B_pass_bout,R_rev_bout,B_rev_bout,label
200,Joseph Benavidez,Deiveson Figueiredo,-150,130,66.666667,130.000000,2020-02-29,"Norfolk, Virginia, USA",USA,Blue,...,1.0,0.00,1.00,0.0,1.0,0.0,0.0,0.0,0.0,1
201,Felicia Spencer,Zarah Fairn,-870,585,11.494253,585.000000,2020-02-29,"Norfolk, Virginia, USA",USA,Red,...,0.0,0.50,0.00,0.0,0.0,2.0,0.0,0.0,0.0,0
202,Ion Cutelaba,Magomed Ankalaev,185,-225,185.000000,44.444444,2020-02-29,"Norfolk, Virginia, USA",USA,Blue,...,0.0,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,1
203,Megan Anderson,Norma Dumont,-245,205,40.816327,205.000000,2020-02-29,"Norfolk, Virginia, USA",USA,Red,...,3.0,0.00,0.33,0.0,0.0,0.0,0.0,1.0,0.0,0
204,Grant Dawson,Darrick Minner,-475,380,21.052632,380.000000,2020-02-29,"Norfolk, Virginia, USA",USA,Red,...,1.0,0.66,1.00,2.0,2.0,6.0,0.0,0.0,1.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4340,Duane Ludwig,Darren Elkins,-155,135,64.516129,135.000000,2010-03-21,"Broomfield, Colorado, USA",USA,Blue,...,2.0,0.00,0.50,0.0,0.0,0.0,0.0,0.0,0.0,1
4341,John Howard,Daniel Roberts,-210,175,47.619048,175.000000,2010-03-21,"Broomfield, Colorado, USA",USA,Red,...,1.0,1.00,1.00,0.0,1.0,0.0,1.0,0.0,1.0,0
4342,Brendan Schaub,Chase Gormley,-260,220,38.461538,220.000000,2010-03-21,"Broomfield, Colorado, USA",USA,Red,...,2.0,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0
4343,Mike Pierce,Julio Paulino,-420,335,23.809524,335.000000,2010-03-21,"Broomfield, Colorado, USA",USA,Red,...,0.0,0.60,0.00,0.0,0.0,6.0,0.0,0.0,0.0,0
4344,Eric Schafer,Jason Brilz,140,-160,140.000000,62.500000,2010-03-21,"Broomfield, Colorado, USA",USA,Blue,...,6.0,0.66,0.50,1.0,1.0,1.0,6.0,1.0,1.0,1

,R_fighter,B_fighter,R_odds,B_odds,R_ev,B_ev,date,location,country,Winner,...,B_td_attempted_bout,R_td_pct_bout,B_td_pct_bout,R_sub_attempts_bout,B_sub_attempts_bout,R_pass_bout,B_pass_bout,R_rev_bout,B_rev_bout,label
0,Pedro Munhoz,Frankie Edgar,-278,225,35.971223,225.000000,2020-08-22,"Las Vegas, Nevada, USA",USA,Blue,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
1,Marcin Prachnio,Mike Rodriguez,188,-240,188.000000,41.666667,2020-08-22,"Las Vegas, Nevada, USA",USA,Blue,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
2,Mariya Agapova,Shana Dobson,-1430,750,6.993007,750.000000,2020-08-22,"Las Vegas, Nevada, USA",USA,Blue,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
3,Daniel Rodriguez,Dwight Grant,-230,180,43.478261,180.000000,2020-08-22,"Las Vegas, Nevada, USA",USA,Red,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4,Amanda Lemos,Mizuki Inoue,110,-137,110.000000,72.992701,2020-08-22,"Las Vegas, Nevada, USA",USA,Red,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,Mark Madsen,Austin Hubbard,-215,195,46.511628,195.000000,2020-03-07,"Las Vegas, Nevada, USA",USA,Red,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
196,Rodolfo Vieira,Saparbeg Safarov,-570,480,17.543860,480.000000,2020-03-07,"Las Vegas, Nevada, USA",USA,Red,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
197,Gerald Meerschaert,Deron Winn,125,-135,125.000000,74.074074,2020-03-07,"Las Vegas, Nevada, USA",USA,Red,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
198,Jamall Emmers,Giga Chikadze,-170,160,58.823529,160.000000,2020-03-07,"Las Vegas, Nevada, USA",USA,Blue,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
199,Danaa Batgerel,Guido Cannetti,-120,110,83.333333,110.000000,2020-03-07,"Las Vegas, Nevada, USA",USA,Red,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [131]:
#Set a value for the nulls in the ranks

weightclass_list = ['B_match_weightclass_rank', 'R_match_weightclass_rank', "R_Women's Flyweight_rank", "R_Women's Featherweight_rank", "R_Women's Strawweight_rank", "R_Women's Bantamweight_rank", 'R_Heavyweight_rank', 'R_Light Heavyweight_rank', 'R_Middleweight_rank', 'R_Welterweight_rank', 'R_Lightweight_rank', 'R_Featherweight_rank', 'R_Bantamweight_rank', 'R_Flyweight_rank', 'R_Pound-for-Pound_rank', "B_Women's Flyweight_rank", "B_Women's Featherweight_rank", "B_Women's Strawweight_rank", "B_Women's Bantamweight_rank", 'B_Heavyweight_rank', 'B_Light Heavyweight_rank', 'B_Middleweight_rank', 'B_Welterweight_rank', 'B_Lightweight_rank', 'B_Featherweight_rank', 'B_Bantamweight_rank', 'B_Flyweight_rank', 'B_Pound-for-Pound_rank']
df_train[weightclass_list] = df_train[weightclass_list].fillna(17)
df_test[weightclass_list] = df_test[weightclass_list].fillna(17)

D:\Anaconda3\lib\site-packages\pandas\core\frame.py:2963: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [132]:
df_test
#df_test.to_csv('test.csv')

,R_fighter,B_fighter,R_odds,B_odds,R_ev,B_ev,date,location,country,Winner,...,B_td_attempted_bout,R_td_pct_bout,B_td_pct_bout,R_sub_attempts_bout,B_sub_attempts_bout,R_pass_bout,B_pass_bout,R_rev_bout,B_rev_bout,label
0,Pedro Munhoz,Frankie Edgar,-278,225,35.971223,225.000000,2020-08-22,"Las Vegas, Nevada, USA",USA,Blue,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
1,Marcin Prachnio,Mike Rodriguez,188,-240,188.000000,41.666667,2020-08-22,"Las Vegas, Nevada, USA",USA,Blue,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
2,Mariya Agapova,Shana Dobson,-1430,750,6.993007,750.000000,2020-08-22,"Las Vegas, Nevada, USA",USA,Blue,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
3,Daniel Rodriguez,Dwight Grant,-230,180,43.478261,180.000000,2020-08-22,"Las Vegas, Nevada, USA",USA,Red,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4,Amanda Lemos,Mizuki Inoue,110,-137,110.000000,72.992701,2020-08-22,"Las Vegas, Nevada, USA",USA,Red,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,Mark Madsen,Austin Hubbard,-215,195,46.511628,195.000000,2020-03-07,"Las Vegas, Nevada, USA",USA,Red,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
196,Rodolfo Vieira,Saparbeg Safarov,-570,480,17.543860,480.000000,2020-03-07,"Las Vegas, Nevada, USA",USA,Red,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
197,Gerald Meerschaert,Deron Winn,125,-135,125.000000,74.074074,2020-03-07,"Las Vegas, Nevada, USA",USA,Red,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
198,Jamall Emmers,Giga Chikadze,-170,160,58.823529,160.000000,2020-03-07,"Las Vegas, Nevada, USA",USA,Blue,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
199,Danaa Batgerel,Guido Cannetti,-120,110,83.333333,110.000000,2020-03-07,"Las Vegas, Nevada, USA",USA,Red,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [133]:
#1. Set features
#2. Set Hyperparameters
#3. Set EV
#4. Remove Features

In [134]:
models[1][model_num]

'GaussianNB()'

In [135]:
test_model_name = models[0][model_num]
test_model = eval(models[1][model_num])
test_model_features = eval(models[2][model_num])
test_model_ev = eval(models[3][model_num])

In [136]:
old_test_model = test_model
old_test_model_features = test_model_features
old_test_model_ev = test_model_ev

In [137]:
print(df_test.columns.tolist()) #Keeps us from truncating

['R_fighter', 'B_fighter', 'R_odds', 'B_odds', 'R_ev', 'B_ev', 'date', 'location', 'country', 'Winner', 'title_bout', 'weight_class', 'gender', 'no_of_rounds', 'B_current_lose_streak', 'B_current_win_streak', 'B_draw', 'B_avg_SIG_STR_landed', 'B_avg_SIG_STR_pct', 'B_avg_SUB_ATT', 'B_avg_TD_landed', 'B_avg_TD_pct', 'B_longest_win_streak', 'B_losses', 'B_total_rounds_fought', 'B_total_title_bouts', 'B_win_by_Decision_Majority', 'B_win_by_Decision_Split', 'B_win_by_Decision_Unanimous', 'B_win_by_KO/TKO', 'B_win_by_Submission', 'B_win_by_TKO_Doctor_Stoppage', 'B_wins', 'B_Stance', 'B_Height_cms', 'B_Reach_cms', 'B_Weight_lbs', 'R_current_lose_streak', 'R_current_win_streak', 'R_draw', 'R_avg_SIG_STR_landed', 'R_avg_SIG_STR_pct', 'R_avg_SUB_ATT', 'R_avg_TD_landed', 'R_avg_TD_pct', 'R_longest_win_streak', 'R_losses', 'R_total_rounds_fought', 'R_total_title_bouts', 'R_win_by_Decision_Majority', 'R_win_by_Decision_Split', 'R_win_by_Decision_Unanimous', 'R_win_by_KO/TKO', 'R_win_by_Submission', 'R_win_by_TKO_Doctor_Stoppage', 'R_wins', 'R_Stance', 'R_Height_cms', 'R_Reach_cms', 'R_Weight_lbs', 'R_age', 'B_age', 'lose_streak_dif', 'win_streak_dif', 'longest_win_streak_dif', 'win_dif', 'loss_dif', 'total_round_dif', 'total_title_bout_dif', 'ko_dif', 'sub_dif', 'height_dif', 'reach_dif', 'age_dif', 'sig_str_dif', 'avg_sub_att_dif', 'avg_td_dif', 'empty_arena', 'constant_1', 'B_match_weightclass_rank', 'R_match_weightclass_rank', "R_Women's Flyweight_rank", "R_Women's Featherweight_rank", "R_Women's Strawweight_rank", "R_Women's Bantamweight_rank", 'R_Heavyweight_rank', 'R_Light Heavyweight_rank', 'R_Middleweight_rank', 'R_Welterweight_rank', 'R_Lightweight_rank', 'R_Featherweight_rank', 'R_Bantamweight_rank', 'R_Flyweight_rank', 'R_Pound-for-Pound_rank', "B_Women's Flyweight_rank", "B_Women's Featherweight_rank", "B_Women's Strawweight_rank", "B_Women's Bantamweight_rank", 'B_Heavyweight_rank', 'B_Light Heavyweight_rank', 'B_Middleweight_rank', 'B_Welterweight_rank', 'B_Lightweight_rank', 'B_Featherweight_rank', 'B_Bantamweight_rank', 'B_Flyweight_rank', 'B_Pound-for-Pound_rank', 'better_rank', 'finish', 'finish_details', 'finish_round', 'finish_round_time', 'total_fight_time_secs', 'R_kd_bout', 'B_kd_bout', 'R_sig_str_landed_bout', 'B_sig_str_landed_bout', 'R_sig_str_attempted_bout', 'B_sig_str_attempted_bout', 'R_sig_str_pct_bout', 'B_sig_str_pct_bout', 'R_tot_str_landed_bout', 'B_tot_str_landed_bout', 'R_tot_str_attempted_bout', 'B_tot_str_attempted_bout', 'R_td_landed_bout', 'B_td_landed_bout', 'R_td_attempted_bout', 'B_td_attempted_bout', 'R_td_pct_bout', 'B_td_pct_bout', 'R_sub_attempts_bout', 'B_sub_attempts_bout', 'R_pass_bout', 'B_pass_bout', 'R_rev_bout', 'B_rev_bout', 'label']

In [138]:
#1. set features
my_pos_features = ['R_fighter', 'B_fighter', 'R_odds', 'B_odds', 'R_ev', 'B_ev',
       'location', 'country', 'title_bout', 'weight_class', 'gender',
       'no_of_rounds', 'B_current_lose_streak', 'B_current_win_streak',
       'B_draw', 'B_avg_SIG_STR_landed', 'B_avg_SIG_STR_pct', 'B_avg_SUB_ATT',
       'B_avg_TD_landed', 'B_avg_TD_pct', 'B_longest_win_streak', 'B_losses',
       'B_total_rounds_fought', 'B_total_title_bouts',
       'B_win_by_Decision_Majority', 'B_win_by_Decision_Split',
       'B_win_by_Decision_Unanimous', 'B_win_by_KO/TKO', 'B_win_by_Submission',
       'B_win_by_TKO_Doctor_Stoppage', 'B_wins', 'B_Stance', 'B_Height_cms',
       'B_Reach_cms', 'B_Weight_lbs', 'R_current_lose_streak',
       'R_current_win_streak', 'R_draw', 'R_avg_SIG_STR_landed',
       'R_avg_SIG_STR_pct', 'R_avg_SUB_ATT', 'R_avg_TD_landed', 'R_avg_TD_pct',
       'R_longest_win_streak', 'R_losses', 'R_total_rounds_fought',
       'R_total_title_bouts', 'R_win_by_Decision_Majority',
       'R_win_by_Decision_Split', 'R_win_by_Decision_Unanimous',
       'R_win_by_KO/TKO', 'R_win_by_Submission',
       'R_win_by_TKO_Doctor_Stoppage', 'R_wins', 'R_Stance', 'R_Height_cms',
       'R_Reach_cms', 'R_Weight_lbs', 'R_age', 'B_age', 'lose_streak_dif',
       'win_streak_dif', 'longest_win_streak_dif', 'win_dif', 'loss_dif',
       'total_round_dif', 'total_title_bout_dif', 'ko_dif', 'sub_dif',
       'height_dif', 'reach_dif', 'age_dif', 'sig_str_dif', 'avg_sub_att_dif',
       'avg_td_dif', 'empty_arena', 'B_match_weightclass_rank', 'R_match_weightclass_rank', 
        "R_Women's Flyweight_rank", "R_Women's Featherweight_rank", "R_Women's Strawweight_rank",
        "R_Women's Bantamweight_rank", 'R_Heavyweight_rank', 'R_Light Heavyweight_rank', 
        'R_Middleweight_rank', 'R_Welterweight_rank', 'R_Lightweight_rank', 'R_Featherweight_rank', 
        'R_Bantamweight_rank', 'R_Flyweight_rank', 'R_Pound-for-Pound_rank', "B_Women's Flyweight_rank", 
        "B_Women's Featherweight_rank", "B_Women's Strawweight_rank", "B_Women's Bantamweight_rank", 
        'B_Heavyweight_rank', 'B_Light Heavyweight_rank', 'B_Middleweight_rank', 'B_Welterweight_rank', 
        'B_Lightweight_rank', 'B_Featherweight_rank', 'B_Bantamweight_rank', 'B_Flyweight_rank', 
        'B_Pound-for-Pound_rank', 'better_rank']

In [139]:
print(test_model_name)
print(test_model)
print(test_model_features)
print(test_model_ev)

model_7_25_20
GaussianNB()
['R_Reach_cms', 'total_round_dif', 'R_Height_cms', 'R_avg_SIG_STR_pct', 'B_age', 'R_longest_win_streak', 'lose_streak_dif', 'ko_dif', 'R_win_by_Decision_Majority', 'longest_win_streak_dif', 'avg_sub_att_dif', 'R_Weight_lbs', 'sig_str_dif', 'B_Height_cms', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'B_draw', 'avg_td_dif', 'R_win_by_Decision_Split', 'age_dif', 'B_current_win_streak', 'R_odds']
1

In [140]:
def save_model():
    score = evaluate_model(test_model, test_model_features, test_model_ev, df_train, label_train, odds_train, df_test, label_test,
                         odds_test, verbose = True)
    models[0][model_num] =  test_model_name 
    models[1][model_num] = test_model
    models[2][model_num] = test_model_features
    models[3][model_num] = test_model_ev
    models[4][model_num] = score    
    
    with open('models.csv', 'w', newline='') as outfile:
        writer = csv.writer(outfile)
        for row in models:
            print("HI")
            writer.writerow(row)

    outfile.close()

In [141]:
def print_model():
    print()
    print(test_model_name)
    print(test_model)
    print(test_model_features)
    print(test_model_ev)
    print()

In [21]:
keep_going = True
while(keep_going):
    #1. Set Features
    #get_best_features(pos_features, m, df, cur_features, labels, odds, scale=False)
    test_model_features = (get_best_features(my_pos_features, test_model, df_train, test_model_features, label_train, odds_train, 
                                             min_ev=test_model_ev))
    print_model()
    save_model()
    #2 Set hyperparameters
    #def tune_hyperparameters(input_model, input_features, input_df, input_labels, odds_input):
    test_model = tune_hyperparameters(test_model, test_model_features, df_train, label_train, odds_train, 
                                      min_ev=test_model_ev)
    print_model()
    save_model()
    #3. Set EV
    #def tune_ev(input_model, input_features, input_df, input_labels, odds_input, verbose=False):
    test_model_ev = tune_ev(test_model, test_model_features, df_train, label_train, odds_train, verbose=False)

    old_test_model_features = test_model_features #This prevents
                                                  #an uneccesary loop
    print_model()
    save_model()
    #4. Remove Features
    #def remove_to_improve(cur_features, m, df, labels, odds, scale=False, min_ev = 0):
    test_model_features = remove_to_improve(test_model_features, test_model, df_train, label_train, odds_train, min_ev = test_model_ev)    
    keep_going = False
    if old_test_model != test_model:
        print("The hyperparameters are different")
        print("OLD:")
        print(old_test_model)
        print("NEW:")
        print(test_model)
        keep_going = True
        old_test_model = test_model
    if old_test_model_features != test_model_features:
        print("The features are different")
        print("OLD:")
        print(old_test_model_features)
        print("NEW:")
        print(test_model_features)
        keep_going = True
        old_test_model_features = test_model_features
    if old_test_model_ev != test_model_ev:
        print("The EV is different")
        print("OLD:")
        print(old_test_model_ev)
        print("NEW:")
        print(test_model_ev)
        keep_going = True
        old_test_model_ev = test_model_ev
    print_model()
    save_model()

Current best score is: 19134.23455789219
Feature: B_avg_TD_landed Score: 19627.370930320438
Feature: R_avg_TD_pct Score: 20553.497584410165
Feature: R_Middleweight_rank Score: 21138.03420310309
The best feature was R_Middleweight_rank.  It scored 21138.03420310309
Current best score is: 21138.03420310309
Feature: B_longest_win_streak Score: 21778.745822143126
Feature: R_avg_TD_landed Score: 23030.040274047973
The best feature was R_avg_TD_landed.  It scored 23030.040274047973
Current best score is: 23030.040274047973
NO IMPROVEMENT
FINAL BEST SCORE: 23030.040274047973

model_4
GaussianNB()
['R_avg_TD_landed', 'R_Middleweight_rank', 'R_Reach_cms', 'total_round_dif', 'R_Height_cms', 'R_avg_SIG_STR_pct', 'B_age', 'R_longest_win_streak', 'lose_streak_dif', 'ko_dif', 'R_win_by_Decision_Majority', 'longest_win_streak_dif', 'avg_sub_att_dif', 'R_Weight_lbs', 'sig_str_dif', 'B_Height_cms', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'B_draw', 'avg_td_dif', 'R_win_by_Decision_Split', 'age_dif', 'B_current_win_streak', 'R_odds']
1

(3202, 24)

(3202,)

(3202, 2)

(200, 24)

(200,)

(200, 2)

     t1_odds  t2_odds       t1_prob       t2_prob  winner
0       -278      225  3.731706e-08  1.000000e+00       1
1        188     -240  5.879851e-01  4.120149e-01       1
2      -1430      750  9.994612e-01  5.387845e-04       1
3       -230      180  8.232411e-01  1.767589e-01       0
4        110     -137  8.934779e-01  1.065221e-01       0
..       ...      ...           ...           ...     ...
195     -215      195  9.999999e-01  1.071703e-07       0
196     -570      480  9.952128e-01  4.787164e-03       0
197      125     -135  7.533273e-01  2.466727e-01       0
198     -170      160  7.781855e-01  2.218145e-01       1
199     -120      110  8.704545e-01  1.295455e-01       0

[200 rows x 5 columns]

          Number of matches: 200
          Number of bets: 191
          Number of winning bets: 122
          Number of losing bets: 69
          Number of underdog bets: 70
          Number of underdog wins: 33
          Number of underdog losses: 37
          Number of Favorite bets: 112
          Number of favorite wins: 84
          Number of favorite losses: 28
          Number of even bets: 9
          Number of even wins: 5
          Number of even losses: 4
          Profit: 2525.509961934326
          Profit per bet: 13.222565245729456
          Profit per match: 12.62754980967163


HI
HI
HI
HI
HI


Starting New Run for GaussianNB


Previous Best Score: 23030.040274047973
var_smoothing: 1e-12 Score: 22759.891020316627
var_smoothing: 1e-11 Score: 22759.891020316627
var_smoothing: 1e-10 Score: 22759.891020316627
var_smoothing: 1e-09 Score: 23030.040274047973
var_smoothing: 1e-08 Score: 22097.43097391243
var_smoothing: 1e-07 Score: 18880.439981554224
var_smoothing: 1e-06 Score: 18972.08881161617

model_4
GaussianNB()
['R_avg_TD_landed', 'R_Middleweight_rank', 'R_Reach_cms', 'total_round_dif', 'R_Height_cms', 'R_avg_SIG_STR_pct', 'B_age', 'R_longest_win_streak', 'lose_streak_dif', 'ko_dif', 'R_win_by_Decision_Majority', 'longest_win_streak_dif', 'avg_sub_att_dif', 'R_Weight_lbs', 'sig_str_dif', 'B_Height_cms', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'B_draw', 'avg_td_dif', 'R_win_by_Decision_Split', 'age_dif', 'B_current_win_streak', 'R_odds']
1

(3202, 24)

(3202,)

(3202, 2)

(200, 24)

(200,)

(200, 2)

     t1_odds  t2_odds       t1_prob       t2_prob  winner
0       -278      225  3.731706e-08  1.000000e+00       1
1        188     -240  5.879851e-01  4.120149e-01       1
2      -1430      750  9.994612e-01  5.387845e-04       1
3       -230      180  8.232411e-01  1.767589e-01       0
4        110     -137  8.934779e-01  1.065221e-01       0
..       ...      ...           ...           ...     ...
195     -215      195  9.999999e-01  1.071703e-07       0
196     -570      480  9.952128e-01  4.787164e-03       0
197      125     -135  7.533273e-01  2.466727e-01       0
198     -170      160  7.781855e-01  2.218145e-01       1
199     -120      110  8.704545e-01  1.295455e-01       0

[200 rows x 5 columns]

          Number of matches: 200
          Number of bets: 191
          Number of winning bets: 122
          Number of losing bets: 69
          Number of underdog bets: 70
          Number of underdog wins: 33
          Number of underdog losses: 37
          Number of Favorite bets: 112
          Number of favorite wins: 84
          Number of favorite losses: 28
          Number of even bets: 9
          Number of even wins: 5
          Number of even losses: 4
          Profit: 2525.509961934326
          Profit per bet: 13.222565245729456
          Profit per match: 12.62754980967163


HI
HI
HI
HI
HI
0 22342.03555399133
1 23030.040274047973
2 23226.80081149216
3 22227.903621245056
4 21117.225084387526
5 21471.661077867793
6 21207.32926668685
7 21002.911318124457
8 21328.01919187188
9 21906.089681141366
10 21561.08447591109
11 21171.382894634764
12 20723.939540277293
13 18969.111787597445
14 17941.716917036905
15 18006.58410269395
16 18539.39643480169
17 17909.140172351992
18 17023.305216179622
19 16706.563859606744
20 15915.106049590862
21 15502.728620911514
22 15398.754702661112
23 14093.794363486511
24 14007.271710904877
25 14196.606798982819
26 13183.704681496958
27 12260.658427100403
28 11931.234031406808
29 11234.597848988404
30 10708.735799347289
31 9585.309238000707
32 9535.74307332045
33 9160.091968156146
34 8979.49938644611
35 9256.441386279887
36 9521.997989251357
37 9911.303933550125
38 10231.287616560345
39 9445.066815023752
40 9008.737041104472
41 8978.289233068119
42 9472.955150805421
43 9334.23583370588
44 8439.463393784239
45 7772.141873496616
46 7324.106596876554
47 7735.289457743913
48 8430.983302849523
49 8696.398673464642
50 8697.984350050318
51 8538.002205002384
52 9163.165103083364
53 9031.714932835173
54 8860.023626039503
55 7682.27815529403
56 8331.88373489961
57 8303.09556511858
58 8346.016853741132
59 8103.642563262478
60 7628.642563262477
61 7484.473674755839
62 7642.043805774247
63 7932.025031239343
64 8349.21117842549
65 7786.912327850778
66 7476.417822356271
67 7379.204890360732
68 6466.7457231189555
69 6074.468036565407
70 6613.039465136835
71 6838.05630015367
72 6873.05630015367
73 7173.05630015367
74 6702.818204915575
75 6506.004656575309
76 6491.004656575309
77 6276.920407491059
78 5977.8863165819685
79 6337.8863165819685
80 6937.8863165819685
81 6544.9297948428375
82 6824.9297948428375
83 6870.064182194617
84 7035.064182194617
85 6158.107660455486
86 6016.194616977225
87 6714.238095238095
88 6739.238095238095
89 5839.238095238095
90 6189.238095238095
91 6539.238095238095
92 6529.238095238095
93 6929.238095238095
94 7029.238095238095
95 6754.238095238095
96 6760.0
97 7060.0
98 7230.0
99 6875.0
100 6745.0
101 6800.0
102 6480.0
103 5941.0
104 6431.0
105 6173.0
106 6148.0
107 5943.0
108 5813.0
109 5343.0
110 5433.0
111 5508.0
112 5558.0
113 5528.0
114 5728.0
115 5203.0
116 5038.0
117 4813.0
118 4913.0
119 4873.0
120 4503.0
121 4563.0
122 4663.0
123 4060.0
124 3735.0
125 3760.0
126 3860.0
127 3830.0
128 3640.0
129 3710.0
130 3645.0
131 3670.0
132 3870.0
133 3970.0
134 3835.0
135 3995.0
136 4095.0
137 4155.0
138 4295.0
139 4455.0
140 4515.0
141 4025.0
142 4325.0
143 4425.0
144 4190.0
145 4078.0
146 3868.0
147 3538.0
148 3233.0
149 2973.0
150 3123.0
151 2975.0
152 2820.0
153 2765.0
154 2545.0
155 2790.0
156 2890.0
157 2925.0
158 2685.0
159 2518.0
160 2918.0
161 2918.0
162 2588.0
163 2688.0
164 2888.0
165 2493.0
166 2493.0
167 2493.0
168 2493.0
169 2793.0
170 2923.0
171 2923.0
172 3123.0
173 2948.0
174 3148.0
175 2973.0
176 3173.0
177 3273.0
178 3078.0
179 3098.0
180 3398.0
181 3498.0
182 2858.0
183 2858.0
184 2958.0
185 2873.0
186 2873.0
187 2733.0
188 2733.0
189 2733.0
190 2933.0
191 2933.0
192 2723.0
193 2723.0
194 2703.0
195 2803.0
196 2518.0
197 2618.0
198 2718.0
199 2718.0

model_4
GaussianNB()
['R_avg_TD_landed', 'R_Middleweight_rank', 'R_Reach_cms', 'total_round_dif', 'R_Height_cms', 'R_avg_SIG_STR_pct', 'B_age', 'R_longest_win_streak', 'lose_streak_dif', 'ko_dif', 'R_win_by_Decision_Majority', 'longest_win_streak_dif', 'avg_sub_att_dif', 'R_Weight_lbs', 'sig_str_dif', 'B_Height_cms', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'B_draw', 'avg_td_dif', 'R_win_by_Decision_Split', 'age_dif', 'B_current_win_streak', 'R_odds']
2

(3202, 24)

(3202,)

(3202, 2)

(200, 24)

(200,)

(200, 2)

     t1_odds  t2_odds       t1_prob       t2_prob  winner
0       -278      225  3.731706e-08  1.000000e+00       1
1        188     -240  5.879851e-01  4.120149e-01       1
2      -1430      750  9.994612e-01  5.387845e-04       1
3       -230      180  8.232411e-01  1.767589e-01       0
4        110     -137  8.934779e-01  1.065221e-01       0
..       ...      ...           ...           ...     ...
195     -215      195  9.999999e-01  1.071703e-07       0
196     -570      480  9.952128e-01  4.787164e-03       0
197      125     -135  7.533273e-01  2.466727e-01       0
198     -170      160  7.781855e-01  2.218145e-01       1
199     -120      110  8.704545e-01  1.295455e-01       0

[200 rows x 5 columns]

          Number of matches: 200
          Number of bets: 189
          Number of winning bets: 122
          Number of losing bets: 67
          Number of underdog bets: 69
          Number of underdog wins: 33
          Number of underdog losses: 36
          Number of Favorite bets: 111
          Number of favorite wins: 84
          Number of favorite losses: 27
          Number of even bets: 9
          Number of even wins: 5
          Number of even losses: 4
          Profit: 2725.509961934327
          Profit per bet: 14.420687629282153
          Profit per match: 13.627549809671635


HI
HI
HI
HI
HI
The original score is 23226.80081149216
Score:  19986.30202653225
Score:  17015.169830759773
Score:  20107.880628532715
Score:  21424.900409754115
Score:  21434.950939244016
Score:  19114.861088903035
Score:  21043.262717863396
Score:  19752.665246241904
Score:  19999.822429131462
Score:  21240.447902544514
Score:  16027.707566592982
Score:  20196.569051537965
Score:  21489.101070158213
Score:  22285.69318054729
Score:  21472.981215055042
Score:  22347.224444110398
Score:  17960.740550537124
Score:  16379.995746166784
Score:  20483.7192305927
Score:  18025.01826555597
Score:  17886.981381919282
Score:  19626.171822991815
Score:  20734.302873745255
Score:  15252.13492389906
The EV is different
OLD:
1
NEW:
2

model_4
GaussianNB()
['R_avg_TD_landed', 'R_Middleweight_rank', 'R_Reach_cms', 'total_round_dif', 'R_Height_cms', 'R_avg_SIG_STR_pct', 'B_age', 'R_longest_win_streak', 'lose_streak_dif', 'ko_dif', 'R_win_by_Decision_Majority', 'longest_win_streak_dif', 'avg_sub_att_dif', 'R_Weight_lbs', 'sig_str_dif', 'B_Height_cms', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'B_draw', 'avg_td_dif', 'R_win_by_Decision_Split', 'age_dif', 'B_current_win_streak', 'R_odds']
2

(3202, 24)

(3202,)

(3202, 2)

(200, 24)

(200,)

(200, 2)

     t1_odds  t2_odds       t1_prob       t2_prob  winner
0       -278      225  3.731706e-08  1.000000e+00       1
1        188     -240  5.879851e-01  4.120149e-01       1
2      -1430      750  9.994612e-01  5.387845e-04       1
3       -230      180  8.232411e-01  1.767589e-01       0
4        110     -137  8.934779e-01  1.065221e-01       0
..       ...      ...           ...           ...     ...
195     -215      195  9.999999e-01  1.071703e-07       0
196     -570      480  9.952128e-01  4.787164e-03       0
197      125     -135  7.533273e-01  2.466727e-01       0
198     -170      160  7.781855e-01  2.218145e-01       1
199     -120      110  8.704545e-01  1.295455e-01       0

[200 rows x 5 columns]

          Number of matches: 200
          Number of bets: 189
          Number of winning bets: 122
          Number of losing bets: 67
          Number of underdog bets: 69
          Number of underdog wins: 33
          Number of underdog losses: 36
          Number of Favorite bets: 111
          Number of favorite wins: 84
          Number of favorite losses: 27
          Number of even bets: 9
          Number of even wins: 5
          Number of even losses: 4
          Profit: 2725.509961934327
          Profit per bet: 14.420687629282153
          Profit per match: 13.627549809671635


HI
HI
HI
HI
HI
Current best score is: 23226.80081149216
NO IMPROVEMENT
FINAL BEST SCORE: 23226.80081149216

model_4
GaussianNB()
['R_avg_TD_landed', 'R_Middleweight_rank', 'R_Reach_cms', 'total_round_dif', 'R_Height_cms', 'R_avg_SIG_STR_pct', 'B_age', 'R_longest_win_streak', 'lose_streak_dif', 'ko_dif', 'R_win_by_Decision_Majority', 'longest_win_streak_dif', 'avg_sub_att_dif', 'R_Weight_lbs', 'sig_str_dif', 'B_Height_cms', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'B_draw', 'avg_td_dif', 'R_win_by_Decision_Split', 'age_dif', 'B_current_win_streak', 'R_odds']
2

(3202, 24)

(3202,)

(3202, 2)

(200, 24)

(200,)

(200, 2)

     t1_odds  t2_odds       t1_prob       t2_prob  winner
0       -278      225  3.731706e-08  1.000000e+00       1
1        188     -240  5.879851e-01  4.120149e-01       1
2      -1430      750  9.994612e-01  5.387845e-04       1
3       -230      180  8.232411e-01  1.767589e-01       0
4        110     -137  8.934779e-01  1.065221e-01       0
..       ...      ...           ...           ...     ...
195     -215      195  9.999999e-01  1.071703e-07       0
196     -570      480  9.952128e-01  4.787164e-03       0
197      125     -135  7.533273e-01  2.466727e-01       0
198     -170      160  7.781855e-01  2.218145e-01       1
199     -120      110  8.704545e-01  1.295455e-01       0

[200 rows x 5 columns]

          Number of matches: 200
          Number of bets: 189
          Number of winning bets: 122
          Number of losing bets: 67
          Number of underdog bets: 69
          Number of underdog wins: 33
          Number of underdog losses: 36
          Number of Favorite bets: 111
          Number of favorite wins: 84
          Number of favorite losses: 27
          Number of even bets: 9
          Number of even wins: 5
          Number of even losses: 4
          Profit: 2725.509961934327
          Profit per bet: 14.420687629282153
          Profit per match: 13.627549809671635


HI
HI
HI
HI
HI


Starting New Run for GaussianNB


Previous Best Score: 23226.80081149216

NEW BEST SCORE
var_smoothing: 1e-12 Best Score: 23291.80081149216


var_smoothing: 1e-11 Score: 23291.80081149216
var_smoothing: 1e-10 Score: 23291.80081149216
var_smoothing: 1e-09 Score: 23226.80081149216
var_smoothing: 1e-08 Score: 22828.222583453862
var_smoothing: 1e-07 Score: 20011.3060496331
var_smoothing: 1e-06 Score: 18700.318967466992


Starting New Run for GaussianNB


Previous Best Score: 23291.80081149216
var_smoothing: 1e-12 Score: 23291.80081149216
var_smoothing: 1e-11 Score: 23291.80081149216
var_smoothing: 1e-10 Score: 23291.80081149216
var_smoothing: 1e-09 Score: 23226.80081149216
var_smoothing: 1e-08 Score: 22828.222583453862
var_smoothing: 1e-07 Score: 20011.3060496331
var_smoothing: 1e-06 Score: 18700.318967466992

model_4
GaussianNB(var_smoothing=1e-12)
['R_avg_TD_landed', 'R_Middleweight_rank', 'R_Reach_cms', 'total_round_dif', 'R_Height_cms', 'R_avg_SIG_STR_pct', 'B_age', 'R_longest_win_streak', 'lose_streak_dif', 'ko_dif', 'R_win_by_Decision_Majority', 'longest_win_streak_dif', 'avg_sub_att_dif', 'R_Weight_lbs', 'sig_str_dif', 'B_Height_cms', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'B_draw', 'avg_td_dif', 'R_win_by_Decision_Split', 'age_dif', 'B_current_win_streak', 'R_odds']
2

(3202, 24)

(3202,)

(3202, 2)

(200, 24)

(200,)

(200, 2)

     t1_odds  t2_odds       t1_prob       t2_prob  winner
0       -278      225  2.124195e-08  1.000000e+00       1
1        188     -240  5.883630e-01  4.116370e-01       1
2      -1430      750  9.994625e-01  5.374782e-04       1
3       -230      180  8.235712e-01  1.764288e-01       0
4        110     -137  8.937603e-01  1.062397e-01       0
..       ...      ...           ...           ...     ...
195     -215      195  9.999999e-01  1.067198e-07       0
196     -570      480  9.952243e-01  4.775722e-03       0
197      125     -135  7.536962e-01  2.463038e-01       0
198     -170      160  7.786826e-01  2.213174e-01       1
199     -120      110  8.705932e-01  1.294068e-01       0

[200 rows x 5 columns]

          Number of matches: 200
          Number of bets: 189
          Number of winning bets: 122
          Number of losing bets: 67
          Number of underdog bets: 69
          Number of underdog wins: 33
          Number of underdog losses: 36
          Number of Favorite bets: 111
          Number of favorite wins: 84
          Number of favorite losses: 27
          Number of even bets: 9
          Number of even wins: 5
          Number of even losses: 4
          Profit: 2725.509961934327
          Profit per bet: 14.420687629282153
          Profit per match: 13.627549809671635


HI
HI
HI
HI
HI
0 22581.42949338527
1 22759.891020316627
2 23291.80081149216
3 22301.977695319132
4 20952.025744776423
5 21850.373242895745
6 21545.69082718567
7 21122.798536169572
8 21228.01919187188
9 22205.605810173623
10 21125.13977545026
11 21000.27671303169
12 20685.47324466814
13 19211.73083521649
14 17666.955012275
15 18157.114613500322
16 18162.426737831993
17 17860.176985026734
18 16923.305216179622
19 16606.563859606744
20 16188.373526794509
21 15601.538144721038
22 15418.118339024746
23 14490.794363486511
24 14062.271710904877
25 13973.35283072885
26 13262.924539652988
27 12085.658427100403
28 12079.277509667676
29 11599.831678323359
30 10508.735799347289
31 9717.720305194383
32 9335.74307332045
33 9160.091968156146
34 8906.422463369185
35 9426.441386279887
36 9668.509617158334
37 9836.303933550125
38 10187.467391841245
39 9880.06681502375
40 9702.070374437806
41 8878.289233068119
42 9324.491947342218
43 9439.23583370588
44 8439.463393784239
45 7923.554302875147
46 7574.106596876555
47 7635.289457743913
48 8530.983302849523
49 8738.898673464642
50 8797.98435005032
51 8538.002205002384
52 8863.165103083364
53 9003.143504263746
54 8860.023626039503
55 7892.27815529403
56 8427.121830137705
57 8268.09556511858
58 8246.016853741132
59 8203.642563262478
60 7638.642563262477
61 7567.807008089173
62 7618.966882697324
63 7932.025031239343
64 8349.21117842549
65 7686.912327850778
66 7591.417822356271
67 7256.127967283809
68 6706.7457231189555
69 6289.468036565406
70 6413.039465136835
71 6848.05630015367
72 6873.05630015367
73 7073.05630015367
74 6702.818204915575
75 6506.004656575309
76 6391.004656575309
77 6281.920407491059
78 6117.8863165819685
79 6337.8863165819685
80 6837.8863165819685
81 6644.9297948428375
82 6724.9297948428375
83 6870.064182194617
84 7035.064182194617
85 6303.107660455486
86 6016.194616977225
87 6714.238095238095
88 6739.238095238095
89 5739.238095238095
90 6089.238095238095
91 6539.238095238095
92 6429.238095238095
93 6929.238095238095
94 7029.238095238095
95 6754.238095238095
96 6890.0
97 7060.0
98 7130.0
99 6875.0
100 6745.0
101 6800.0
102 6480.0
103 5941.0
104 6231.0
105 6173.0
106 6148.0
107 5943.0
108 5713.0
109 5343.0
110 5433.0
111 5508.0
112 5558.0
113 5528.0
114 5728.0
115 5388.0
116 5038.0
117 4813.0
118 4913.0
119 4873.0
120 4503.0
121 4563.0
122 4663.0
123 4120.0
124 3835.0
125 3760.0
126 3860.0
127 3830.0
128 3640.0
129 3510.0
130 3645.0
131 3845.0
132 3870.0
133 3970.0
134 3835.0
135 3995.0
136 4095.0
137 4055.0
138 4295.0
139 4455.0
140 4515.0
141 4370.0
142 4325.0
143 4425.0
144 4190.0
145 4078.0
146 3768.0
147 3538.0
148 3233.0
149 2973.0
150 3123.0
151 3223.0
152 2820.0
153 2765.0
154 2765.0
155 2790.0
156 2890.0
157 2925.0
158 2925.0
159 2518.0
160 2918.0
161 2918.0
162 2743.0
163 2688.0
164 2788.0
165 2493.0
166 2493.0
167 2493.0
168 2493.0
169 2793.0
170 2923.0
171 2923.0
172 3123.0
173 2948.0
174 3148.0
175 2973.0
176 3173.0
177 3273.0
178 3078.0
179 2998.0
180 3298.0
181 3398.0
182 3183.0
183 2858.0
184 2958.0
185 2873.0
186 2873.0
187 2733.0
188 2733.0
189 2733.0
190 2933.0
191 2933.0
192 2933.0
193 2723.0
194 2703.0
195 2803.0
196 2803.0
197 2618.0
198 2718.0
199 2718.0

model_4
GaussianNB(var_smoothing=1e-12)
['R_avg_TD_landed', 'R_Middleweight_rank', 'R_Reach_cms', 'total_round_dif', 'R_Height_cms', 'R_avg_SIG_STR_pct', 'B_age', 'R_longest_win_streak', 'lose_streak_dif', 'ko_dif', 'R_win_by_Decision_Majority', 'longest_win_streak_dif', 'avg_sub_att_dif', 'R_Weight_lbs', 'sig_str_dif', 'B_Height_cms', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'B_draw', 'avg_td_dif', 'R_win_by_Decision_Split', 'age_dif', 'B_current_win_streak', 'R_odds']
2

(3202, 24)

(3202,)

(3202, 2)

(200, 24)

(200,)

(200, 2)

     t1_odds  t2_odds       t1_prob       t2_prob  winner
0       -278      225  2.124195e-08  1.000000e+00       1
1        188     -240  5.883630e-01  4.116370e-01       1
2      -1430      750  9.994625e-01  5.374782e-04       1
3       -230      180  8.235712e-01  1.764288e-01       0
4        110     -137  8.937603e-01  1.062397e-01       0
..       ...      ...           ...           ...     ...
195     -215      195  9.999999e-01  1.067198e-07       0
196     -570      480  9.952243e-01  4.775722e-03       0
197      125     -135  7.536962e-01  2.463038e-01       0
198     -170      160  7.786826e-01  2.213174e-01       1
199     -120      110  8.705932e-01  1.294068e-01       0

[200 rows x 5 columns]

          Number of matches: 200
          Number of bets: 189
          Number of winning bets: 122
          Number of losing bets: 67
          Number of underdog bets: 69
          Number of underdog wins: 33
          Number of underdog losses: 36
          Number of Favorite bets: 111
          Number of favorite wins: 84
          Number of favorite losses: 27
          Number of even bets: 9
          Number of even wins: 5
          Number of even losses: 4
          Profit: 2725.509961934327
          Profit per bet: 14.420687629282153
          Profit per match: 13.627549809671635


HI
HI
HI
HI
HI
The original score is 23291.80081149216
Score:  20163.225103455326
Score:  16752.669830759773
Score:  19950.924106793584
Score:  21324.900409754115
Score:  21364.661084171556
Score:  19143.432517474466
Score:  21137.070767398996
Score:  20260.45510131437
Score:  20145.276974586006
Score:  21340.44790254451
Score:  16150.434839320256
Score:  20196.569051537965
Score:  21456.84300564208
Score:  22199.747234601342
Score:  21744.45477075889
Score:  22055.942392828343
Score:  18172.40721720379
Score:  16154.749970437137
Score:  20521.219230592702
Score:  17959.113402414856
Score:  17849.24553286268
Score:  19646.892543712536
Score:  20782.37979682218
Score:  15252.13492389906
The hyperparameters are different
OLD:
GaussianNB()
NEW:
GaussianNB(var_smoothing=1e-12)

model_4
GaussianNB(var_smoothing=1e-12)
['R_avg_TD_landed', 'R_Middleweight_rank', 'R_Reach_cms', 'total_round_dif', 'R_Height_cms', 'R_avg_SIG_STR_pct', 'B_age', 'R_longest_win_streak', 'lose_streak_dif', 'ko_dif', 'R_win_by_Decision_Majority', 'longest_win_streak_dif', 'avg_sub_att_dif', 'R_Weight_lbs', 'sig_str_dif', 'B_Height_cms', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'B_draw', 'avg_td_dif', 'R_win_by_Decision_Split', 'age_dif', 'B_current_win_streak', 'R_odds']
2

(3202, 24)

(3202,)

(3202, 2)

(200, 24)

(200,)

(200, 2)

     t1_odds  t2_odds       t1_prob       t2_prob  winner
0       -278      225  2.124195e-08  1.000000e+00       1
1        188     -240  5.883630e-01  4.116370e-01       1
2      -1430      750  9.994625e-01  5.374782e-04       1
3       -230      180  8.235712e-01  1.764288e-01       0
4        110     -137  8.937603e-01  1.062397e-01       0
..       ...      ...           ...           ...     ...
195     -215      195  9.999999e-01  1.067198e-07       0
196     -570      480  9.952243e-01  4.775722e-03       0
197      125     -135  7.536962e-01  2.463038e-01       0
198     -170      160  7.786826e-01  2.213174e-01       1
199     -120      110  8.705932e-01  1.294068e-01       0

[200 rows x 5 columns]

          Number of matches: 200
          Number of bets: 189
          Number of winning bets: 122
          Number of losing bets: 67
          Number of underdog bets: 69
          Number of underdog wins: 33
          Number of underdog losses: 36
          Number of Favorite bets: 111
          Number of favorite wins: 84
          Number of favorite losses: 27
          Number of even bets: 9
          Number of even wins: 5
          Number of even losses: 4
          Profit: 2725.509961934327
          Profit per bet: 14.420687629282153
          Profit per match: 13.627549809671635


HI
HI
HI
HI
HI
Current best score is: 23291.80081149216
NO IMPROVEMENT
FINAL BEST SCORE: 23291.80081149216

model_4
GaussianNB(var_smoothing=1e-12)
['R_avg_TD_landed', 'R_Middleweight_rank', 'R_Reach_cms', 'total_round_dif', 'R_Height_cms', 'R_avg_SIG_STR_pct', 'B_age', 'R_longest_win_streak', 'lose_streak_dif', 'ko_dif', 'R_win_by_Decision_Majority', 'longest_win_streak_dif', 'avg_sub_att_dif', 'R_Weight_lbs', 'sig_str_dif', 'B_Height_cms', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'B_draw', 'avg_td_dif', 'R_win_by_Decision_Split', 'age_dif', 'B_current_win_streak', 'R_odds']
2

(3202, 24)

(3202,)

(3202, 2)

(200, 24)

(200,)

(200, 2)

     t1_odds  t2_odds       t1_prob       t2_prob  winner
0       -278      225  2.124195e-08  1.000000e+00       1
1        188     -240  5.883630e-01  4.116370e-01       1
2      -1430      750  9.994625e-01  5.374782e-04       1
3       -230      180  8.235712e-01  1.764288e-01       0
4        110     -137  8.937603e-01  1.062397e-01       0
..       ...      ...           ...           ...     ...
195     -215      195  9.999999e-01  1.067198e-07       0
196     -570      480  9.952243e-01  4.775722e-03       0
197      125     -135  7.536962e-01  2.463038e-01       0
198     -170      160  7.786826e-01  2.213174e-01       1
199     -120      110  8.705932e-01  1.294068e-01       0

[200 rows x 5 columns]

          Number of matches: 200
          Number of bets: 189
          Number of winning bets: 122
          Number of losing bets: 67
          Number of underdog bets: 69
          Number of underdog wins: 33
          Number of underdog losses: 36
          Number of Favorite bets: 111
          Number of favorite wins: 84
          Number of favorite losses: 27
          Number of even bets: 9
          Number of even wins: 5
          Number of even losses: 4
          Profit: 2725.509961934327
          Profit per bet: 14.420687629282153
          Profit per match: 13.627549809671635


HI
HI
HI
HI
HI


Starting New Run for GaussianNB


Previous Best Score: 23291.80081149216
var_smoothing: 1e-12 Score: 23291.80081149216
var_smoothing: 1e-11 Score: 23291.80081149216
var_smoothing: 1e-10 Score: 23291.80081149216
var_smoothing: 1e-09 Score: 23226.80081149216
var_smoothing: 1e-08 Score: 22828.222583453862
var_smoothing: 1e-07 Score: 20011.3060496331
var_smoothing: 1e-06 Score: 18700.318967466992

model_4
GaussianNB(var_smoothing=1e-12)
['R_avg_TD_landed', 'R_Middleweight_rank', 'R_Reach_cms', 'total_round_dif', 'R_Height_cms', 'R_avg_SIG_STR_pct', 'B_age', 'R_longest_win_streak', 'lose_streak_dif', 'ko_dif', 'R_win_by_Decision_Majority', 'longest_win_streak_dif', 'avg_sub_att_dif', 'R_Weight_lbs', 'sig_str_dif', 'B_Height_cms', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'B_draw', 'avg_td_dif', 'R_win_by_Decision_Split', 'age_dif', 'B_current_win_streak', 'R_odds']
2

(3202, 24)

(3202,)

(3202, 2)

(200, 24)

(200,)

(200, 2)

     t1_odds  t2_odds       t1_prob       t2_prob  winner
0       -278      225  2.124195e-08  1.000000e+00       1
1        188     -240  5.883630e-01  4.116370e-01       1
2      -1430      750  9.994625e-01  5.374782e-04       1
3       -230      180  8.235712e-01  1.764288e-01       0
4        110     -137  8.937603e-01  1.062397e-01       0
..       ...      ...           ...           ...     ...
195     -215      195  9.999999e-01  1.067198e-07       0
196     -570      480  9.952243e-01  4.775722e-03       0
197      125     -135  7.536962e-01  2.463038e-01       0
198     -170      160  7.786826e-01  2.213174e-01       1
199     -120      110  8.705932e-01  1.294068e-01       0

[200 rows x 5 columns]

          Number of matches: 200
          Number of bets: 189
          Number of winning bets: 122
          Number of losing bets: 67
          Number of underdog bets: 69
          Number of underdog wins: 33
          Number of underdog losses: 36
          Number of Favorite bets: 111
          Number of favorite wins: 84
          Number of favorite losses: 27
          Number of even bets: 9
          Number of even wins: 5
          Number of even losses: 4
          Profit: 2725.509961934327
          Profit per bet: 14.420687629282153
          Profit per match: 13.627549809671635


HI
HI
HI
HI
HI
0 22581.42949338527
1 22759.891020316627
2 23291.80081149216
3 22301.977695319132
4 20952.025744776423
5 21850.373242895745
6 21545.69082718567
7 21122.798536169572
8 21228.01919187188
9 22205.605810173623
10 21125.13977545026
11 21000.27671303169
12 20685.47324466814
13 19211.73083521649
14 17666.955012275
15 18157.114613500322
16 18162.426737831993
17 17860.176985026734
18 16923.305216179622
19 16606.563859606744
20 16188.373526794509
21 15601.538144721038
22 15418.118339024746
23 14490.794363486511
24 14062.271710904877
25 13973.35283072885
26 13262.924539652988
27 12085.658427100403
28 12079.277509667676
29 11599.831678323359
30 10508.735799347289
31 9717.720305194383
32 9335.74307332045
33 9160.091968156146
34 8906.422463369185
35 9426.441386279887
36 9668.509617158334
37 9836.303933550125
38 10187.467391841245
39 9880.06681502375
40 9702.070374437806
41 8878.289233068119
42 9324.491947342218
43 9439.23583370588
44 8439.463393784239
45 7923.554302875147
46 7574.106596876555
47 7635.289457743913
48 8530.983302849523
49 8738.898673464642
50 8797.98435005032
51 8538.002205002384
52 8863.165103083364
53 9003.143504263746
54 8860.023626039503
55 7892.27815529403
56 8427.121830137705
57 8268.09556511858
58 8246.016853741132
59 8203.642563262478
60 7638.642563262477
61 7567.807008089173
62 7618.966882697324
63 7932.025031239343
64 8349.21117842549
65 7686.912327850778
66 7591.417822356271
67 7256.127967283809
68 6706.7457231189555
69 6289.468036565406
70 6413.039465136835
71 6848.05630015367
72 6873.05630015367
73 7073.05630015367
74 6702.818204915575
75 6506.004656575309
76 6391.004656575309
77 6281.920407491059
78 6117.8863165819685
79 6337.8863165819685
80 6837.8863165819685
81 6644.9297948428375
82 6724.9297948428375
83 6870.064182194617
84 7035.064182194617
85 6303.107660455486
86 6016.194616977225
87 6714.238095238095
88 6739.238095238095
89 5739.238095238095
90 6089.238095238095
91 6539.238095238095
92 6429.238095238095
93 6929.238095238095
94 7029.238095238095
95 6754.238095238095
96 6890.0
97 7060.0
98 7130.0
99 6875.0
100 6745.0
101 6800.0
102 6480.0
103 5941.0
104 6231.0
105 6173.0
106 6148.0
107 5943.0
108 5713.0
109 5343.0
110 5433.0
111 5508.0
112 5558.0
113 5528.0
114 5728.0
115 5388.0
116 5038.0
117 4813.0
118 4913.0
119 4873.0
120 4503.0
121 4563.0
122 4663.0
123 4120.0
124 3835.0
125 3760.0
126 3860.0
127 3830.0
128 3640.0
129 3510.0
130 3645.0
131 3845.0
132 3870.0
133 3970.0
134 3835.0
135 3995.0
136 4095.0
137 4055.0
138 4295.0
139 4455.0
140 4515.0
141 4370.0
142 4325.0
143 4425.0
144 4190.0
145 4078.0
146 3768.0
147 3538.0
148 3233.0
149 2973.0
150 3123.0
151 3223.0
152 2820.0
153 2765.0
154 2765.0
155 2790.0
156 2890.0
157 2925.0
158 2925.0
159 2518.0
160 2918.0
161 2918.0
162 2743.0
163 2688.0
164 2788.0
165 2493.0
166 2493.0
167 2493.0
168 2493.0
169 2793.0
170 2923.0
171 2923.0
172 3123.0
173 2948.0
174 3148.0
175 2973.0
176 3173.0
177 3273.0
178 3078.0
179 2998.0
180 3298.0
181 3398.0
182 3183.0
183 2858.0
184 2958.0
185 2873.0
186 2873.0
187 2733.0
188 2733.0
189 2733.0
190 2933.0
191 2933.0
192 2933.0
193 2723.0
194 2703.0
195 2803.0
196 2803.0
197 2618.0
198 2718.0
199 2718.0

model_4
GaussianNB(var_smoothing=1e-12)
['R_avg_TD_landed', 'R_Middleweight_rank', 'R_Reach_cms', 'total_round_dif', 'R_Height_cms', 'R_avg_SIG_STR_pct', 'B_age', 'R_longest_win_streak', 'lose_streak_dif', 'ko_dif', 'R_win_by_Decision_Majority', 'longest_win_streak_dif', 'avg_sub_att_dif', 'R_Weight_lbs', 'sig_str_dif', 'B_Height_cms', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'B_draw', 'avg_td_dif', 'R_win_by_Decision_Split', 'age_dif', 'B_current_win_streak', 'R_odds']
2

(3202, 24)

(3202,)

(3202, 2)

(200, 24)

(200,)

(200, 2)

     t1_odds  t2_odds       t1_prob       t2_prob  winner
0       -278      225  2.124195e-08  1.000000e+00       1
1        188     -240  5.883630e-01  4.116370e-01       1
2      -1430      750  9.994625e-01  5.374782e-04       1
3       -230      180  8.235712e-01  1.764288e-01       0
4        110     -137  8.937603e-01  1.062397e-01       0
..       ...      ...           ...           ...     ...
195     -215      195  9.999999e-01  1.067198e-07       0
196     -570      480  9.952243e-01  4.775722e-03       0
197      125     -135  7.536962e-01  2.463038e-01       0
198     -170      160  7.786826e-01  2.213174e-01       1
199     -120      110  8.705932e-01  1.294068e-01       0

[200 rows x 5 columns]

          Number of matches: 200
          Number of bets: 189
          Number of winning bets: 122
          Number of losing bets: 67
          Number of underdog bets: 69
          Number of underdog wins: 33
          Number of underdog losses: 36
          Number of Favorite bets: 111
          Number of favorite wins: 84
          Number of favorite losses: 27
          Number of even bets: 9
          Number of even wins: 5
          Number of even losses: 4
          Profit: 2725.509961934327
          Profit per bet: 14.420687629282153
          Profit per match: 13.627549809671635


HI
HI
HI
HI
HI
The original score is 23291.80081149216
Score:  20163.225103455326
Score:  16752.669830759773
Score:  19950.924106793584
Score:  21324.900409754115
Score:  21364.661084171556
Score:  19143.432517474466
Score:  21137.070767398996
Score:  20260.45510131437
Score:  20145.276974586006
Score:  21340.44790254451
Score:  16150.434839320256
Score:  20196.569051537965
Score:  21456.84300564208
Score:  22199.747234601342
Score:  21744.45477075889
Score:  22055.942392828343
Score:  18172.40721720379
Score:  16154.749970437137
Score:  20521.219230592702
Score:  17959.113402414856
Score:  17849.24553286268
Score:  19646.892543712536
Score:  20782.37979682218
Score:  15252.13492389906

model_4
GaussianNB(var_smoothing=1e-12)
['R_avg_TD_landed', 'R_Middleweight_rank', 'R_Reach_cms', 'total_round_dif', 'R_Height_cms', 'R_avg_SIG_STR_pct', 'B_age', 'R_longest_win_streak', 'lose_streak_dif', 'ko_dif', 'R_win_by_Decision_Majority', 'longest_win_streak_dif', 'avg_sub_att_dif', 'R_Weight_lbs', 'sig_str_dif', 'B_Height_cms', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'B_draw', 'avg_td_dif', 'R_win_by_Decision_Split', 'age_dif', 'B_current_win_streak', 'R_odds']
2

(3202, 24)

(3202,)

(3202, 2)

(200, 24)

(200,)

(200, 2)

     t1_odds  t2_odds       t1_prob       t2_prob  winner
0       -278      225  2.124195e-08  1.000000e+00       1
1        188     -240  5.883630e-01  4.116370e-01       1
2      -1430      750  9.994625e-01  5.374782e-04       1
3       -230      180  8.235712e-01  1.764288e-01       0
4        110     -137  8.937603e-01  1.062397e-01       0
..       ...      ...           ...           ...     ...
195     -215      195  9.999999e-01  1.067198e-07       0
196     -570      480  9.952243e-01  4.775722e-03       0
197      125     -135  7.536962e-01  2.463038e-01       0
198     -170      160  7.786826e-01  2.213174e-01       1
199     -120      110  8.705932e-01  1.294068e-01       0

[200 rows x 5 columns]

          Number of matches: 200
          Number of bets: 189
          Number of winning bets: 122
          Number of losing bets: 67
          Number of underdog bets: 69
          Number of underdog wins: 33
          Number of underdog losses: 36
          Number of Favorite bets: 111
          Number of favorite wins: 84
          Number of favorite losses: 27
          Number of even bets: 9
          Number of even wins: 5
          Number of even losses: 4
          Profit: 2725.509961934327
          Profit per bet: 14.420687629282153
          Profit per match: 13.627549809671635


HI
HI
HI
HI
HI

In [142]:
#Get new score:
#def evaluate_model(input_model, input_features, input_ev, train_df, train_labels, train_odds, test_df, test_labels, test_odds, verbose=True):
score = evaluate_model(test_model, test_model_features, test_model_ev, df_train, label_train, odds_train, df_test, label_test,
                         odds_test, verbose = True)

(3202, 22)

(3202,)

(3202, 2)

(200, 22)

(200,)

(200, 2)

     t1_odds  t2_odds       t1_prob   t2_prob  winner
0       -278      225  3.711489e-08  1.000000       1
1        188     -240  5.770285e-01  0.422971       1
2      -1430      750  9.994364e-01  0.000564       1
3       -230      180  7.969887e-01  0.203011       0
4        110     -137  8.501262e-01  0.149874       0
..       ...      ...           ...       ...     ...
195     -215      195  7.730886e-01  0.226911       0
196     -570      480  9.721915e-01  0.027809       0
197      125     -135  6.764259e-01  0.323574       0
198     -170      160  7.703111e-01  0.229689       1
199     -120      110  8.652886e-01  0.134711       0

[200 rows x 5 columns]

          Number of matches: 200
          Number of bets: 187
          Number of winning bets: 121
          Number of losing bets: 66
          Number of underdog bets: 72
          Number of underdog wins: 35
          Number of underdog losses: 37
          Number of Favorite bets: 106
          Number of favorite wins: 80
          Number of favorite losses: 26
          Number of even bets: 9
          Number of even wins: 6
          Number of even losses: 3
          Profit: 3058.779062809811
          Profit per bet: 16.357107287753
          Profit per match: 15.293895314049054

print(test_model_name) 
print(models[0][model_num])
print()
print(test_model)
print(eval(models[1][model_num]))
print()
print(test_model_features) 
print(eval(models[2][model_num]))
print()
print(test_model_ev)
print(eval(models[3][model_num]))

In [143]:
models[0][model_num] =  test_model_name 
models[1][model_num] = test_model
models[2][model_num] = test_model_features
models[3][model_num] = test_model_ev
models[4][model_num] = score

In [144]:
with open('models.csv', 'w', newline='') as outfile:
    writer = csv.writer(outfile)
    for row in models:
        print("HI")
        writer.writerow(row)
    
outfile.close()

HI
HI
HI
HI
HI

In [145]:
with open('models.csv', newline='') as f:
    reader = csv.reader(f)
    data = list(reader)
    
print(len(data))

5

In [146]:
data

[['model_0',
  'model_1',
  'model_2',
  'model_3',
  'model_4',
  'model_06_13_20',
  'model_06_20_20',
  'model_6_27_20',
  'model_7_18_20',
  'model_7_25_20'],
 ['LogisticRegression(max_iter=50000, random_state=75, tol=5.993308915320019)',
  'DecisionTreeClassifier(max_depth=96, max_leaf_nodes=571, random_state=75)',
  "RandomForestClassifier(criterion='entropy', max_depth=10, n_estimators=150,\n                       random_state=75)",
  'GradientBoostingClassifier(n_estimators=122, random_state=75)',
  'GaussianNB(var_smoothing=1e-12)',
  'LogisticRegression(max_iter=50000, random_state=75, tol=5.993308915320019)',
  'GaussianNB()',
  'GaussianNB()',
  'GradientBoostingClassifier(n_estimators=122, random_state=75)',
  'GaussianNB()'],
 ["['B_Welterweight_rank', 'R_Heavyweight_rank', 'R_current_win_streak', 'B_Light Heavyweight_rank', 'win_streak_dif', 'R_win_by_TKO_Doctor_Stoppage', 'B_current_win_streak', 'age_dif', 'B_win_by_Decision_Majority', 'B_win_by_TKO_Doctor_Stoppage', 'R_win_by_Decision_Majority', 'R_odds', 'R_current_lose_streak', 'R_Reach_cms', 'B_draw', 'total_round_dif', 'R_ev', 'B_ev']",
  '[\'R_draw\', \'B_draw\', "B_Women\'s Flyweight_rank", "R_Women\'s Bantamweight_rank", \'gender\', \'R_avg_SUB_ATT\', \'age_dif\']',
  '[\'avg_sub_att_dif\', \'R_Weight_lbs\', \'B_Lightweight_rank\', \'R_win_by_TKO_Doctor_Stoppage\', \'B_avg_SIG_STR_landed\', \'no_of_rounds\', \'loss_dif\', "R_Women\'s Featherweight_rank", \'B_odds\', \'B_avg_SUB_ATT\', \'R_total_rounds_fought\', \'age_dif\', \'R_win_by_Decision_Split\', \'R_avg_TD_pct\', \'empty_arena\']',
  '["B_Women\'s Bantamweight_rank", "R_Women\'s Featherweight_rank", \'R_Light Heavyweight_rank\', \'age_dif\', \'B_current_win_streak\', \'R_win_by_Submission\', \'B_win_by_Decision_Unanimous\', \'R_win_by_Decision_Unanimous\', \'R_current_lose_streak\', \'B_win_by_TKO_Doctor_Stoppage\', \'win_dif\', \'B_win_by_Decision_Split\', \'B_wins\', \'R_Stance\', \'B_age\', \'B_Weight_lbs\', \'R_ev\', \'B_total_rounds_fought\', \'location\', \'R_odds\', \'R_Reach_cms\', \'R_Weight_lbs\', \'R_current_win_streak\', \'R_age\', \'empty_arena\', \'R_win_by_Decision_Split\', \'R_draw\', \'lose_streak_dif\', \'B_draw\']',
  "['R_avg_TD_landed', 'R_Middleweight_rank', 'R_Reach_cms', 'total_round_dif', 'R_Height_cms', 'R_avg_SIG_STR_pct', 'B_age', 'R_longest_win_streak', 'lose_streak_dif', 'ko_dif', 'R_win_by_Decision_Majority', 'longest_win_streak_dif', 'avg_sub_att_dif', 'R_Weight_lbs', 'sig_str_dif', 'B_Height_cms', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'B_draw', 'avg_td_dif', 'R_win_by_Decision_Split', 'age_dif', 'B_current_win_streak', 'R_odds']",
  "['B_win_by_Decision_Majority', 'B_win_by_TKO_Doctor_Stoppage', 'R_win_by_Decision_Majority', 'R_odds', 'R_current_lose_streak', 'R_Reach_cms', 'B_draw', 'total_round_dif', 'R_ev', 'B_ev']",
  "['R_win_by_Decision_Unanimous', 'B_win_by_Submission', 'R_Weight_lbs', 'sig_str_dif', 'B_Height_cms', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'height_dif', 'B_draw', 'avg_td_dif', 'R_win_by_Decision_Split', 'age_dif', 'B_current_win_streak', 'R_odds']",
  "['R_longest_win_streak', 'longest_win_streak_dif', 'reach_dif', 'avg_sub_att_dif', 'R_win_by_Decision_Unanimous', 'B_win_by_Submission', 'R_Weight_lbs', 'sig_str_dif', 'B_Height_cms', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'height_dif', 'B_draw', 'avg_td_dif', 'R_win_by_Decision_Split', 'age_dif', 'B_current_win_streak', 'R_odds']",
  "['B_current_win_streak', 'R_win_by_Submission', 'B_win_by_Decision_Unanimous', 'R_win_by_Decision_Unanimous', 'R_current_lose_streak', 'B_win_by_TKO_Doctor_Stoppage', 'win_dif', 'B_win_by_Decision_Split', 'B_wins', 'R_Stance', 'B_age', 'B_Weight_lbs', 'R_ev', 'B_total_rounds_fought', 'location', 'R_odds', 'R_Reach_cms', 'R_Weight_lbs', 'R_current_win_streak', 'R_age', 'empty_arena', 'R_win_by_Decision_Split', 'R_draw', 'lose_streak_dif', 'B_draw']",
  "['R_Reach_cms', 'total_round_dif', 'R_Height_cms', 'R_avg_SIG_STR_pct', 'B_age', 'R_longest_win_streak', 'lose_streak_dif', 'ko_dif', 'R_win_by_Decision_Majority', 'longest_win_streak_dif', 'avg_sub_att_dif', 'R_Weight_lbs', 'sig_str_dif', 'B_Height_cms', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'B_draw', 'avg_td_dif', 'R_win_by_Decision_Split', 'age_dif', 'B_current_win_streak', 'R_odds']"],
 ['0', '0', '0', '0', '2', '0', '0', '0', '0', '1'],
 ['309.8471615570594',
  '19.73578268854496',
  '696.0790730982187',
  '37.43852695065729',
  '2725.509961934327',
  '1430.3717548191437',
  '1697.3297832582061',
  '2409.6936881337597',
  '1583.5562982860636',
  '3058.779062809811']]