In [1]:
import pandas as pd
import numpy as np
from functions import *
import random
import csv
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import GradientBoostingClassifier

In [2]:
#Load models
#REMINDER: We are going to need to use 'eval' to get the models usable
with open('models.csv', newline='') as f:
    reader = csv.reader(f)
    models = list(reader)
    
print(len(models))


###SELECT MODEL TO OPTIMIZE
model_num = 4

5

In [3]:
models

[['model_0',
  'model_1',
  'model_2',
  'model_3',
  'model_9_2_20',
  'model_06_13_20',
  'model_06_20_20',
  'model_6_27_20',
  'model_7_18_20',
  'model_7_25_20',
  'model_9_2_20',
  'model_9_10_20'],
 ['LogisticRegression(max_iter=50000, random_state=75, tol=5.993308915320019)',
  'DecisionTreeClassifier(max_depth=96, max_leaf_nodes=577, random_state=75)',
  "RandomForestClassifier(criterion='entropy', max_depth=10, n_estimators=197,\n                       n_jobs=-1, random_state=75)",
  'GradientBoostingClassifier(max_depth=95, min_samples_leaf=6, n_estimators=195,\n                           random_state=75)',
  'GaussianNB(var_smoothing=1e-12)',
  'LogisticRegression(max_iter=50000, random_state=75, tol=5.993308915320019)',
  'GaussianNB()',
  'GaussianNB()',
  'GradientBoostingClassifier(n_estimators=122, random_state=75)',
  'GaussianNB()',
  'GaussianNB(var_smoothing=1e-12)',
  'GaussianNB(var_smoothing=1e-12)'],
 ['["R_Women\'s Featherweight_rank", \'loss_dif\', \'R_avg_SUB_ATT\', \'lose_streak_dif\', \'B_avg_SIG_STR_landed\', \'better_rank\', \'B_win_by_Decision_Split\', "B_Women\'s Flyweight_rank", \'B_Middleweight_rank\', \'country\', \'R_avg_SIG_STR_landed\', \'B_Flyweight_rank\', \'R_Light Heavyweight_rank\', \'R_Middleweight_rank\', \'R_wins\', \'R_avg_SIG_STR_pct\', "R_Women\'s Flyweight_rank", \'R_avg_TD_landed\', \'B_longest_win_streak\', \'B_Lightweight_rank\', \'avg_sub_att_dif\', \'R_win_by_Decision_Split\', \'R_Flyweight_rank\', \'B_Welterweight_rank\', \'R_Heavyweight_rank\', \'R_current_win_streak\', \'B_Light Heavyweight_rank\', \'win_streak_dif\', \'R_win_by_TKO_Doctor_Stoppage\', \'B_current_win_streak\', \'age_dif\', \'B_win_by_Decision_Majority\', \'R_odds\', \'R_current_lose_streak\', \'R_Reach_cms\', \'B_draw\', \'total_round_dif\', \'R_ev\', \'B_ev\']',
  '[\'R_Featherweight_rank\', \'R_Welterweight_rank\', \'B_Light Heavyweight_rank\', \'R_current_lose_streak\', \'weight_class\', \'R_win_by_Decision_Majority\', "B_Women\'s Featherweight_rank", \'B_Flyweight_rank\', "B_Women\'s Bantamweight_rank", \'B_draw\', \'empty_arena\', "R_Women\'s Featherweight_rank", \'B_Lightweight_rank\', \'B_wins\', "B_Women\'s Flyweight_rank", "B_Women\'s Strawweight_rank", \'B_Bantamweight_rank\', \'R_Reach_cms\', \'B_win_by_Decision_Unanimous\', \'height_dif\', \'B_avg_TD_pct\', \'constant_1\']',
  '[\'B_current_lose_streak\', \'avg_sub_att_dif\', \'B_Middleweight_rank\', \'R_current_win_streak\', \'total_round_dif\', \'B_avg_SUB_ATT\', \'B_avg_SIG_STR_landed\', \'age_dif\', \'B_Light Heavyweight_rank\', \'R_avg_TD_pct\', \'R_ev\', "B_Women\'s Flyweight_rank", "B_Women\'s Strawweight_rank", \'B_Bantamweight_rank\', \'R_Reach_cms\', \'B_win_by_Decision_Unanimous\', \'constant_1\']',
  "['B_Welterweight_rank', 'B_total_title_bouts', 'R_avg_TD_pct', 'B_Bantamweight_rank', 'R_Featherweight_rank', 'no_of_rounds', 'B_draw', 'B_Stance', 'R_win_by_TKO_Doctor_Stoppage', 'R_current_win_streak', 'B_avg_SIG_STR_landed', 'country']",
  "['win_streak_dif', 'B_Light Heavyweight_rank', 'B_Lightweight_rank', 'R_avg_TD_landed', 'R_Middleweight_rank', 'total_round_dif', 'R_Height_cms', 'R_avg_SIG_STR_pct', 'B_age', 'R_longest_win_streak', 'lose_streak_dif', 'R_win_by_Decision_Majority', 'longest_win_streak_dif', 'avg_sub_att_dif', 'R_Weight_lbs', 'sig_str_dif', 'B_Height_cms', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'B_draw', 'avg_td_dif', 'R_win_by_Decision_Split', 'age_dif', 'R_odds']",
  "['B_win_by_Decision_Majority', 'B_win_by_TKO_Doctor_Stoppage', 'R_win_by_Decision_Majority', 'R_odds', 'R_current_lose_streak', 'R_Reach_cms', 'B_draw', 'total_round_dif', 'R_ev', 'B_ev']",
  "['R_win_by_Decision_Unanimous', 'B_win_by_Submission', 'R_Weight_lbs', 'sig_str_dif', 'B_Height_cms', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'height_dif', 'B_draw', 'avg_td_dif', 'R_win_by_Decision_Split', 'age_dif', 'B_current_win_streak', 'R_odds']",
  "['R_longest_win_streak', 'longest_win_streak_dif', 'reach_dif', 'avg_sub_att_dif', 'R_win_by_Decision_Unanimous', 'B_win_by_Submission', 'R_Weight_lbs', 'sig_str_dif', 'B_Height_cms', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'height_dif', 'B_draw', 'avg_td_dif', 'R_win_by_Decision_Split', 'age_dif', 'B_current_win_streak', 'R_odds']",
  "['B_current_win_streak', 'R_win_by_Submission', 'B_win_by_Decision_Unanimous', 'R_win_by_Decision_Unanimous', 'R_current_lose_streak', 'B_win_by_TKO_Doctor_Stoppage', 'win_dif', 'B_win_by_Decision_Split', 'B_wins', 'R_Stance', 'B_age', 'B_Weight_lbs', 'R_ev', 'B_total_rounds_fought', 'location', 'R_odds', 'R_Reach_cms', 'R_Weight_lbs', 'R_current_win_streak', 'R_age', 'empty_arena', 'R_win_by_Decision_Split', 'R_draw', 'lose_streak_dif', 'B_draw']",
  "['R_Reach_cms', 'total_round_dif', 'R_Height_cms', 'R_avg_SIG_STR_pct', 'B_age', 'R_longest_win_streak', 'lose_streak_dif', 'ko_dif', 'R_win_by_Decision_Majority', 'longest_win_streak_dif', 'avg_sub_att_dif', 'R_Weight_lbs', 'sig_str_dif', 'B_Height_cms', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'B_draw', 'avg_td_dif', 'R_win_by_Decision_Split', 'age_dif', 'B_current_win_streak', 'R_odds']",
  "['win_streak_dif', 'B_Light Heavyweight_rank', 'B_Lightweight_rank', 'R_avg_TD_landed', 'R_Middleweight_rank', 'total_round_dif', 'R_Height_cms', 'R_avg_SIG_STR_pct', 'B_age', 'R_longest_win_streak', 'lose_streak_dif', 'R_win_by_Decision_Majority', 'longest_win_streak_dif', 'avg_sub_att_dif', 'R_Weight_lbs', 'sig_str_dif', 'B_Height_cms', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'B_draw', 'avg_td_dif', 'R_win_by_Decision_Split', 'age_dif', 'R_odds']",
  "['B_Weight_lbs', 'B_Flyweight_rank', 'B_avg_TD_landed', 'B_Light Heavyweight_rank', 'B_Lightweight_rank', 'R_avg_TD_landed', 'R_Middleweight_rank', 'R_Height_cms', 'R_avg_SIG_STR_pct', 'B_age', 'R_longest_win_streak', 'lose_streak_dif', 'R_win_by_Decision_Majority', 'longest_win_streak_dif', 'avg_sub_att_dif', 'sig_str_dif', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'B_draw', 'R_win_by_Decision_Split', 'age_dif', 'R_odds']"],
 ['4', '69', '1', '11', '0', '0', '0', '0', '0', '1', '3', '2'],
 ['508.89457024082856',
  '-560.134250884872',
  '1597.4770547929672',
  '618.8267504806089',
  '1818.056262',
  '77.71618393',
  '1269.609788',
  '1475.010313',
  '950.3768293',
  '1095.567294',
  '1818.056262',
  '1591.63623']]

In [4]:
df = pd.read_csv("../data/ufc-master.csv")

In [5]:
#Let's put all the labels in a dataframe
df['label'] = ''
#If the winner is not Red or Blue we can remove it.
mask = df['Winner'] == 'Red'
df['label'][mask] = 0
mask = df['Winner'] == 'Blue'
df['label'][mask] = 1

#df["Winner"] = df["Winner"].astype('category')
df = df[(df['Winner'] == 'Blue') | (df['Winner'] == 'Red')]


#Make sure lable is numeric
df['label'] = pd.to_numeric(df['label'], errors='coerce')

D:\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
D:\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [6]:
#Let's fix the date
df['date'] = pd.to_datetime(df['date'])

In [7]:
#Create a label df:
label_df = df['label']

#Let's create an odds df too:
odds_df = df[['R_odds', 'B_odds']]

In [8]:
#Split the test set.  We are always(?) going to use the last 200 matches as the test set, so we don't want those around
#as we pick models

df_train = df[200:]
odds_train = odds_df[200:]
label_train = label_df[200:]

df_test = df[:200]
odds_test = odds_df[:200]
label_test = label_df[:200]

print(len(df_test))
print(len(odds_test))
print(len(label_test))

print(len(df_train))
print(len(odds_train))
print(len(label_train))

200
200
200
4221
4221
4221

In [9]:
display(df_train)
display(df_test)

,R_fighter,B_fighter,R_odds,B_odds,R_ev,B_ev,date,location,country,Winner,...,B_td_attempted_bout,R_td_pct_bout,B_td_pct_bout,R_sub_attempts_bout,B_sub_attempts_bout,R_pass_bout,B_pass_bout,R_rev_bout,B_rev_bout,label
200,Aljamain Sterling,Cory Sandhagen,-115,-105,86.956522,95.238095,2020-06-06,"Las Vegas, Nevada, USA",USA,Red,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
201,Neil Magny,Anthony Rocco Martin,-135,115,74.074074,115.000000,2020-06-06,"Las Vegas, Nevada, USA",USA,Red,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
202,Eddie Wineland,Sean O'Malley,400,-500,400.000000,20.000000,2020-06-06,"Las Vegas, Nevada, USA",USA,Blue,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
203,Alex Caceres,Chase Hooper,168,-195,168.000000,51.282051,2020-06-06,"Las Vegas, Nevada, USA",USA,Red,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
204,Ian Heinisch,Gerald Meerschaert,-130,110,76.923077,110.000000,2020-06-06,"Las Vegas, Nevada, USA",USA,Red,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4416,Duane Ludwig,Darren Elkins,-155,135,64.516129,135.000000,2010-03-21,"Broomfield, Colorado, USA",USA,Blue,...,2.0,0.00,0.5,0.0,0.0,0.0,0.0,0.0,0.0,1
4417,John Howard,Daniel Roberts,-210,175,47.619048,175.000000,2010-03-21,"Broomfield, Colorado, USA",USA,Red,...,1.0,1.00,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0
4418,Brendan Schaub,Chase Gormley,-260,220,38.461538,220.000000,2010-03-21,"Broomfield, Colorado, USA",USA,Red,...,2.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
4419,Mike Pierce,Julio Paulino,-420,335,23.809524,335.000000,2010-03-21,"Broomfield, Colorado, USA",USA,Red,...,0.0,0.60,0.0,0.0,0.0,6.0,0.0,0.0,0.0,0
4420,Eric Schafer,Jason Brilz,140,-160,140.000000,62.500000,2010-03-21,"Broomfield, Colorado, USA",USA,Blue,...,6.0,0.66,0.5,1.0,1.0,1.0,6.0,1.0,1.0,1

,R_fighter,B_fighter,R_odds,B_odds,R_ev,B_ev,date,location,country,Winner,...,B_td_attempted_bout,R_td_pct_bout,B_td_pct_bout,R_sub_attempts_bout,B_sub_attempts_bout,R_pass_bout,B_pass_bout,R_rev_bout,B_rev_bout,label
0,Marlon Moraes,Cory Sandhagen,115,-141,115.000000,70.921986,2020-10-10,"Abu Dhabi, Abu Dhabi, United Arab Emirates",United Arab Emirates,Blue,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
1,Edson Barboza,Makwan Amirkhani,-286,225,34.965035,225.000000,2020-10-10,"Abu Dhabi, Abu Dhabi, United Arab Emirates",United Arab Emirates,Red,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2,Ben Rothwell,Marcin Tybura,-159,130,62.893082,130.000000,2020-10-10,"Abu Dhabi, Abu Dhabi, United Arab Emirates",United Arab Emirates,Blue,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
3,Markus Perez,Dricus Du Plessis,133,-167,133.000000,59.880240,2020-10-10,"Abu Dhabi, Abu Dhabi, United Arab Emirates",United Arab Emirates,Blue,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
4,Tom Aspinall,Alan Baudot,-560,400,17.857143,400.000000,2020-10-10,"Abu Dhabi, Abu Dhabi, United Arab Emirates",United Arab Emirates,Red,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,Julia Avila,Gina Mazany,-575,485,17.391304,485.000000,2020-06-13,"Las Vegas, Nevada, USA",USA,Red,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
196,Tyson Nam,Zarrukh Adashev,-135,125,74.074074,125.000000,2020-06-13,"Las Vegas, Nevada, USA",USA,Red,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
197,Anthony Ivy,Christian Aguilera,-185,170,54.054054,170.000000,2020-06-13,"Las Vegas, Nevada, USA",USA,Blue,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
198,Amanda Nunes,Felicia Spencer,-600,450,16.666667,450.000000,2020-06-06,"Las Vegas, Nevada, USA",USA,Red,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
199,Raphael Assuncao,Cody Garbrandt,120,-140,120.000000,71.428571,2020-06-06,"Las Vegas, Nevada, USA",USA,Blue,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1

In [10]:
#Set a value for the nulls in the ranks

weightclass_list = ['B_match_weightclass_rank', 'R_match_weightclass_rank', "R_Women's Flyweight_rank", "R_Women's Featherweight_rank", "R_Women's Strawweight_rank", "R_Women's Bantamweight_rank", 'R_Heavyweight_rank', 'R_Light Heavyweight_rank', 'R_Middleweight_rank', 'R_Welterweight_rank', 'R_Lightweight_rank', 'R_Featherweight_rank', 'R_Bantamweight_rank', 'R_Flyweight_rank', 'R_Pound-for-Pound_rank', "B_Women's Flyweight_rank", "B_Women's Featherweight_rank", "B_Women's Strawweight_rank", "B_Women's Bantamweight_rank", 'B_Heavyweight_rank', 'B_Light Heavyweight_rank', 'B_Middleweight_rank', 'B_Welterweight_rank', 'B_Lightweight_rank', 'B_Featherweight_rank', 'B_Bantamweight_rank', 'B_Flyweight_rank', 'B_Pound-for-Pound_rank']
df_train[weightclass_list] = df_train[weightclass_list].fillna(17)
df_test[weightclass_list] = df_test[weightclass_list].fillna(17)

D:\Anaconda3\lib\site-packages\pandas\core\frame.py:2963: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [11]:
df_test
#df_test.to_csv('test.csv')

,R_fighter,B_fighter,R_odds,B_odds,R_ev,B_ev,date,location,country,Winner,...,B_td_attempted_bout,R_td_pct_bout,B_td_pct_bout,R_sub_attempts_bout,B_sub_attempts_bout,R_pass_bout,B_pass_bout,R_rev_bout,B_rev_bout,label
0,Marlon Moraes,Cory Sandhagen,115,-141,115.000000,70.921986,2020-10-10,"Abu Dhabi, Abu Dhabi, United Arab Emirates",United Arab Emirates,Blue,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
1,Edson Barboza,Makwan Amirkhani,-286,225,34.965035,225.000000,2020-10-10,"Abu Dhabi, Abu Dhabi, United Arab Emirates",United Arab Emirates,Red,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2,Ben Rothwell,Marcin Tybura,-159,130,62.893082,130.000000,2020-10-10,"Abu Dhabi, Abu Dhabi, United Arab Emirates",United Arab Emirates,Blue,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
3,Markus Perez,Dricus Du Plessis,133,-167,133.000000,59.880240,2020-10-10,"Abu Dhabi, Abu Dhabi, United Arab Emirates",United Arab Emirates,Blue,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
4,Tom Aspinall,Alan Baudot,-560,400,17.857143,400.000000,2020-10-10,"Abu Dhabi, Abu Dhabi, United Arab Emirates",United Arab Emirates,Red,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,Julia Avila,Gina Mazany,-575,485,17.391304,485.000000,2020-06-13,"Las Vegas, Nevada, USA",USA,Red,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
196,Tyson Nam,Zarrukh Adashev,-135,125,74.074074,125.000000,2020-06-13,"Las Vegas, Nevada, USA",USA,Red,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
197,Anthony Ivy,Christian Aguilera,-185,170,54.054054,170.000000,2020-06-13,"Las Vegas, Nevada, USA",USA,Blue,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
198,Amanda Nunes,Felicia Spencer,-600,450,16.666667,450.000000,2020-06-06,"Las Vegas, Nevada, USA",USA,Red,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
199,Raphael Assuncao,Cody Garbrandt,120,-140,120.000000,71.428571,2020-06-06,"Las Vegas, Nevada, USA",USA,Blue,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1

In [12]:
#1. Set features
#2. Set Hyperparameters
#3. Set EV
#4. Remove Features

In [13]:
models[1][model_num]

'GaussianNB(var_smoothing=1e-12)'

In [14]:
test_model_name = models[0][model_num]
test_model = eval(models[1][model_num])
test_model_features = eval(models[2][model_num])
test_model_ev = eval(models[3][model_num])

In [15]:
old_test_model = test_model
old_test_model_features = test_model_features
old_test_model_ev = test_model_ev

In [16]:
print(df_test.columns.tolist()) #Keeps us from truncating

['R_fighter', 'B_fighter', 'R_odds', 'B_odds', 'R_ev', 'B_ev', 'date', 'location', 'country', 'Winner', 'title_bout', 'weight_class', 'gender', 'no_of_rounds', 'B_current_lose_streak', 'B_current_win_streak', 'B_draw', 'B_avg_SIG_STR_landed', 'B_avg_SIG_STR_pct', 'B_avg_SUB_ATT', 'B_avg_TD_landed', 'B_avg_TD_pct', 'B_longest_win_streak', 'B_losses', 'B_total_rounds_fought', 'B_total_title_bouts', 'B_win_by_Decision_Majority', 'B_win_by_Decision_Split', 'B_win_by_Decision_Unanimous', 'B_win_by_KO/TKO', 'B_win_by_Submission', 'B_win_by_TKO_Doctor_Stoppage', 'B_wins', 'B_Stance', 'B_Height_cms', 'B_Reach_cms', 'B_Weight_lbs', 'R_current_lose_streak', 'R_current_win_streak', 'R_draw', 'R_avg_SIG_STR_landed', 'R_avg_SIG_STR_pct', 'R_avg_SUB_ATT', 'R_avg_TD_landed', 'R_avg_TD_pct', 'R_longest_win_streak', 'R_losses', 'R_total_rounds_fought', 'R_total_title_bouts', 'R_win_by_Decision_Majority', 'R_win_by_Decision_Split', 'R_win_by_Decision_Unanimous', 'R_win_by_KO/TKO', 'R_win_by_Submission', 'R_win_by_TKO_Doctor_Stoppage', 'R_wins', 'R_Stance', 'R_Height_cms', 'R_Reach_cms', 'R_Weight_lbs', 'R_age', 'B_age', 'lose_streak_dif', 'win_streak_dif', 'longest_win_streak_dif', 'win_dif', 'loss_dif', 'total_round_dif', 'total_title_bout_dif', 'ko_dif', 'sub_dif', 'height_dif', 'reach_dif', 'age_dif', 'sig_str_dif', 'avg_sub_att_dif', 'avg_td_dif', 'empty_arena', 'constant_1', 'B_match_weightclass_rank', 'R_match_weightclass_rank', "R_Women's Flyweight_rank", "R_Women's Featherweight_rank", "R_Women's Strawweight_rank", "R_Women's Bantamweight_rank", 'R_Heavyweight_rank', 'R_Light Heavyweight_rank', 'R_Middleweight_rank', 'R_Welterweight_rank', 'R_Lightweight_rank', 'R_Featherweight_rank', 'R_Bantamweight_rank', 'R_Flyweight_rank', 'R_Pound-for-Pound_rank', "B_Women's Flyweight_rank", "B_Women's Featherweight_rank", "B_Women's Strawweight_rank", "B_Women's Bantamweight_rank", 'B_Heavyweight_rank', 'B_Light Heavyweight_rank', 'B_Middleweight_rank', 'B_Welterweight_rank', 'B_Lightweight_rank', 'B_Featherweight_rank', 'B_Bantamweight_rank', 'B_Flyweight_rank', 'B_Pound-for-Pound_rank', 'better_rank', 'finish', 'finish_details', 'finish_round', 'finish_round_time', 'total_fight_time_secs', 'R_kd_bout', 'B_kd_bout', 'R_sig_str_landed_bout', 'B_sig_str_landed_bout', 'R_sig_str_attempted_bout', 'B_sig_str_attempted_bout', 'R_sig_str_pct_bout', 'B_sig_str_pct_bout', 'R_tot_str_landed_bout', 'B_tot_str_landed_bout', 'R_tot_str_attempted_bout', 'B_tot_str_attempted_bout', 'R_td_landed_bout', 'B_td_landed_bout', 'R_td_attempted_bout', 'B_td_attempted_bout', 'R_td_pct_bout', 'B_td_pct_bout', 'R_sub_attempts_bout', 'B_sub_attempts_bout', 'R_pass_bout', 'B_pass_bout', 'R_rev_bout', 'B_rev_bout', 'label']

In [17]:
#1. set features
my_pos_features = ['R_odds', 'B_odds', 'R_ev', 'B_ev',
       'location', 'country', 'title_bout', 'weight_class', 'gender',
       'no_of_rounds', 'B_current_lose_streak', 'B_current_win_streak',
       'B_draw', 'B_avg_SIG_STR_landed', 'B_avg_SIG_STR_pct', 'B_avg_SUB_ATT',
       'B_avg_TD_landed', 'B_avg_TD_pct', 'B_longest_win_streak', 'B_losses',
       'B_total_rounds_fought', 'B_total_title_bouts',
       'B_win_by_Decision_Majority', 'B_win_by_Decision_Split',
       'B_win_by_Decision_Unanimous', 'B_win_by_KO/TKO', 'B_win_by_Submission',
       'B_win_by_TKO_Doctor_Stoppage', 'B_wins', 'B_Stance', 'B_Height_cms',
       'B_Reach_cms', 'B_Weight_lbs', 'R_current_lose_streak',
       'R_current_win_streak', 'R_draw', 'R_avg_SIG_STR_landed',
       'R_avg_SIG_STR_pct', 'R_avg_SUB_ATT', 'R_avg_TD_landed', 'R_avg_TD_pct',
       'R_longest_win_streak', 'R_losses', 'R_total_rounds_fought',
       'R_total_title_bouts', 'R_win_by_Decision_Majority',
       'R_win_by_Decision_Split', 'R_win_by_Decision_Unanimous',
       'R_win_by_KO/TKO', 'R_win_by_Submission',
       'R_win_by_TKO_Doctor_Stoppage', 'R_wins', 'R_Stance', 'R_Height_cms',
       'R_Reach_cms', 'R_Weight_lbs', 'R_age', 'B_age', 'lose_streak_dif',
       'win_streak_dif', 'longest_win_streak_dif', 'win_dif', 'loss_dif',
       'total_round_dif', 'total_title_bout_dif', 'ko_dif', 'sub_dif',
       'height_dif', 'reach_dif', 'age_dif', 'sig_str_dif', 'avg_sub_att_dif',
       'avg_td_dif', 'empty_arena', 'B_match_weightclass_rank', 'R_match_weightclass_rank', 
        "R_Women's Flyweight_rank", "R_Women's Featherweight_rank", "R_Women's Strawweight_rank",
        "R_Women's Bantamweight_rank", 'R_Heavyweight_rank', 'R_Light Heavyweight_rank', 
        'R_Middleweight_rank', 'R_Welterweight_rank', 'R_Lightweight_rank', 'R_Featherweight_rank', 
        'R_Bantamweight_rank', 'R_Flyweight_rank', 'R_Pound-for-Pound_rank', "B_Women's Flyweight_rank", 
        "B_Women's Featherweight_rank", "B_Women's Strawweight_rank", "B_Women's Bantamweight_rank", 
        'B_Heavyweight_rank', 'B_Light Heavyweight_rank', 'B_Middleweight_rank', 'B_Welterweight_rank', 
        'B_Lightweight_rank', 'B_Featherweight_rank', 'B_Bantamweight_rank', 'B_Flyweight_rank', 
        'B_Pound-for-Pound_rank', 'better_rank']

In [18]:
print(test_model_name)
print(test_model)
print(test_model_features)
print(test_model_ev)

model_9_2_20
GaussianNB(var_smoothing=1e-12)
['win_streak_dif', 'B_Light Heavyweight_rank', 'B_Lightweight_rank', 'R_avg_TD_landed', 'R_Middleweight_rank', 'total_round_dif', 'R_Height_cms', 'R_avg_SIG_STR_pct', 'B_age', 'R_longest_win_streak', 'lose_streak_dif', 'R_win_by_Decision_Majority', 'longest_win_streak_dif', 'avg_sub_att_dif', 'R_Weight_lbs', 'sig_str_dif', 'B_Height_cms', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'B_draw', 'avg_td_dif', 'R_win_by_Decision_Split', 'age_dif', 'R_odds']
0

In [19]:
def save_model():
    score = evaluate_model(test_model, test_model_features, test_model_ev, df_train, label_train, odds_train, df_test, label_test,
                         odds_test, verbose = True)
    models[0][model_num] =  test_model_name 
    models[1][model_num] = test_model
    models[2][model_num] = test_model_features
    models[3][model_num] = test_model_ev
    models[4][model_num] = score    
    
    with open('models.csv', 'w', newline='') as outfile:
        writer = csv.writer(outfile)
        for row in models:
            print("HI")
            writer.writerow(row)

    outfile.close()

In [20]:
def print_model():
    print()
    print(test_model_name)
    print(test_model)
    print(test_model_features)
    print(test_model_ev)
    print()

In [21]:
keep_going = True
while(keep_going):
    #1. Set Features
    #get_best_features(pos_features, m, df, cur_features, labels, odds, scale=False)
    test_model_features = (get_best_features(my_pos_features, test_model, df_train, test_model_features, label_train, odds_train, 
                                             min_ev=test_model_ev))
    print_model()
    save_model()
    #2 Set hyperparameters
    #def tune_hyperparameters(input_model, input_features, input_df, input_labels, odds_input):
    test_model = tune_hyperparameters(test_model, test_model_features, df_train, label_train, odds_train, 
                                      min_ev=test_model_ev)
    print_model()
    save_model()
    #3. Set EV
    #def tune_ev(input_model, input_features, input_df, input_labels, odds_input, verbose=False):
    test_model_ev = tune_ev(test_model, test_model_features, df_train, label_train, odds_train, verbose=False)

    old_test_model_features = test_model_features #This prevents
                                                  #an uneccesary loop
    print_model()
    save_model()
    #4. Remove Features
    #def remove_to_improve(cur_features, m, df, labels, odds, scale=False, min_ev = 0):
    test_model_features = remove_to_improve(test_model_features, test_model, df_train, label_train, odds_train, min_ev = test_model_ev)    
    keep_going = False
    if old_test_model != test_model:
        print("The hyperparameters are different")
        print("OLD:")
        print(old_test_model)
        print("NEW:")
        print(test_model)
        keep_going = True
        old_test_model = test_model
    if old_test_model_features != test_model_features:
        print("The features are different")
        print("OLD:")
        print(old_test_model_features)
        print("NEW:")
        print(test_model_features)
        keep_going = True
        old_test_model_features = test_model_features
    if old_test_model_ev != test_model_ev:
        print("The EV is different")
        print("OLD:")
        print(old_test_model_ev)
        print("NEW:")
        print(test_model_ev)
        keep_going = True
        old_test_model_ev = test_model_ev
    print_model()
    save_model()

Current best score is: 18487.187620900095
Feature: gender Score: 19844.590557732008
Feature: B_avg_TD_pct Score: 20840.745294134696
Feature: R_avg_TD_pct Score: 22106.81160653491
The best feature was R_avg_TD_pct.  It scored 22106.81160653491
Current best score is: 22106.81160653491
Feature: no_of_rounds Score: 22464.797297229998
Feature: B_avg_TD_landed Score: 22979.73361362452
Feature: B_win_by_Decision_Unanimous Score: 23094.896706325067
Feature: B_Reach_cms Score: 24491.055999375574
The best feature was B_Reach_cms.  It scored 24491.055999375574
Current best score is: 24491.055999375574
NO IMPROVEMENT
FINAL BEST SCORE: 24491.055999375574

model_9_2_20
GaussianNB(var_smoothing=1e-12)
['B_Reach_cms', 'R_avg_TD_pct', 'win_streak_dif', 'B_Light Heavyweight_rank', 'B_Lightweight_rank', 'R_avg_TD_landed', 'R_Middleweight_rank', 'total_round_dif', 'R_Height_cms', 'R_avg_SIG_STR_pct', 'B_age', 'R_longest_win_streak', 'lose_streak_dif', 'R_win_by_Decision_Majority', 'longest_win_streak_dif', 'avg_sub_att_dif', 'R_Weight_lbs', 'sig_str_dif', 'B_Height_cms', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'B_draw', 'avg_td_dif', 'R_win_by_Decision_Split', 'age_dif', 'R_odds']
0

(3268, 26)

(3268,)

(3268, 2)

(200, 26)

(200,)

(200, 2)

     t1_odds  t2_odds   t1_prob   t2_prob  winner
0        115     -141  0.245913  0.754087       1
1       -286      225  0.010582  0.989418       0
2       -159      130  0.612863  0.387137       1
3        133     -167  0.602303  0.397697       1
4       -560      400  0.845835  0.154165       0
..       ...      ...       ...       ...     ...
195     -575      485  0.885198  0.114802       0
196     -135      125  0.809537  0.190463       0
197     -185      170  0.465309  0.534691       1
198     -600      450  0.999795  0.000205       0
199      120     -140  0.029589  0.970411       1

[200 rows x 5 columns]

          Number of matches: 200
          Number of bets: 187
          Number of winning bets: 113
          Number of losing bets: 74
          Number of underdog bets: 76
          Number of underdog wins: 34
          Number of underdog losses: 42
          Number of Favorite bets: 105
          Number of favorite wins: 77
          Number of favorite losses: 28
          Number of even bets: 6
          Number of even wins: 2
          Number of even losses: 4
          Profit: 1553.2187079034181
          Profit per bet: 8.305982395205445
          Profit per match: 7.76609353951709


HI
HI
HI
HI
HI


Starting New Run for GaussianNB


Previous Best Score: 24491.055999375574
var_smoothing: 1e-12 Score: 24491.055999375574
var_smoothing: 1e-11 Score: 24491.055999375574
var_smoothing: 1e-10 Score: 24491.055999375574

NEW BEST SCORE
var_smoothing: 1e-09 Best Score: 24600.8524210042



NEW BEST SCORE
var_smoothing: 1e-08 Best Score: 25009.689375794384


var_smoothing: 1e-07 Score: 21012.129320259963
var_smoothing: 1e-06 Score: 19510.084915664367


Starting New Run for GaussianNB


Previous Best Score: 25009.689375794384
var_smoothing: 1e-12 Score: 24491.055999375574
var_smoothing: 1e-11 Score: 24491.055999375574
var_smoothing: 1e-10 Score: 24491.055999375574
var_smoothing: 1e-09 Score: 24600.8524210042
var_smoothing: 1e-08 Score: 25009.689375794384
var_smoothing: 1e-07 Score: 21012.129320259963
var_smoothing: 1e-06 Score: 19510.084915664367

model_9_2_20
GaussianNB(var_smoothing=1e-08)
['B_Reach_cms', 'R_avg_TD_pct', 'win_streak_dif', 'B_Light Heavyweight_rank', 'B_Lightweight_rank', 'R_avg_TD_landed', 'R_Middleweight_rank', 'total_round_dif', 'R_Height_cms', 'R_avg_SIG_STR_pct', 'B_age', 'R_longest_win_streak', 'lose_streak_dif', 'R_win_by_Decision_Majority', 'longest_win_streak_dif', 'avg_sub_att_dif', 'R_Weight_lbs', 'sig_str_dif', 'B_Height_cms', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'B_draw', 'avg_td_dif', 'R_win_by_Decision_Split', 'age_dif', 'R_odds']
0

(3268, 26)

(3268,)

(3268, 2)

(200, 26)

(200,)

(200, 2)

     t1_odds  t2_odds   t1_prob   t2_prob  winner
0        115     -141  0.244055  0.755945       1
1       -286      225  0.013206  0.986794       0
2       -159      130  0.609467  0.390533       1
3        133     -167  0.597396  0.402604       1
4       -560      400  0.849705  0.150295       0
..       ...      ...       ...       ...     ...
195     -575      485  0.883629  0.116371       0
196     -135      125  0.809468  0.190532       0
197     -185      170  0.478547  0.521453       1
198     -600      450  0.999790  0.000210       0
199      120     -140  0.029468  0.970532       1

[200 rows x 5 columns]

          Number of matches: 200
          Number of bets: 188
          Number of winning bets: 114
          Number of losing bets: 74
          Number of underdog bets: 76
          Number of underdog wins: 34
          Number of underdog losses: 42
          Number of Favorite bets: 106
          Number of favorite wins: 78
          Number of favorite losses: 28
          Number of even bets: 6
          Number of even wins: 2
          Number of even losses: 4
          Profit: 1656.0758507605613
          Profit per bet: 8.80891409979022
          Profit per match: 8.280379253802806


HI
HI
HI
HI
HI
0 25009.689375794384
1 22718.445683836322
2 21776.84316136732
3 20610.105323632462
4 21104.056655887704
5 21331.298944603113
6 21060.347164809442
7 20611.398788689334
8 20009.862140803103
9 19885.83493568066
10 18916.957251379197
11 18011.56697501959
12 17633.713853720474
13 16470.611340507916
14 16184.066657708348
15 14823.317630636218
16 13962.08189637601
17 13220.644389257619
18 13813.413217567002
19 14051.951604647362
20 14366.765519559503
21 14557.172635715835
22 14801.077415992253
23 14939.656807142328
24 15444.19020252094
25 16253.564776169573
26 15764.234159577727
27 16241.99518307532
28 16831.125720383854
29 15727.582279304937
30 15306.03587338265
31 15119.713564082393
32 14986.009741315303
33 15711.089604105284
34 16274.875351507835
35 15849.051531070885
36 14454.946674729717
37 13997.621217889415
38 13753.47435433945
39 14441.836010862757
40 14622.574944710932
41 14312.099352073805
42 13990.250789393322
43 14120.350744638643
44 13994.930566917303
45 13072.61569844118
46 12626.131604870494
47 11586.570701339007
48 11442.085480556372
49 12065.729235175735
50 12009.182870297453
51 11635.269743335588
52 11537.92325210752
53 11194.50766149591
54 11116.098373086621
55 11073.62508134461
56 11466.6012718208
57 12102.115612552532
58 12459.646252374443
59 13407.427615703475
60 13028.613613613608
61 13261.404341404337
62 14246.550550034415
63 13905.605849573589
64 13320.757495604876
65 13400.241366572616
66 12827.70442075981
67 12817.708307705227
68 12406.799216796135
69 13032.456445901642
70 12085.456445901642
71 11446.092516755103
72 10430.541794329381
73 10405.54179432938
74 10474.060312847898
75 10482.137235924822
76 10115.801358062226
77 9876.955204216074
78 10106.046113306984
79 10066.046113306984
80 10374.089591567852
81 10279.089591567852
82 9895.851496329757
83 10159.704310182571
84 10392.747788443441
85 9938.120459250895
86 9565.163937511763
87 9618.385281385283
88 9693.385281385283
89 10083.385281385283
90 10233.147186147187
91 10358.238095238095
92 10658.238095238095
93 10238.238095238095
94 10448.238095238095
95 10483.238095238095
96 10740.0
97 10530.0
98 10655.0
99 10955.0
100 10356.0
101 9786.0
102 9781.0
103 9621.0
104 9681.0
105 9571.0
106 9571.0
107 9661.0
108 9781.0
109 9951.0
110 9611.0
111 9751.0
112 9956.0
113 9946.0
114 9866.0
115 9821.0
116 9821.0
117 9731.0
118 9931.0
119 9791.0
120 9166.0
121 9043.0
122 8943.0
123 9043.0
124 9218.0
125 8878.0
126 8653.0
127 8428.0
128 8728.0
129 8428.0
130 8493.0
131 8593.0
132 8558.0
133 8681.0
134 8881.0
135 8671.0
136 8616.0
137 8576.0
138 8776.0
139 8376.0
140 8736.0
141 8736.0
142 8736.0
143 8321.0
144 8321.0
145 7806.0
146 7806.0
147 7906.0
148 7856.0
149 7236.0
150 7286.0
151 6836.0
152 6836.0
153 6671.0
154 6771.0
155 6716.0
156 6916.0
157 7216.0
158 7058.0
159 6893.0
160 6488.0
161 5928.0
162 5803.0
163 6003.0
164 6103.0
165 5633.0
166 5466.0
167 5466.0
168 5241.0
169 5266.0
170 5291.0
171 5391.0
172 5391.0
173 5136.0
174 5136.0
175 5336.0
176 5231.0
177 4926.0
178 4738.0
179 4738.0
180 4558.0
181 4403.0
182 4188.0
183 4188.0
184 4188.0
185 4303.0
186 4008.0
187 4208.0
188 4208.0
189 3998.0
190 3998.0
191 3998.0
192 4098.0
193 4198.0
194 4198.0
195 4198.0
196 4178.0
197 4278.0
198 4378.0
199 4578.0

model_9_2_20
GaussianNB(var_smoothing=1e-08)
['B_Reach_cms', 'R_avg_TD_pct', 'win_streak_dif', 'B_Light Heavyweight_rank', 'B_Lightweight_rank', 'R_avg_TD_landed', 'R_Middleweight_rank', 'total_round_dif', 'R_Height_cms', 'R_avg_SIG_STR_pct', 'B_age', 'R_longest_win_streak', 'lose_streak_dif', 'R_win_by_Decision_Majority', 'longest_win_streak_dif', 'avg_sub_att_dif', 'R_Weight_lbs', 'sig_str_dif', 'B_Height_cms', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'B_draw', 'avg_td_dif', 'R_win_by_Decision_Split', 'age_dif', 'R_odds']
0

(3268, 26)

(3268,)

(3268, 2)

(200, 26)

(200,)

(200, 2)

     t1_odds  t2_odds   t1_prob   t2_prob  winner
0        115     -141  0.244055  0.755945       1
1       -286      225  0.013206  0.986794       0
2       -159      130  0.609467  0.390533       1
3        133     -167  0.597396  0.402604       1
4       -560      400  0.849705  0.150295       0
..       ...      ...       ...       ...     ...
195     -575      485  0.883629  0.116371       0
196     -135      125  0.809468  0.190532       0
197     -185      170  0.478547  0.521453       1
198     -600      450  0.999790  0.000210       0
199      120     -140  0.029468  0.970532       1

[200 rows x 5 columns]

          Number of matches: 200
          Number of bets: 188
          Number of winning bets: 114
          Number of losing bets: 74
          Number of underdog bets: 76
          Number of underdog wins: 34
          Number of underdog losses: 42
          Number of Favorite bets: 106
          Number of favorite wins: 78
          Number of favorite losses: 28
          Number of even bets: 6
          Number of even wins: 2
          Number of even losses: 4
          Profit: 1656.0758507605613
          Profit per bet: 8.80891409979022
          Profit per match: 8.280379253802806


HI
HI
HI
HI
HI
The original score is 25009.689375794384
Score:  21246.45870251451
Score:  18605.42125252205
Score:  23962.551541851342
Score:  21277.56569932609
Score:  16268.695666858792
Score:  21231.045351539047
Score:  17427.858090770507
Score:  22928.59764316523
Score:  23684.32836455531
Score:  24647.845972151954
Score:  20634.44104348525
Score:  21012.157038489502
NEW BEST FEATURE SET
['B_Reach_cms', 'R_avg_TD_pct', 'win_streak_dif', 'B_Light Heavyweight_rank', 'B_Lightweight_rank', 'R_avg_TD_landed', 'R_Middleweight_rank', 'total_round_dif', 'R_Height_cms', 'R_avg_SIG_STR_pct', 'B_age', 'R_longest_win_streak', 'R_win_by_Decision_Majority', 'longest_win_streak_dif', 'avg_sub_att_dif', 'R_Weight_lbs', 'sig_str_dif', 'B_Height_cms', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'B_draw', 'avg_td_dif', 'R_win_by_Decision_Split', 'age_dif', 'R_odds']
25349.445631588078
Score:  19537.624970407833
Score:  22618.068291855274
Score:  21599.58949224154
Score:  23595.789599010666
Score:  21645.195170130748
Score:  21651.31320405697
Score:  14545.21621825859
Score:  16496.870493459566
Score:  22079.549874859014
Score:  23755.15486770688
Score:  21872.92929946805
Score:  16781.794772379933
Score:  16467.737922723078
The original score is 25349.445631588078
Score:  23988.88754650553
Score:  17176.818916847256
Score:  25133.439098081068
Score:  21779.12369093072
Score:  16620.44481632144
Score:  21443.136690791325
Score:  19467.937772947298
Score:  22000.111732275567
Score:  25084.698986326883
Score:  23853.321139553234
Score:  22988.883730633395
Score:  23725.817621549962
Score:  22001.174048180783
Score:  21802.497210500616
Score:  22402.290189434454
Score:  24922.680252104547
Score:  22543.081972870266
Score:  23934.846674199733
Score:  13468.887593719699
Score:  17773.629636201604
Score:  21841.013957014617
Score:  23386.347987711313
Score:  22523.248444190005
Score:  19363.282888234524
Score:  16444.080308138284
The hyperparameters are different
OLD:
GaussianNB(var_smoothing=1e-12)
NEW:
GaussianNB(var_smoothing=1e-08)
The features are different
OLD:
['B_Reach_cms', 'R_avg_TD_pct', 'win_streak_dif', 'B_Light Heavyweight_rank', 'B_Lightweight_rank', 'R_avg_TD_landed', 'R_Middleweight_rank', 'total_round_dif', 'R_Height_cms', 'R_avg_SIG_STR_pct', 'B_age', 'R_longest_win_streak', 'lose_streak_dif', 'R_win_by_Decision_Majority', 'longest_win_streak_dif', 'avg_sub_att_dif', 'R_Weight_lbs', 'sig_str_dif', 'B_Height_cms', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'B_draw', 'avg_td_dif', 'R_win_by_Decision_Split', 'age_dif', 'R_odds']
NEW:
['B_Reach_cms', 'R_avg_TD_pct', 'win_streak_dif', 'B_Light Heavyweight_rank', 'B_Lightweight_rank', 'R_avg_TD_landed', 'R_Middleweight_rank', 'total_round_dif', 'R_Height_cms', 'R_avg_SIG_STR_pct', 'B_age', 'R_longest_win_streak', 'R_win_by_Decision_Majority', 'longest_win_streak_dif', 'avg_sub_att_dif', 'R_Weight_lbs', 'sig_str_dif', 'B_Height_cms', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'B_draw', 'avg_td_dif', 'R_win_by_Decision_Split', 'age_dif', 'R_odds']

model_9_2_20
GaussianNB(var_smoothing=1e-08)
['B_Reach_cms', 'R_avg_TD_pct', 'win_streak_dif', 'B_Light Heavyweight_rank', 'B_Lightweight_rank', 'R_avg_TD_landed', 'R_Middleweight_rank', 'total_round_dif', 'R_Height_cms', 'R_avg_SIG_STR_pct', 'B_age', 'R_longest_win_streak', 'R_win_by_Decision_Majority', 'longest_win_streak_dif', 'avg_sub_att_dif', 'R_Weight_lbs', 'sig_str_dif', 'B_Height_cms', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'B_draw', 'avg_td_dif', 'R_win_by_Decision_Split', 'age_dif', 'R_odds']
0

(3268, 25)

(3268,)

(3268, 2)

(200, 25)

(200,)

(200, 2)

     t1_odds  t2_odds   t1_prob   t2_prob  winner
0        115     -141  0.265293  0.734707       1
1       -286      225  0.008461  0.991539       0
2       -159      130  0.608805  0.391195       1
3        133     -167  0.564626  0.435374       1
4       -560      400  0.849350  0.150650       0
..       ...      ...       ...       ...     ...
195     -575      485  0.903500  0.096500       0
196     -135      125  0.761847  0.238153       0
197     -185      170  0.477854  0.522146       1
198     -600      450  0.999790  0.000210       0
199      120     -140  0.032844  0.967156       1

[200 rows x 5 columns]

          Number of matches: 200
          Number of bets: 190
          Number of winning bets: 116
          Number of losing bets: 74
          Number of underdog bets: 76
          Number of underdog wins: 34
          Number of underdog losses: 42
          Number of Favorite bets: 108
          Number of favorite wins: 80
          Number of favorite losses: 28
          Number of even bets: 6
          Number of even wins: 2
          Number of even losses: 4
          Profit: 1729.974155845307
          Profit per bet: 9.105127136027932
          Profit per match: 8.649870779226536


HI
HI
HI
HI
HI
Current best score is: 25349.445631588078
Feature: B_Weight_lbs Score: 25840.424746959903
The best feature was B_Weight_lbs.  It scored 25840.424746959903
Current best score is: 25840.424746959903
NO IMPROVEMENT
FINAL BEST SCORE: 25840.424746959903

model_9_2_20
GaussianNB(var_smoothing=1e-08)
['B_Weight_lbs', 'B_Reach_cms', 'R_avg_TD_pct', 'win_streak_dif', 'B_Light Heavyweight_rank', 'B_Lightweight_rank', 'R_avg_TD_landed', 'R_Middleweight_rank', 'total_round_dif', 'R_Height_cms', 'R_avg_SIG_STR_pct', 'B_age', 'R_longest_win_streak', 'R_win_by_Decision_Majority', 'longest_win_streak_dif', 'avg_sub_att_dif', 'R_Weight_lbs', 'sig_str_dif', 'B_Height_cms', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'B_draw', 'avg_td_dif', 'R_win_by_Decision_Split', 'age_dif', 'R_odds']
0

(3268, 26)

(3268,)

(3268, 2)

(200, 26)

(200,)

(200, 2)

     t1_odds  t2_odds   t1_prob   t2_prob  winner
0        115     -141  0.272021  0.727979       1
1       -286      225  0.008580  0.991420       0
2       -159      130  0.607360  0.392640       1
3        133     -167  0.556076  0.443924       1
4       -560      400  0.844178  0.155822       0
..       ...      ...       ...       ...     ...
195     -575      485  0.906445  0.093555       0
196     -135      125  0.772149  0.227851       0
197     -185      170  0.472260  0.527740       1
198     -600      450  0.999792  0.000208       0
199      120     -140  0.033949  0.966051       1

[200 rows x 5 columns]

          Number of matches: 200
          Number of bets: 189
          Number of winning bets: 115
          Number of losing bets: 74
          Number of underdog bets: 77
          Number of underdog wins: 35
          Number of underdog losses: 42
          Number of Favorite bets: 106
          Number of favorite wins: 78
          Number of favorite losses: 28
          Number of even bets: 6
          Number of even wins: 2
          Number of even losses: 4
          Profit: 1802.236773467206
          Profit per bet: 9.535644304059291
          Profit per match: 9.01118386733603


HI
HI
HI
HI
HI


Starting New Run for GaussianNB


Previous Best Score: 25840.424746959903
var_smoothing: 1e-12 Score: 24119.402981856783
var_smoothing: 1e-11 Score: 24119.402981856783
var_smoothing: 1e-10 Score: 24119.402981856783
var_smoothing: 1e-09 Score: 24509.402981856783
var_smoothing: 1e-08 Score: 25840.424746959903
var_smoothing: 1e-07 Score: 20716.562565861357
var_smoothing: 1e-06 Score: 18843.40631966394

model_9_2_20
GaussianNB(var_smoothing=1e-08)
['B_Weight_lbs', 'B_Reach_cms', 'R_avg_TD_pct', 'win_streak_dif', 'B_Light Heavyweight_rank', 'B_Lightweight_rank', 'R_avg_TD_landed', 'R_Middleweight_rank', 'total_round_dif', 'R_Height_cms', 'R_avg_SIG_STR_pct', 'B_age', 'R_longest_win_streak', 'R_win_by_Decision_Majority', 'longest_win_streak_dif', 'avg_sub_att_dif', 'R_Weight_lbs', 'sig_str_dif', 'B_Height_cms', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'B_draw', 'avg_td_dif', 'R_win_by_Decision_Split', 'age_dif', 'R_odds']
0

(3268, 26)

(3268,)

(3268, 2)

(200, 26)

(200,)

(200, 2)

     t1_odds  t2_odds   t1_prob   t2_prob  winner
0        115     -141  0.272021  0.727979       1
1       -286      225  0.008580  0.991420       0
2       -159      130  0.607360  0.392640       1
3        133     -167  0.556076  0.443924       1
4       -560      400  0.844178  0.155822       0
..       ...      ...       ...       ...     ...
195     -575      485  0.906445  0.093555       0
196     -135      125  0.772149  0.227851       0
197     -185      170  0.472260  0.527740       1
198     -600      450  0.999792  0.000208       0
199      120     -140  0.033949  0.966051       1

[200 rows x 5 columns]

          Number of matches: 200
          Number of bets: 189
          Number of winning bets: 115
          Number of losing bets: 74
          Number of underdog bets: 77
          Number of underdog wins: 35
          Number of underdog losses: 42
          Number of Favorite bets: 106
          Number of favorite wins: 78
          Number of favorite losses: 28
          Number of even bets: 6
          Number of even wins: 2
          Number of even losses: 4
          Profit: 1802.236773467206
          Profit per bet: 9.535644304059291
          Profit per match: 9.01118386733603


HI
HI
HI
HI
HI
0 25840.424746959903
1 24781.15836476032
2 24257.78247510658
3 23024.928662593516
4 21319.59252777332
5 20862.680295208665
6 20133.688380847245
7 20250.98775854217
8 20043.54637147153
9 19356.562440036567
10 19442.706110684903
11 19690.064545541278
12 18406.174466902776
13 17717.427816134546
14 17788.557745876053
15 17554.45346658511
16 16717.45580502942
17 15734.03149622318
18 16622.531378733558
19 16080.263005461999
20 15449.967902627872
21 17255.11749182712
22 16635.993057742224
23 16060.171560369003
24 15610.563884713662
25 16078.542433931714
26 15424.679477394198
27 14932.654321258971
28 14698.040157324283
29 15538.751258052347
30 14741.429156131126
31 14025.148464662765
32 14291.272631982829
33 13755.268424843136
34 13976.55651075733
35 13734.46283275478
36 12710.77534643701
37 12447.211125599093
38 13116.304892894124
39 13113.510343498452
40 13094.049679762215
41 13641.732535991592
42 13382.901410144337
43 13553.996832912173
44 13273.154152856569
45 12864.139572665521
46 12900.151321393718
47 12574.116311252219
48 12836.061282298653
49 13303.929146142127
50 13169.56804665037
51 14082.809388641712
52 13972.367659318406
53 14252.780367051226
54 13713.695337778963
55 13077.020523733307
56 12902.741153678073
57 12834.27795021487
58 13109.98874023306
59 13747.219491771211
60 14049.647913923774
61 12980.192241676108
62 13389.045055528923
63 12991.380684010674
64 12442.757495604877
65 12894.167292498545
66 12368.673824946607
67 11949.708307705227
68 11778.296571293491
69 11948.4090150716
70 11777.334940997527
71 10998.092516755103
72 10234.464871252458
73 10364.464871252458
74 9858.484555272142
75 9678.228145015732
76 10141.892267153136
77 10388.046113306984
78 10808.046113306984
79 10613.046113306984
80 10173.046113306984
81 9928.046113306984
82 9535.180500658762
83 9173.466214944478
84 9239.553171466216
85 9130.402032749858
86 9520.163937511763
87 9653.385281385283
88 9683.385281385283
89 10128.385281385283
90 10133.147186147187
91 10493.238095238095
92 10553.238095238095
93 10603.238095238095
94 11103.238095238095
95 10320.238095238095
96 10510.0
97 10470.0
98 10245.0
99 10305.0
100 9811.0
101 9911.0
102 9511.0
103 9551.0
104 9706.0
105 9231.0
106 9431.0
107 9821.0
108 9571.0
109 9881.0
110 9481.0
111 9581.0
112 9881.0
113 9341.0
114 9411.0
115 9421.0
116 9301.0
117 9431.0
118 9731.0
119 9791.0
120 9316.0
121 9018.0
122 8968.0
123 8838.0
124 8913.0
125 8573.0
126 8598.0
127 8698.0
128 8798.0
129 8768.0
130 8633.0
131 9133.0
132 8893.0
133 8513.0
134 8613.0
135 8403.0
136 8503.0
137 8208.0
138 8148.0
139 8108.0
140 8268.0
141 8091.0
142 7946.0
143 7946.0
144 8046.0
145 7856.0
146 7391.0
147 7391.0
148 7186.0
149 7136.0
150 6846.0
151 6681.0
152 6516.0
153 6441.0
154 6256.0
155 6401.0
156 6501.0
157 6701.0
158 6643.0
159 6308.0
160 6248.0
161 6248.0
162 6448.0
163 6648.0
164 6748.0
165 5953.0
166 5366.0
167 5291.0
168 5491.0
169 5266.0
170 5291.0
171 5291.0
172 4936.0
173 4781.0
174 4881.0
175 4776.0
176 4681.0
177 4593.0
178 4383.0
179 4383.0
180 4203.0
181 4203.0
182 4303.0
183 4303.0
184 4188.0
185 4303.0
186 4108.0
187 3908.0
188 4108.0
189 3898.0
190 3898.0
191 3898.0
192 3898.0
193 3998.0
194 4098.0
195 4198.0
196 3978.0
197 4178.0
198 4178.0
199 4278.0

model_9_2_20
GaussianNB(var_smoothing=1e-08)
['B_Weight_lbs', 'B_Reach_cms', 'R_avg_TD_pct', 'win_streak_dif', 'B_Light Heavyweight_rank', 'B_Lightweight_rank', 'R_avg_TD_landed', 'R_Middleweight_rank', 'total_round_dif', 'R_Height_cms', 'R_avg_SIG_STR_pct', 'B_age', 'R_longest_win_streak', 'R_win_by_Decision_Majority', 'longest_win_streak_dif', 'avg_sub_att_dif', 'R_Weight_lbs', 'sig_str_dif', 'B_Height_cms', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'B_draw', 'avg_td_dif', 'R_win_by_Decision_Split', 'age_dif', 'R_odds']
0

(3268, 26)

(3268,)

(3268, 2)

(200, 26)

(200,)

(200, 2)

     t1_odds  t2_odds   t1_prob   t2_prob  winner
0        115     -141  0.272021  0.727979       1
1       -286      225  0.008580  0.991420       0
2       -159      130  0.607360  0.392640       1
3        133     -167  0.556076  0.443924       1
4       -560      400  0.844178  0.155822       0
..       ...      ...       ...       ...     ...
195     -575      485  0.906445  0.093555       0
196     -135      125  0.772149  0.227851       0
197     -185      170  0.472260  0.527740       1
198     -600      450  0.999792  0.000208       0
199      120     -140  0.033949  0.966051       1

[200 rows x 5 columns]

          Number of matches: 200
          Number of bets: 189
          Number of winning bets: 115
          Number of losing bets: 74
          Number of underdog bets: 77
          Number of underdog wins: 35
          Number of underdog losses: 42
          Number of Favorite bets: 106
          Number of favorite wins: 78
          Number of favorite losses: 28
          Number of even bets: 6
          Number of even wins: 2
          Number of even losses: 4
          Profit: 1802.236773467206
          Profit per bet: 9.535644304059291
          Profit per match: 9.01118386733603


HI
HI
HI
HI
HI
The original score is 25840.424746959903
Score:  25349.445631588078
Score:  24974.844480943317
Score:  16037.104198946285
Score:  24992.838269972104
Score:  21111.74639229791
Score:  17657.1262940222
Score:  22202.487977836416
Score:  18618.438563797008
Score:  21960.767062347022
Score:  24913.982404339076
Score:  24884.11328600705
Score:  22285.284695781895
Score:  23908.234196396876
Score:  22169.369930831355
Score:  21608.477011114508
Score:  23172.344607137034
Score:  25725.83573873574
Score:  23738.948056162677
Score:  24304.321005672165
Score:  12901.542188283478
Score:  18067.555292495512
Score:  22036.143434834667
Score:  23047.68785070743
Score:  23797.661216537028
Score:  18382.82953039594
Score:  16552.95937459456

model_9_2_20
GaussianNB(var_smoothing=1e-08)
['B_Weight_lbs', 'B_Reach_cms', 'R_avg_TD_pct', 'win_streak_dif', 'B_Light Heavyweight_rank', 'B_Lightweight_rank', 'R_avg_TD_landed', 'R_Middleweight_rank', 'total_round_dif', 'R_Height_cms', 'R_avg_SIG_STR_pct', 'B_age', 'R_longest_win_streak', 'R_win_by_Decision_Majority', 'longest_win_streak_dif', 'avg_sub_att_dif', 'R_Weight_lbs', 'sig_str_dif', 'B_Height_cms', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'B_draw', 'avg_td_dif', 'R_win_by_Decision_Split', 'age_dif', 'R_odds']
0

(3268, 26)

(3268,)

(3268, 2)

(200, 26)

(200,)

(200, 2)

     t1_odds  t2_odds   t1_prob   t2_prob  winner
0        115     -141  0.272021  0.727979       1
1       -286      225  0.008580  0.991420       0
2       -159      130  0.607360  0.392640       1
3        133     -167  0.556076  0.443924       1
4       -560      400  0.844178  0.155822       0
..       ...      ...       ...       ...     ...
195     -575      485  0.906445  0.093555       0
196     -135      125  0.772149  0.227851       0
197     -185      170  0.472260  0.527740       1
198     -600      450  0.999792  0.000208       0
199      120     -140  0.033949  0.966051       1

[200 rows x 5 columns]

          Number of matches: 200
          Number of bets: 189
          Number of winning bets: 115
          Number of losing bets: 74
          Number of underdog bets: 77
          Number of underdog wins: 35
          Number of underdog losses: 42
          Number of Favorite bets: 106
          Number of favorite wins: 78
          Number of favorite losses: 28
          Number of even bets: 6
          Number of even wins: 2
          Number of even losses: 4
          Profit: 1802.236773467206
          Profit per bet: 9.535644304059291
          Profit per match: 9.01118386733603


HI
HI
HI
HI
HI

In [22]:
#Get new score:
#def evaluate_model(input_model, input_features, input_ev, train_df, train_labels, train_odds, test_df, test_labels, test_odds, verbose=True):
score = evaluate_model(test_model, test_model_features, test_model_ev, df_train, label_train, odds_train, df_test, label_test,
                         odds_test, verbose = True)

(3268, 26)

(3268,)

(3268, 2)

(200, 26)

(200,)

(200, 2)

     t1_odds  t2_odds   t1_prob   t2_prob  winner
0        115     -141  0.272021  0.727979       1
1       -286      225  0.008580  0.991420       0
2       -159      130  0.607360  0.392640       1
3        133     -167  0.556076  0.443924       1
4       -560      400  0.844178  0.155822       0
..       ...      ...       ...       ...     ...
195     -575      485  0.906445  0.093555       0
196     -135      125  0.772149  0.227851       0
197     -185      170  0.472260  0.527740       1
198     -600      450  0.999792  0.000208       0
199      120     -140  0.033949  0.966051       1

[200 rows x 5 columns]

          Number of matches: 200
          Number of bets: 189
          Number of winning bets: 115
          Number of losing bets: 74
          Number of underdog bets: 77
          Number of underdog wins: 35
          Number of underdog losses: 42
          Number of Favorite bets: 106
          Number of favorite wins: 78
          Number of favorite losses: 28
          Number of even bets: 6
          Number of even wins: 2
          Number of even losses: 4
          Profit: 1802.236773467206
          Profit per bet: 9.535644304059291
          Profit per match: 9.01118386733603

print(test_model_name) 
print(models[0][model_num])
print()
print(test_model)
print(eval(models[1][model_num]))
print()
print(test_model_features) 
print(eval(models[2][model_num]))
print()
print(test_model_ev)
print(eval(models[3][model_num]))

In [23]:
models[0][model_num] =  test_model_name 
models[1][model_num] = test_model
models[2][model_num] = test_model_features
models[3][model_num] = test_model_ev
models[4][model_num] = score

In [24]:
with open('models.csv', 'w', newline='') as outfile:
    writer = csv.writer(outfile)
    for row in models:
        print("HI")
        writer.writerow(row)
    
outfile.close()

HI
HI
HI
HI
HI

In [25]:
with open('models.csv', newline='') as f:
    reader = csv.reader(f)
    data = list(reader)
    
print(len(data))

5

In [26]:
data

[['model_0',
  'model_1',
  'model_2',
  'model_3',
  'model_9_2_20',
  'model_06_13_20',
  'model_06_20_20',
  'model_6_27_20',
  'model_7_18_20',
  'model_7_25_20',
  'model_9_2_20',
  'model_9_10_20'],
 ['LogisticRegression(max_iter=50000, random_state=75, tol=5.993308915320019)',
  'DecisionTreeClassifier(max_depth=96, max_leaf_nodes=577, random_state=75)',
  "RandomForestClassifier(criterion='entropy', max_depth=10, n_estimators=197,\n                       n_jobs=-1, random_state=75)",
  'GradientBoostingClassifier(max_depth=95, min_samples_leaf=6, n_estimators=195,\n                           random_state=75)',
  'GaussianNB(var_smoothing=1e-08)',
  'LogisticRegression(max_iter=50000, random_state=75, tol=5.993308915320019)',
  'GaussianNB()',
  'GaussianNB()',
  'GradientBoostingClassifier(n_estimators=122, random_state=75)',
  'GaussianNB()',
  'GaussianNB(var_smoothing=1e-12)',
  'GaussianNB(var_smoothing=1e-12)'],
 ['["R_Women\'s Featherweight_rank", \'loss_dif\', \'R_avg_SUB_ATT\', \'lose_streak_dif\', \'B_avg_SIG_STR_landed\', \'better_rank\', \'B_win_by_Decision_Split\', "B_Women\'s Flyweight_rank", \'B_Middleweight_rank\', \'country\', \'R_avg_SIG_STR_landed\', \'B_Flyweight_rank\', \'R_Light Heavyweight_rank\', \'R_Middleweight_rank\', \'R_wins\', \'R_avg_SIG_STR_pct\', "R_Women\'s Flyweight_rank", \'R_avg_TD_landed\', \'B_longest_win_streak\', \'B_Lightweight_rank\', \'avg_sub_att_dif\', \'R_win_by_Decision_Split\', \'R_Flyweight_rank\', \'B_Welterweight_rank\', \'R_Heavyweight_rank\', \'R_current_win_streak\', \'B_Light Heavyweight_rank\', \'win_streak_dif\', \'R_win_by_TKO_Doctor_Stoppage\', \'B_current_win_streak\', \'age_dif\', \'B_win_by_Decision_Majority\', \'R_odds\', \'R_current_lose_streak\', \'R_Reach_cms\', \'B_draw\', \'total_round_dif\', \'R_ev\', \'B_ev\']',
  '[\'R_Featherweight_rank\', \'R_Welterweight_rank\', \'B_Light Heavyweight_rank\', \'R_current_lose_streak\', \'weight_class\', \'R_win_by_Decision_Majority\', "B_Women\'s Featherweight_rank", \'B_Flyweight_rank\', "B_Women\'s Bantamweight_rank", \'B_draw\', \'empty_arena\', "R_Women\'s Featherweight_rank", \'B_Lightweight_rank\', \'B_wins\', "B_Women\'s Flyweight_rank", "B_Women\'s Strawweight_rank", \'B_Bantamweight_rank\', \'R_Reach_cms\', \'B_win_by_Decision_Unanimous\', \'height_dif\', \'B_avg_TD_pct\', \'constant_1\']',
  '[\'B_current_lose_streak\', \'avg_sub_att_dif\', \'B_Middleweight_rank\', \'R_current_win_streak\', \'total_round_dif\', \'B_avg_SUB_ATT\', \'B_avg_SIG_STR_landed\', \'age_dif\', \'B_Light Heavyweight_rank\', \'R_avg_TD_pct\', \'R_ev\', "B_Women\'s Flyweight_rank", "B_Women\'s Strawweight_rank", \'B_Bantamweight_rank\', \'R_Reach_cms\', \'B_win_by_Decision_Unanimous\', \'constant_1\']',
  "['B_Welterweight_rank', 'B_total_title_bouts', 'R_avg_TD_pct', 'B_Bantamweight_rank', 'R_Featherweight_rank', 'no_of_rounds', 'B_draw', 'B_Stance', 'R_win_by_TKO_Doctor_Stoppage', 'R_current_win_streak', 'B_avg_SIG_STR_landed', 'country']",
  "['B_Weight_lbs', 'B_Reach_cms', 'R_avg_TD_pct', 'win_streak_dif', 'B_Light Heavyweight_rank', 'B_Lightweight_rank', 'R_avg_TD_landed', 'R_Middleweight_rank', 'total_round_dif', 'R_Height_cms', 'R_avg_SIG_STR_pct', 'B_age', 'R_longest_win_streak', 'R_win_by_Decision_Majority', 'longest_win_streak_dif', 'avg_sub_att_dif', 'R_Weight_lbs', 'sig_str_dif', 'B_Height_cms', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'B_draw', 'avg_td_dif', 'R_win_by_Decision_Split', 'age_dif', 'R_odds']",
  "['B_win_by_Decision_Majority', 'B_win_by_TKO_Doctor_Stoppage', 'R_win_by_Decision_Majority', 'R_odds', 'R_current_lose_streak', 'R_Reach_cms', 'B_draw', 'total_round_dif', 'R_ev', 'B_ev']",
  "['R_win_by_Decision_Unanimous', 'B_win_by_Submission', 'R_Weight_lbs', 'sig_str_dif', 'B_Height_cms', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'height_dif', 'B_draw', 'avg_td_dif', 'R_win_by_Decision_Split', 'age_dif', 'B_current_win_streak', 'R_odds']",
  "['R_longest_win_streak', 'longest_win_streak_dif', 'reach_dif', 'avg_sub_att_dif', 'R_win_by_Decision_Unanimous', 'B_win_by_Submission', 'R_Weight_lbs', 'sig_str_dif', 'B_Height_cms', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'height_dif', 'B_draw', 'avg_td_dif', 'R_win_by_Decision_Split', 'age_dif', 'B_current_win_streak', 'R_odds']",
  "['B_current_win_streak', 'R_win_by_Submission', 'B_win_by_Decision_Unanimous', 'R_win_by_Decision_Unanimous', 'R_current_lose_streak', 'B_win_by_TKO_Doctor_Stoppage', 'win_dif', 'B_win_by_Decision_Split', 'B_wins', 'R_Stance', 'B_age', 'B_Weight_lbs', 'R_ev', 'B_total_rounds_fought', 'location', 'R_odds', 'R_Reach_cms', 'R_Weight_lbs', 'R_current_win_streak', 'R_age', 'empty_arena', 'R_win_by_Decision_Split', 'R_draw', 'lose_streak_dif', 'B_draw']",
  "['R_Reach_cms', 'total_round_dif', 'R_Height_cms', 'R_avg_SIG_STR_pct', 'B_age', 'R_longest_win_streak', 'lose_streak_dif', 'ko_dif', 'R_win_by_Decision_Majority', 'longest_win_streak_dif', 'avg_sub_att_dif', 'R_Weight_lbs', 'sig_str_dif', 'B_Height_cms', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'B_draw', 'avg_td_dif', 'R_win_by_Decision_Split', 'age_dif', 'B_current_win_streak', 'R_odds']",
  "['win_streak_dif', 'B_Light Heavyweight_rank', 'B_Lightweight_rank', 'R_avg_TD_landed', 'R_Middleweight_rank', 'total_round_dif', 'R_Height_cms', 'R_avg_SIG_STR_pct', 'B_age', 'R_longest_win_streak', 'lose_streak_dif', 'R_win_by_Decision_Majority', 'longest_win_streak_dif', 'avg_sub_att_dif', 'R_Weight_lbs', 'sig_str_dif', 'B_Height_cms', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'B_draw', 'avg_td_dif', 'R_win_by_Decision_Split', 'age_dif', 'R_odds']",
  "['B_Weight_lbs', 'B_Flyweight_rank', 'B_avg_TD_landed', 'B_Light Heavyweight_rank', 'B_Lightweight_rank', 'R_avg_TD_landed', 'R_Middleweight_rank', 'R_Height_cms', 'R_avg_SIG_STR_pct', 'B_age', 'R_longest_win_streak', 'lose_streak_dif', 'R_win_by_Decision_Majority', 'longest_win_streak_dif', 'avg_sub_att_dif', 'sig_str_dif', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'B_draw', 'R_win_by_Decision_Split', 'age_dif', 'R_odds']"],
 ['4', '69', '1', '11', '0', '0', '0', '0', '0', '1', '3', '2'],
 ['508.89457024082856',
  '-560.134250884872',
  '1597.4770547929672',
  '618.8267504806089',
  '1802.236773467206',
  '77.71618393',
  '1269.609788',
  '1475.010313',
  '950.3768293',
  '1095.567294',
  '1818.056262',
  '1591.63623']]